Node-RED/brewIoT.json
[{"id":"33da373d.5734f8","type":"tab","label":"Control Panel","disabled":false,"info":""},{"id":"9654cd3b.d7df3","type":"tab","label":"Brewer MGMT","disabled":false,"info":""},{"id":"6e461598.2334cc","type":"tab","label":"Stocker MGMT","disabled":false,"info":""},{"id":"816faef3.78a4e","type":"tab","label":"Recipy MGMT","disabled":false,"info":""},{"id":"9ab4edc6.7c99f","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"8866ebf.9fd2b18","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"eb70a2db.e5dff8","type":"ui_group","name":"Room 1","tab":"3aed93c1.a8e7ec","order":1,"disp":true,"width":24,"collapse":false},{"id":"fabfe973.03c8c8","type":"ui_group","name":"Sensor 2","tab":"3d7d59e1.c8a1b6","order":5,"disp":true,"width":"24","collapse":false},{"id":"add7fae1.4829e8","type":"amqp-server","host":"localhost","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"useca":false,"ca":"","usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}","prefetch":false,"prefetchvalue":"1","prefetchack":false,"prefetchvalueack":"10"},{"id":"64ca876e.d398d","type":"ui_group","name":"Temperature1","tab":"3d7d59e1.c8a1b6","order":3,"disp":true,"width":"8","collapse":false},{"id":"fdb48cc9.da934","type":"ui_group","name":"Battery1","tab":"3d7d59e1.c8a1b6","order":2,"disp":true,"width":"8","collapse":false},{"id":"660c9234.76adf4","type":"ui_group","name":"Humidity1","tab":"3d7d59e1.c8a1b6","order":4,"disp":true,"width":"8","collapse":false},{"id":"1d57995e.6e59f7","type":"ui_group","name":"Battery2","tab":"3d7d59e1.c8a1b6","order":6,"disp":true,"width":"8","collapse":false},{"id":"5ee1d637.ebe958","type":"ui_group","name":"Humidity2","tab":"3d7d59e1.c8a1b6","order":8,"disp":true,"width":"8","collapse":false},{"id":"b12e57cd.073348","type":"ui_group","name":"Temperature2","tab":"3d7d59e1.c8a1b6","order":7,"disp":true,"width":"8","collapse":false},{"id":"3d7d59e1.c8a1b6","type":"ui_tab","name":"Project","icon":"dashboard","order":1,"disabled":true,"hidden":true},{"id":"f6329b2.5726a68","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#09906a","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#09906a","edited":true},"page-titlebar-backgroundColor":{"value":"#09906a","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#0ed89f","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#09906a","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3aed93c1.a8e7ec","type":"ui_tab","name":"Fabrizio Project","icon":"dashboard","disabled":false,"hidden":false},{"id":"ea134a41.ff0398","type":"ui_group","name":"Room 2","tab":"3aed93c1.a8e7ec","order":2,"disp":true,"width":24,"collapse":false},{"id":"b750acbb.e73dc8","type":"mqtt-broker","name":"Mosquitto Secure","broker":"test.mosquitto.org","port":"8884","tls":"3a3db2.fb47724e","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"3a3db2.fb47724e","type":"tls-config","name":"BrewIoT Configuration","cert":"","key":"","ca":"","certname":"brewmaster.crt","keyname":"brewmaster.key","caname":"ca.crt","servername":"","verifyservercert":false},{"id":"7abbd8be.96ef48","type":"mqtt-broker","name":"Eclipse MQTT","broker":"mqtt.eclipseprojects.io","port":"8883","tls":"3a3db2.fb47724e","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7a31b44a.817b5c","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"ca.crt","servername":"manjarus","verifyservercert":true},{"id":"f2f232fc.93d1b","type":"mqtt-broker","name":"Mosquitto local","broker":"192.168.2.18","port":"8883","tls":"7a31b44a.817b5c","clientid":"node-red","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fc5cc88.36b6938","type":"openhab2-controller2","d":true,"name":"openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"58688f35.f0489","type":"openhab2-controller2","d":true,"name":"openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"98bac39e.969d1","type":"openhab2-controller2","d":true,"name":"openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"bf56beff.49cd7","type":"openhab2-controller2","d":true,"name":"openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"77026ea2.64fdc","type":"openhab2-controller2","d":true,"name":"openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"3e38b1ed.99d24e","type":"openhab2-controller2","d":true,"name":"openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"88b21f83.89169","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"35b4d507.468b3a","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a891c82b.862678","type":"ui_tab","name":"Fabrizio Project","icon":"dashboard","disabled":false,"hidden":false},{"id":"79d3f3ca.736cbc","type":"ui_group","name":"Room 2","tab":"a891c82b.862678","order":2,"disp":true,"width":24,"collapse":false},{"id":"ceed863f.90bd38","type":"openhab2-controller2","name":"OpenHab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"2569fd25.8a3cf2","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"4a030343.c4181c","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c5424754.8bdad8","type":"ui_tab","name":"Fabrizio Project","icon":"dashboard","disabled":false,"hidden":false},{"id":"6b5269c8.bb8228","type":"ui_group","name":"Room 2","tab":"c5424754.8bdad8","order":2,"disp":true,"width":24,"collapse":false},{"id":"4b7173cb.76a30c","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"2e98c41e.49036c","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"863813c8.1cf5c","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"5be733e7.33795c","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"d0a0781b.2dcd08","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"34f5d11.0d5792e","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"13eebd80.eff432","type":"tls-config","name":"","cert":"","key":"","ca":"/etc/mosquitto/ca_certificates/ca.crt","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"2a15ac76.3e73b4","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"d4ff8dda.34022","type":"openhab2-controller2","name":"Openahab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"8e5b10e1.d441","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"4e768e2a.56063","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"c6686c0c.c4bd1","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"68fbc1c2.61d3f","type":"openhab2-controller2","name":"openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"a005101d.8dcff","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"d7a0f83e.e4fa68","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"1f43dad2.acce45","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"59361f24.517d5","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"57d0c223.f2792c","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"734c66fb.e22cc8","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"6cd08091.2b9bb","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"36129b80.6b7834","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"e342dd76.c074b","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"26a8cfe8.cb1e2","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"edbc0a50.bf3868","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"c5f998.a1ed2668","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"601bc71b.6468f8","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"d8ca1370.4f71","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"e32158b7.fe7fa8","type":"mqtt-broker","name":"Locale","broker":"localhost","port":"8883","tls":"13eebd80.eff432","clientid":"10","usetls":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"644332bf.ec862c","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"localhost","port":"8080","path":"","username":"","password":"","ohversion":"v2"},{"id":"7163d3ec.9290bc","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"573d7884.e3e938","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"59c5aaff.dc5fa4","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"f030a5fd.a0b128","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3"},{"id":"b443dc3b.b8cc1","type":"influxdb","d":true,"hostname":"127.0.0.1","port":"8086","protocol":"http","database":"PROVA","name":"PROVA","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"af0de3d7.4e622","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"PROVA","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"c229e9b3.0d8db8","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"test","name":"test","usetls":true,"tls":"d50d0c9f.31e858","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"aa1c538e.c6c24","type":"mqtt out","z":"33da373d.5734f8","name":"Temp Observe","topic":"cmd/br/0/3303/0/5700/observe","qos":"1","retain":"false","broker":"4a030343.c4181c","x":400,"y":1020,"wires":[]},{"id":"84ebb3da.378ff","type":"inject","z":"33da373d.5734f8","name":"On","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"v\":\"ON\"}","payloadType":"json","x":170,"y":1000,"wires":[["aa1c538e.c6c24"]]},{"id":"7a9990a9.6235b","type":"inject","z":"33da373d.5734f8","name":"Off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"v\":\"OFF\"}","payloadType":"json","x":170,"y":1040,"wires":[["aa1c538e.c6c24"]]},{"id":"3adda18a.251e0e","type":"mqtt in","z":"33da373d.5734f8","name":"Read responses","topic":"resp/brewIoT/br/0/#","qos":"0","datatype":"json","broker":"4a030343.c4181c","x":1020,"y":920,"wires":[["44e7fc0a.02f204"]]},{"id":"44e7fc0a.02f204","type":"debug","z":"33da373d.5734f8","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":920,"wires":[]},{"id":"17536ed3.bac541","type":"mqtt out","z":"33da373d.5734f8","name":"Hum Observe","topic":"cmd/st/0/3304/0/5700/observe","qos":"1","retain":"false","broker":"4a030343.c4181c","x":400,"y":1120,"wires":[]},{"id":"12587684.c74289","type":"inject","z":"33da373d.5734f8","name":"On","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"v\":\"ON\"}","payloadType":"json","x":170,"y":1100,"wires":[["17536ed3.bac541"]]},{"id":"eba3e1dd.66523","type":"inject","z":"33da373d.5734f8","name":"Off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"v\":\"OFF\"}","payloadType":"json","x":170,"y":1140,"wires":[["17536ed3.bac541"]]},{"id":"5f0d474e.8e4c58","type":"mqtt out","z":"33da373d.5734f8","name":"Fire Observe","topic":"cmd/brewIoT/st/0/503/0/5700/observe","qos":"1","retain":"false","broker":"4a030343.c4181c","x":390,"y":1220,"wires":[]},{"id":"44deb7e1.9bb7a8","type":"inject","z":"33da373d.5734f8","name":"On","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"v\":\"ON\"}","payloadType":"json","x":170,"y":1200,"wires":[["5f0d474e.8e4c58"]]},{"id":"85ea193c.eddeb8","type":"inject","z":"33da373d.5734f8","name":"Off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"v\":\"OFF\"}","payloadType":"json","x":170,"y":1240,"wires":[["5f0d474e.8e4c58"]]},{"id":"3c42fbfb.b02834","type":"mqtt out","z":"33da373d.5734f8","name":"Light Observe","topic":"cmd/st/0/3301/0/5700/observe","qos":"1","retain":"false","broker":"4a030343.c4181c","x":400,"y":920,"wires":[]},{"id":"4886f7e3.140cf8","type":"inject","z":"33da373d.5734f8","name":"On","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"v\":\"ON\"}","payloadType":"json","x":170,"y":900,"wires":[["3c42fbfb.b02834"]]},{"id":"1e9dced5.9553a1","type":"inject","z":"33da373d.5734f8","name":"Off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"v\":\"OFF\"}","payloadType":"json","x":170,"y":940,"wires":[["3c42fbfb.b02834"]]},{"id":"9ccbd596.04c378","type":"inject","z":"33da373d.5734f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":615,"y":920,"wires":[["9a71800d.fb6d2"]],"l":false},{"id":"d6938ca9.b51a3","type":"inject","z":"33da373d.5734f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":615,"y":1020,"wires":[["fe2086f4.39c018"]],"l":false},{"id":"82f19591.d0e1c8","type":"inject","z":"33da373d.5734f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":615,"y":1120,"wires":[["28744099.2274a"]],"l":false},{"id":"1e4ab495.32c4bb","type":"inject","z":"33da373d.5734f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":615,"y":1220,"wires":[["ef0bf272.cfb28"]],"l":false},{"id":"9a71800d.fb6d2","type":"mqtt out","z":"33da373d.5734f8","name":"Request Light","topic":"cmd/st/0/3301/0/5700","qos":"0","retain":"false","broker":"4a030343.c4181c","x":740,"y":920,"wires":[]},{"id":"fe2086f4.39c018","type":"mqtt out","z":"33da373d.5734f8","name":"Request Temp","topic":"cmd/br/0/3303/0/5700","qos":"0","retain":"false","broker":"4a030343.c4181c","x":740,"y":1020,"wires":[]},{"id":"28744099.2274a","type":"mqtt out","z":"33da373d.5734f8","name":"Request Hum","topic":"cmd/st/0/3304/0/5700","qos":"0","retain":"false","broker":"4a030343.c4181c","x":740,"y":1120,"wires":[]},{"id":"ef0bf272.cfb28","type":"mqtt out","z":"33da373d.5734f8","name":"Request Fire","topic":"cmd/st/0/503/0/5700","qos":"0","retain":"false","broker":"4a030343.c4181c","x":730,"y":1220,"wires":[]},{"id":"28c1dfe0.535b8","type":"mqtt in","z":"9654cd3b.d7df3","name":"Data from Brewer","topic":"data/br/+/+/+/5700","qos":"0","datatype":"json","broker":"b750acbb.e73dc8","x":120,"y":360,"wires":[["867cf483.e6f888"]]},{"id":"867cf483.e6f888","type":"function","z":"9654cd3b.d7df3","name":"","func":"const topic = msg.topic;\nlet array = topic.split('/');\n\nlet device = array[2];\nlet sensor = array[3];\nlet object = array[4];\n\nlet formattedValue = Math.round(msg.payload.v*100)/100;\n/* Valutare se togliere il sensorType dall'insieme di\n * valori che vengono inoltrati nei nodi successivi\n */\nlet value1 = {\n            payload: {\n                value: formattedValue,\n                devInstance : device,\n                sensorType  : sensor\n            }\n}\nlet value2 = {\n            payload: {\n                time: msg.payload.tstamp,\n                value: formattedValue,\n                devInstance: device,\n                sensorType:  sensor,\n                objInstance: object\n            }\n};\n\nreturn [value1, value2];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":255,"y":360,"wires":[["2673d7b7.dac768","e73fc1ec.04fbb"],["49b35bfa.e661a4"]],"outputLabels":["temperature","payload"],"icon":"node-red/switch.svg","l":false},{"id":"a9165e0f.ad2df","type":"comment","z":"9654cd3b.d7df3","name":"DownFlow","info":"Il flow sottostante serve a caricare i file dentro il DB InfluxDB","x":240,"y":400,"wires":[]},{"id":"54e56af7.caca54","type":"comment","z":"9654cd3b.d7df3","name":"UpFlow","info":"Il flow in alto serve a gestire le soglie della sensore e, inoltre, ad inviare il valore su OpenHab","x":250,"y":320,"wires":[]},{"id":"2673d7b7.dac768","type":"function","z":"9654cd3b.d7df3","name":"Temperature Thresholds check","func":"// Qui riprendiamo i valori dal nodo precedente.\nlet device = msg.payload.devInstance;\nlet sensor = msg.payload.sensorType;\nlet value = msg.payload.value;\n\n/* Se riceviamo questo valore, allora il sensore ha avuto\n   un malfunzionamento, quindi scartiamo il risultato */\nif(value == -127){\n    return;\n}\n/* Qui andiamo a recuperare le soglie stabilite per il\n * nostro sensore\n */\nlet minValue = global.get(\"brewer_\"+device+\"_minTemp\");\nlet maxValue = global.get(\"brewer_\"+device+\"_maxTemp\");\n\nif(minValue === undefined){\n    minValue = 16;\n}\nif(maxValue === undefined){\n    maxValue = 26;\n}\nlet avg = (minValue + maxValue)/2;\n\n\n/* Recuperiamo i valori della cintura riscaldante e creiamo\n * il msg per il controllo della stessa. L'ID del WiFi relay\n * correlato alla scheda ESP è uguale all'ID della scheda \n * ESP + 1.\n */\nlet beltDevice = device+1;\nlet beltVariable = \"brewer_\"+beltDevice+\"_belt\";\nlet beltStatus = flow.get(beltVariable);\nif(beltStatus === undefined){\n    beltStatus = false;\n    flow.set(beltVariable, beltStatus);\n}\nlet beltControl={\n    topic: \"cmd/br/\"+beltDevice+\"/3306/0/5850\",\n    payload: \"\"\n};\n\n\n/* Qui invece gestiamo i valori del led d'allarme */\nlet ledVariable = \"brewer_\"+device+\"_tempAlarm\";\nlet ledStatus = flow.get(ledVariable);\nif(ledStatus === undefined){\n    ledStatus = false;\n    flow.set(ledVariable, ledStatus);\n}\nlet ledControl={\n    topic: \"cmd/br/\"+device+\"/3311/0/5850\",\n    payload: \"\"\n};\n\nif(value<minValue){\n    /* Abbiamo rilevato una temperatura che è minore di\n     * quella minima accettabile, quindi dobbiamo far partire\n     * la cintura riscaldante (a meno che non sia già partita)\n     */\n    if(!beltStatus){\n        beltControl.payload = {\n            value: \"ON\"\n        };\n    }\n    else{\n        // La cintura è già attiva.\n        beltControl = null;\n    }\n    if(!ledStatus){\n        ledControl.payload = {\n            v: \"ON\"\n        };\n        flow.set(\"brewer_\"+device+\"_tempAlarm\",true);\n    }\n    else ledControl = null;\n    \n}\nelse if(value>maxValue){\n    /* La cisterna è troppo calda. Dobbiamo far \n     * partire l'allarme\n     */\n    beltControl = null;\n    if(!ledStatus){\n        // L'allarme non è attivo\n        ledControl.payload = {\n            v: \"ON\"\n        };\n        flow.set(\"brewer_\"+device+\"_tempAlarm\",true);\n    }\n    else ledControl = null;\n}\nelse if(value>=minValue && value < maxValue){\n    /* Se siamo qui, la temperatura é a posto. */\n    if(value>=avg){\n        /* La temperatura ha superato la media di valori \n         * ammessi. Se c'era una cintura accesa in precedenza\n         * ora è il momento di spegnerla\n         */\n        if(beltStatus){\n            beltControl.payload = {\n                value: \"OFF\"\n            };\n        }\n        else beltControl = null;\n    }\n    if(ledStatus){\n        /* Se c'era un allarme attivo, ora è il momento di\n           spegnerlo */\n        ledControl.payload = {\n            v: \"OFF\",\n        };\n        flow.set(\"brewer_\"+device+\"_tempAlarm\",false)\n    }\n    else ledControl = null;\n}\n\nreturn [beltControl,ledControl];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":530,"y":200,"wires":[["9e468996.f63ae8"],["a30be4d7.893518"]],"outputLabels":["BELT_CONTROL","LED_CONTROL"]},{"id":"737f3404.5fe0cc","type":"function","z":"816faef3.78a4e","name":"Recipy Configuration","func":"// Qui dentro scriveremo i vari dati delle ricette.\n\nglobal.set(\"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Il codice qui dentro viene fatto partire automaticamente,\n// ogni volta che ","finalize":"","x":320,"y":200,"wires":[[]]},{"id":"9e468996.f63ae8","type":"mqtt out","z":"9654cd3b.d7df3","name":"Send to belt","topic":"","qos":"2","retain":"false","broker":"b750acbb.e73dc8","x":810,"y":160,"wires":[]},{"id":"79c4a12a.810f6","type":"mqtt in","z":"9654cd3b.d7df3","name":"Response from Sonoff","topic":"resp/br/+/3306/+/5850","qos":"1","datatype":"json","broker":"b750acbb.e73dc8","x":140,"y":580,"wires":[["1cc77df7.6d85a2"]]},{"id":"1cc77df7.6d85a2","type":"function","z":"9654cd3b.d7df3","name":"Update belt status","func":"const topic = msg.topic;\nlet array = topic.split('/');\n\nlet device = array[2];\n\nlet beltVariable = \"brewer_\"+device+\"_belt\";\nlet result = false;\nif(msg.payload.v == \"ON\")\n    result = true;\n/*\n * Salviamo lo stato della cintura riscaldante in una\n * variabile con visibilità \"flow\", in modo da essere poi\n * leggibile da altri nodi nello stesso flow.\n */\nflow.set(beltVariable, result);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":370,"y":580,"wires":[]},{"id":"e8c5db1b.a3a4a8","type":"mqtt in","z":"6e461598.2334cc","name":"Data from Stocker","topic":"data/st/+/+/+/5700","qos":"1","datatype":"json","broker":"b750acbb.e73dc8","x":170,"y":360,"wires":[["ff081f8.d4c9be"]]},{"id":"ff081f8.d4c9be","type":"function","z":"6e461598.2334cc","name":"MUX","func":"const topic = msg.topic;\nlet array = topic.split('/');\n\nlet device = array[2];\nlet sensor = array[3];\nlet object = array[4];\n\nlet formattedValue = Math.round(msg.payload.v*100)/100;\nlet tempVal=null, humVal=null, lightVal=null, fireVal= null;\n\nswitch(sensor){\n    case \"503\": \n        fireVal = {\n            payload: {\n                time: msg.payload.tstamp,\n                value: formattedValue,\n                dev: device,\n                objInstance: object\n            }\n        }; break;\n    case \"3301\": \n        lightVal = {\n            payload: {\n                time: msg.payload.tstamp,\n                value: formattedValue,\n                dev: device,\n                objInstance: object\n            }\n        };break;\n    case \"3303\":\n        tempVal = {\n            payload: {\n                time: msg.payload.tstamp,\n                value: formattedValue,\n                dev: device,\n                objInstance: object\n            }\n        };break;\n    case \"3304\": \n        humVal = {\n            payload: {\n                time: msg.payload.tstamp,\n                value: formattedValue,\n                dev: device,\n                objInstance: object\n            }\n        };break;\n    default: break;\n}\n\nreturn [tempVal, humVal, lightVal, fireVal];\n","outputs":4,"noerr":0,"initialize":"","finalize":"","x":330,"y":360,"wires":[["966e9695.a8fbe8"],["d867613a.37cb4"],["a15f37df.0c6f48"],["3c57268b.a2428a"]],"outputLabels":["Temperature","Humidity","Light","Fire"],"icon":"node-red/switch.svg"},{"id":"d301cc68.96c86","type":"comment","z":"33da373d.5734f8","name":"STOCKER","info":"","x":620,"y":40,"wires":[]},{"id":"966e9695.a8fbe8","type":"function","z":"6e461598.2334cc","name":"Handle Temperature","func":"let value=msg.payload.value;\nlet dev = msg.payload.dev;\nlet obj = msg.payload.objInstance;\nlet timestamp = msg.payload.timestamp;\n\n/* Se riceviamo questo valore, allora il sensore ha avuto\n   un malfunzionamento, quindi scartiamo il risultato */\nif(value == -127){\n    return;\n}\n//Qui recuperiamo il precedente valore d'allarme\nconst tempAlarm=\"stocker_\"+dev+\"_temp_\"+obj;\nlet alarm = flow.get(tempAlarm);\n\n//Questa è la soglia definita nel Recipy MGMT\nlet maxTemp=global.get(\"stocker_max_temp\");\nlet minTemp=global.get(\"stocker_min_temp\");\n/* se non c'è alcuna customizzazione sulla soglia di\n     * umidità, allora impostiamo il valore di default.\n     */\nif(maxTemp === undefined){\n    maxTemp = 26;\n}\nif(minTemp === undefined){\n    minTemp = 4;\n}\n/* Questo if viene eseguito solo la prima volta, per\n * inizializzare la variable */\nif(alarm === undefined){\n    alarm = false;\n    flow.set(tempAlarm, false);\n}\n\nlet mqttMessage = {\n    topic: \"cmd/st/\"+dev+\"/3311/0/5850\",\n    payload: \"\"\n};\n\nif(((value < maxTemp) && (value > minTemp)) && alarm){\n    // temperatura a posto, ma c'è un allarme attivo\n    mqttMessage.payload = {\"v\":\"OFF\"};\n    flow.set(tempAlarm, false);\n}\nelse if((value >= maxTemp) && !alarm){\n    // alta temperatura rilevata, ma nessun allarme attivo\n    mqttMessage.payload = {\"v\":\"ON\"};\n    flow.set(tempAlarm, true);\n}\nelse if((value <= minTemp) && !alarm){\n    // bassa temperatura rilevata, ma nessun allarme attivo\n    mqttMessage.payload = {\"v\":\"ON\"};\n    flow.set(tempAlarm, true);\n}\nelse{\n    // In questo caso non dobbiamo fare nula\n    mqttMessage = null;\n}\n\nreturn [msg, mqttMessage];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":580,"y":100,"wires":[["102566bf.f36579"],["b1c231c9.7f682"]]},{"id":"d867613a.37cb4","type":"function","z":"6e461598.2334cc","name":"Handle Humidity","func":"let value=msg.payload.value;\nlet dev = msg.payload.dev;\nlet obj = msg.payload.objInstance;\nlet timestamp = new Date().getTime();\n\n/* Se riceviamo questo valore, allora il sensore ha avuto\n   un malfunzionamento, quindi scartiamo il risultato */\nif(value == 100){\n    return;\n}\n//Qui recuperiamo il precedente valore d'allarme\nconst humidityAlarm=\"stocker_\"+dev+\"_humidity_\"+obj;\nlet alarm = flow.get(humidityAlarm);\n\n//Questa è la soglia definita nel Recipy MGMT\nlet maxHumidity=global.get(\"stocker_max_humidity\");\nif(maxHumidity === undefined){\n    /* se non c'è alcuna customizzazione sulla soglia di\n     * umidità, allora impostiamo il valore di default.\n     */\n    maxHumidity = 50;\n}\n/* Questo if viene eseguito solo la prima volta, per\n * inizializzare la variable */\nif(alarm === undefined){\n    alarm = false;\n    flow.set(humidityAlarm, false);\n}\nlet mqttMessage = {\n    topic: \"cmd/st/\"+dev+\"/3311/1/5850\",\n    payload: \"\"\n};\n\nif((value < maxHumidity) && alarm){\n    // umidità posto, ma c'è un allarme attivo\n    mqttMessage.payload = {\"v\":\"OFF\"};\n    flow.set(humidityAlarm, false);\n}\nelse if((value >= maxHumidity) && !alarm){\n    // alta umidità rilevata, ma nessun allarme attivo\n    mqttMessage.payload = {\"v\":\"ON\"};\n    flow.set(humidityAlarm, true);\n}\nelse{\n    // In questo caso non dobbiamo fare nula\n    mqttMessage = null;\n}\n\nreturn [msg, mqttMessage];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":660,"y":260,"wires":[["295c8fce.16a44"],["795f91fe.02ecb"]]},{"id":"a15f37df.0c6f48","type":"function","z":"6e461598.2334cc","name":"Handle Light","func":"let value=msg.payload.value;\nlet dev = msg.payload.dev;\nlet obj = msg.payload.objInstance;\nlet timestamp = msg.payload.timestamp;\n\n/* Se riceviamo questo valore, allora il sensore ha avuto\n   un malfunzionamento, quindi scartiamo il risultato */\nif(value == 100){\n    return;\n}\n//Qui recuperiamo il precedente valore d'allarme\nconst lightAlarm=\"stocker_\"+dev+\"_light_\"+obj;\nlet alarm = flow.get(lightAlarm);\n\n//Questa è la soglia definita nel Recipy MGMT\nlet maxLight=global.get(\"stocker_max_light\");\nif(maxLight === undefined){\n    /* se non c'è alcuna customizzazione sulla soglia di luce\n     * allora impostiamo il valore di default.\n     */\n    maxLight = 50;\n}\n/* Questo if viene eseguito solo la prima volta, per\n * inizializzare la variable */\nif(alarm === undefined){\n    alarm = false;\n    flow.set(lightAlarm, false);\n}\nlet mqttMessage = {\n    topic: \"cmd/st/\"+dev+\"/3311/2/5850\",\n    payload: \"\"\n};\n\nif((value < maxLight) && alarm){\n    // la luce è a posto, ma c'è un allarme attivo\n    mqttMessage.payload = {\"v\":\"OFF\"};\n    flow.set(lightAlarm, false);\n}\nelse if((value >= maxLight)&& !alarm){\n    // luce intensa rilevata, ma nessun allarme attivo\n    mqttMessage.payload = {\"v\":\"ON\"};\n    flow.set(lightAlarm, true);\n}\nelse{\n    // In questo caso non dobbiamo fare nula\n    mqttMessage = null;\n}\n\nreturn [msg, mqttMessage];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":650,"y":460,"wires":[["c5a63abd.00cfe8"],["2c051faa.c1ec8"]]},{"id":"3c57268b.a2428a","type":"function","z":"6e461598.2334cc","name":"Handle Fire","func":"let result=true;\nlet dev = msg.payload.dev;\nlet obj = msg.payload.objInstance;\nlet fireAlarm=\"stocker_\"+dev+\"_fire_\"+obj;\nlet alarm = flow.get(fireAlarm);\n\n\n/* Questo if viene eseguito solo la prima volta, per\n * inizializzare la variable */\nif(alarm === undefined){\n    alarm = false;\n    flow.set(fireAlarm, false);\n}\n\nif(msg.payload.value == 1){\n    // non è stata rilevata alcuna fiamma.\n    result= false;\n    //flow.set(fireVariable, false);\n}\n\nmsg.payload = {\n    result: result,\n    dev: dev,\n    obj: obj,\n    timestamp : msg.payload.timestamp\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":640,"wires":[["3f966745.fcdac8","abe4eb8f.1faf88"]]},{"id":"3f966745.fcdac8","type":"function","z":"6e461598.2334cc","name":"Fire Alarm Control","func":"let dev=msg.payload.dev;\nlet obj=msg.payload.obj;\n\nconst fireVariable= \"stocker_\"+dev+\"_fire_\"+obj;\nlet alarm = flow.get(fireVariable);\n\n// Qui creiamo il topic\nmsg.topic=\"cmd/st/\"+dev+\"/3311/3/5850\";\n\n\n/* Ora andiamo a verificare se l'allarme va acceso o spento,\n * in base al risultato del sensore e alla variable flow salvata\n * in precedenza. Se entrambi i valori sono negativi, allora l'\n * allarme è spento e rimane spento, quindi non facciamo nulla.\n * Se entrambi i valori sono positivi, allora l'allarme è attivo\n * e rimane attivo, quindi non facciamo nulla. Se i due valori\n * sono contrastanti, allora l'allarme va acceso oppure spento\n */\nlet result=msg.payload.result;\n\nif(result && !alarm){\n    // Fuoco rilevato, ma allarme spento\n    flow.set(fireVariable, true);\n    msg.payload={\"v\":\"ON\"};\n}\nelse if(!result && alarm){\n    // Fuoco non rilevato, ma allarme attivo\n    flow.set(fireVariable, false);\n    msg.payload={\"v\":\"OFF\"};\n}\nelse{\n    //Altrimenti non mandiamo nulla.\n    msg = null;\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":660,"wires":[["531770a2.59499"]]},{"id":"531770a2.59499","type":"mqtt out","z":"6e461598.2334cc","name":"Send Fire Alarm","topic":"","qos":"2","retain":"true","broker":"b750acbb.e73dc8","x":1020,"y":660,"wires":[]},{"id":"abe4eb8f.1faf88","type":"change","z":"6e461598.2334cc","name":"OpenHab format","rules":[{"t":"change","p":"payload.result","pt":"msg","from":"true","fromt":"bool","to":"true","tot":"str"},{"t":"change","p":"payload.result","pt":"msg","from":"false","fromt":"bool","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":620,"wires":[["b299c389.c8e9b"]]},{"id":"2c051faa.c1ec8","type":"mqtt out","z":"6e461598.2334cc","name":"Send Light Alarm","topic":"","qos":"2","retain":"true","broker":"b750acbb.e73dc8","x":950,"y":480,"wires":[]},{"id":"795f91fe.02ecb","type":"mqtt out","z":"6e461598.2334cc","name":"Send Humidity Alarm","topic":"","qos":"2","retain":"true","broker":"b750acbb.e73dc8","x":940,"y":300,"wires":[]},{"id":"b1c231c9.7f682","type":"mqtt out","z":"6e461598.2334cc","name":"Send Temperature Alarm","topic":"","qos":"2","retain":"true","broker":"b750acbb.e73dc8","x":990,"y":120,"wires":[]},{"id":"a30be4d7.893518","type":"mqtt out","z":"9654cd3b.d7df3","name":"Send to led","topic":"","qos":"2","retain":"true","broker":"b750acbb.e73dc8","x":810,"y":240,"wires":[]},{"id":"e73fc1ec.04fbb","type":"switch","z":"9654cd3b.d7df3","name":"Switch Brewer","property":"payload.devInstance","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"10","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":320,"wires":[["656bc61a.14af28"],["75ef209e.d0031"]]},{"id":"a89b45d9.b5ea38","type":"openhab2-out2","z":"9654cd3b.d7df3","name":"Temperature Brewer 2","controller":"2e98c41e.49036c","itemname":"temperatureBewer1","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":780,"y":340,"wires":[]},{"id":"102566bf.f36579","type":"change","z":"6e461598.2334cc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":835,"y":80,"wires":[["d6573075.858f6"]],"l":false},{"id":"b299c389.c8e9b","type":"change","z":"6e461598.2334cc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.result","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":875,"y":620,"wires":[["c300decc.d05cd"]],"l":false},{"id":"295c8fce.16a44","type":"change","z":"6e461598.2334cc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":815,"y":260,"wires":[["2ba46c71.7f3a74"]],"l":false},{"id":"c5a63abd.00cfe8","type":"change","z":"6e461598.2334cc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":795,"y":440,"wires":[["8eed4ee6.adead"]],"l":false},{"id":"d6573075.858f6","type":"openhab2-out2","z":"6e461598.2334cc","name":"Temperature Stocker","controller":"d4ff8dda.34022","itemname":"temperaturestocker","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":1000,"y":80,"wires":[]},{"id":"2ba46c71.7f3a74","type":"openhab2-out2","z":"6e461598.2334cc","name":"Humidity Stocker","controller":"8e5b10e1.d441","itemname":"humidityStocker","topic":"","payload":"","onlywhenchanged":false,"x":950,"y":260,"wires":[]},{"id":"8eed4ee6.adead","type":"openhab2-out2","z":"6e461598.2334cc","name":"Light Stocker","controller":"4e768e2a.56063","itemname":"lightSensor","topic":"","payload":"","onlywhenchanged":false,"x":970,"y":440,"wires":[]},{"id":"c300decc.d05cd","type":"openhab2-out2","z":"6e461598.2334cc","name":"Fire Alarm Stocker","controller":"c6686c0c.c4bd1","itemname":"fireSensor","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":1010,"y":620,"wires":[]},{"id":"273f94d6.7d04dc","type":"mqtt out","z":"33da373d.5734f8","name":"Request Light","topic":"cmd/st/0/3301/0/5700","qos":"0","retain":"false","broker":"4a030343.c4181c","x":1040,"y":240,"wires":[]},{"id":"304305a9.c8383a","type":"mqtt out","z":"33da373d.5734f8","name":"Request Temp","topic":"cmd/st/0/3303/0/5700","qos":"0","retain":"false","broker":"4a030343.c4181c","x":1040,"y":120,"wires":[]},{"id":"506d625.ef92f9c","type":"mqtt out","z":"33da373d.5734f8","name":"Request Hum","topic":"cmd/st/0/3304/0/5700","qos":"0","retain":"false","broker":"4a030343.c4181c","x":1040,"y":180,"wires":[]},{"id":"93d2a94d.9aee18","type":"mqtt out","z":"33da373d.5734f8","name":"Request Fire","topic":"cmd/st/0/503/0/5700","qos":"0","retain":"false","broker":"4a030343.c4181c","x":1030,"y":300,"wires":[]},{"id":"b3b9844b.27a748","type":"openhab2-in2","z":"33da373d.5734f8","name":"Light Update Stocker","controller":"d7a0f83e.e4fa68","itemname":"LightUpdateStocker","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":760,"y":240,"wires":[["273f94d6.7d04dc"]]},{"id":"3c999a3a.a8b4a6","type":"openhab2-in2","z":"33da373d.5734f8","name":"Temperature Update Stocker","controller":"1f43dad2.acce45","itemname":"TemperatureUpdateStocker","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":780,"y":120,"wires":[["304305a9.c8383a"]]},{"id":"f97446ec.aec9b8","type":"openhab2-in2","z":"33da373d.5734f8","name":"Humidity Update Stocker","controller":"59361f24.517d5","itemname":"HumidityUpdateStocker","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":770,"y":180,"wires":[["506d625.ef92f9c"]]},{"id":"fd30995.6d9c068","type":"openhab2-in2","z":"33da373d.5734f8","name":"Fire Update Stocker","controller":"57d0c223.f2792c","itemname":"FireUpdateStocker","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":750,"y":300,"wires":[["93d2a94d.9aee18"]]},{"id":"285ab7be.d2ac68","type":"openhab2-in2","z":"33da373d.5734f8","name":"Temperature Observe","controller":"734c66fb.e22cc8","itemname":"TemperatureObserve","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":160,"y":120,"wires":[["494ab6de.3cebb8"]]},{"id":"494ab6de.3cebb8","type":"mqtt out","z":"33da373d.5734f8","name":"Temp Observe","topic":"cmd/st/0/3303/0/5700/observe","qos":"1","retain":"true","broker":"4a030343.c4181c","x":460,"y":120,"wires":[]},{"id":"e0ff8103.fe627","type":"mqtt out","z":"33da373d.5734f8","name":"Hum Observe","topic":"cmd/st/0/3304/0/5700/observe","qos":"1","retain":"true","broker":"4a030343.c4181c","x":460,"y":180,"wires":[]},{"id":"5c9237ea.f21768","type":"mqtt out","z":"33da373d.5734f8","name":"Light Observe","topic":"cmd/st/0/3301/0/5700/observe","qos":"1","retain":"true","broker":"4a030343.c4181c","x":460,"y":240,"wires":[]},{"id":"b975780a.77ac08","type":"mqtt out","z":"33da373d.5734f8","name":"Fire Observe","topic":"cmd/st/0/503/0/5700/observe","qos":"1","retain":"true","broker":"4a030343.c4181c","x":450,"y":300,"wires":[]},{"id":"4667d947.bb6118","type":"openhab2-in2","z":"33da373d.5734f8","name":"Humidity Observe","controller":"6cd08091.2b9bb","itemname":"HumidityObserve","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":150,"y":180,"wires":[["e0ff8103.fe627"]]},{"id":"e529a434.91cc18","type":"openhab2-in2","z":"33da373d.5734f8","name":"Light Observe","controller":"36129b80.6b7834","itemname":"LightObserve","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":130,"y":240,"wires":[["5c9237ea.f21768"]]},{"id":"7e7e3dba.e1a464","type":"openhab2-in2","z":"33da373d.5734f8","name":"Fire Observe","controller":"e342dd76.c074b","itemname":"FireObserve","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":130,"y":300,"wires":[["b975780a.77ac08"]]},{"id":"49b35bfa.e661a4","type":"debug","z":"9654cd3b.d7df3","d":true,"name":"INFLUENZADB","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":480,"wires":[]},{"id":"479a918a.b1e05","type":"comment","z":"33da373d.5734f8","name":"BREWER 1","info":"","x":630,"y":420,"wires":[]},{"id":"8e03f500.c66ce8","type":"comment","z":"33da373d.5734f8","name":"BREWER 2","info":"","x":730,"y":660,"wires":[]},{"id":"fce7a26b.005c7","type":"openhab2-in2","z":"33da373d.5734f8","name":"Temperature Observer Brewer 1","controller":"edbc0a50.bf3868","itemname":"TemperatureObserverBrewer0","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":170,"y":500,"wires":[["ef0551e7.2bf75"]]},{"id":"8e0749fa.384868","type":"mqtt out","z":"33da373d.5734f8","name":"Temp Observe Brewer 1","topic":"cmd/br/0/3303/0/5700/observe","qos":"1","retain":"true","broker":"b750acbb.e73dc8","x":590,"y":500,"wires":[]},{"id":"7e7ace19.b5bee","type":"openhab2-in2","z":"33da373d.5734f8","name":"Temperature Update Brewer 1","controller":"c5f998.a1ed2668","itemname":"TemperatureUpdateBrewer0","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":860,"y":500,"wires":[["4080ad62.ba2494"]]},{"id":"4080ad62.ba2494","type":"mqtt out","z":"33da373d.5734f8","name":"Request Temperature Brewer 1","topic":"cmd/br/0/3303/0/5700","qos":"0","retain":"false","broker":"b750acbb.e73dc8","x":1130,"y":500,"wires":[]},{"id":"64dd22b4.e9e01c","type":"openhab2-in2","z":"33da373d.5734f8","name":"Temp Observe Brewer 2","controller":"601bc71b.6468f8","itemname":"TemperatureObserverBrewer1","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":170,"y":720,"wires":[["4877bf59.e170f"]]},{"id":"b7704d26.a4313","type":"mqtt out","z":"33da373d.5734f8","name":"Temp Observe Brewer 2","topic":"cmd/br/10/3303/0/5700/observe","qos":"1","retain":"true","broker":"b750acbb.e73dc8","x":510,"y":720,"wires":[]},{"id":"2eeedbfb.58cc44","type":"openhab2-in2","z":"33da373d.5734f8","name":"Temperature Update Brewer 2","controller":"d8ca1370.4f71","itemname":"TemperatureUpdateBrewer1","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":800,"y":720,"wires":[["808a0a32.a91648"]]},{"id":"808a0a32.a91648","type":"mqtt out","z":"33da373d.5734f8","name":"Request Temperature Brewer 2","topic":"cmd/br/10/3303/0/5700","qos":"0","retain":"false","broker":"b750acbb.e73dc8","x":1110,"y":720,"wires":[]},{"id":"e5283c96.b44c5","type":"mqtt in","z":"9654cd3b.d7df3","name":"Response from Brewers","topic":"resp/br/+/3/+/4","qos":"1","datatype":"json","broker":"b750acbb.e73dc8","x":140,"y":640,"wires":[["2692ba87.3aead6"]]},{"id":"2692ba87.3aead6","type":"function","z":"9654cd3b.d7df3","name":"Alarm status Check","func":"let topic = msg.topic;\nlet array = topic.split('/');\nlet device = array[2];\nlet object = array[3];\nlet objInstance = array[4];\nlet resource = array[5];\nlet result = null;\n\nif(object==\"3\" && resource==\"4\") {\n    /* Stiamo ricevendo un responso di reboot da una delle due\n    schede */\n    let value = msg.payload.v;\n    if(value == \"rebooted\" ) {\n        let ledVariable = \"brewer_\"+device+\"_tempAlarm\";\n        flow.set(ledVariable, false);\n        result = {\n            payload : {\n                devInstance: device,\n                value: \"ON\"\n            }\n        };\n    }\n} \n\nreturn result;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":640,"wires":[["fce426cc.7ee8e8"]]},{"id":"656bc61a.14af28","type":"change","z":"9654cd3b.d7df3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":635,"y":300,"wires":[["5fa602eb.b383bc"]],"l":false},{"id":"5fa602eb.b383bc","type":"openhab2-out2","z":"9654cd3b.d7df3","name":"Temperature Brewer 1","controller":"573d7884.e3e938","itemname":"temperatureBewer0","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":780,"y":300,"wires":[]},{"id":"75ef209e.d0031","type":"change","z":"9654cd3b.d7df3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":635,"y":340,"wires":[["a89b45d9.b5ea38"]],"l":false},{"id":"ef36ad8b.0ffed","type":"openhab2-out2","z":"9654cd3b.d7df3","name":"Temp Observe 1","controller":"59c5aaff.dc5fa4","itemname":"TemperatureObserverBrewer0","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":800,"y":580,"wires":[]},{"id":"fce426cc.7ee8e8","type":"switch","z":"9654cd3b.d7df3","name":"","property":"payload.devInstance","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"10","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":640,"wires":[["f0b40401.0c5518"],["49e22f6b.a7341"]]},{"id":"c2ede40.ec8a72","type":"openhab2-out2","z":"9654cd3b.d7df3","name":"Temp Observe 2","controller":"f030a5fd.a0b128","itemname":"TemperatureObserverBrewer1","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":800,"y":700,"wires":[]},{"id":"f0b40401.0c5518","type":"change","z":"9654cd3b.d7df3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":655,"y":580,"wires":[["ef36ad8b.0ffed"]],"l":false},{"id":"49e22f6b.a7341","type":"change","z":"9654cd3b.d7df3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":655,"y":700,"wires":[["c2ede40.ec8a72"]],"l":false},{"id":"be668ab.c85d478","type":"debug","z":"33da373d.5734f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":800,"wires":[]},{"id":"ef0551e7.2bf75","type":"function","z":"33da373d.5734f8","name":"","func":"let value = msg.payload;\n\nmsg.payload = {\n    \"v\" : value\n}\n\n//msg.payload = \"\\\"v\\\":\\\"\"+value+\"\\\"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":355,"y":500,"wires":[["8e0749fa.384868","4d9eab21.047124"]],"icon":"node-red/swap.svg","l":false},{"id":"4877bf59.e170f","type":"function","z":"33da373d.5734f8","name":"","func":"let value = msg.payload;\n\nmsg.payload = {\n    \"v\" : value\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":335,"y":720,"wires":[["b7704d26.a4313","be668ab.c85d478"]],"icon":"node-red/swap.svg","l":false},{"id":"72bf85ac.27b1ec","type":"mqtt out","z":"33da373d.5734f8","name":"Temp Observe","topic":"cmd/br/10/3303/0/5700/observe","qos":"1","retain":"false","broker":"4a030343.c4181c","x":680,"y":1480,"wires":[]},{"id":"94b5395d.658868","type":"inject","z":"33da373d.5734f8","name":"On","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"v\":\"ON\"}","payloadType":"json","x":450,"y":1460,"wires":[["72bf85ac.27b1ec"]]},{"id":"4902fb5e.c76614","type":"inject","z":"33da373d.5734f8","name":"Off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"v\":\"OFF\"}","payloadType":"json","x":450,"y":1500,"wires":[["72bf85ac.27b1ec"]]},{"id":"4d9eab21.047124","type":"debug","z":"33da373d.5734f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":580,"wires":[]}]
