Node-RED/brewIoT.json
[{"id":"b8afa040.258dc","type":"tab","label":"Control Panel","disabled":false,"info":""},{"id":"40fe0bb7.fdd5fc","type":"tab","label":"Brewer MGMT","disabled":false,"info":""},{"id":"7624d33f.89afa4","type":"tab","label":"Stocker MGMT","disabled":false,"info":""},{"id":"fb62d058.60ae4","type":"tab","label":"Recipy MGMT","disabled":false,"info":""},{"id":"eb70a2db.e5dff8","type":"ui_group","name":"Sensor ","tab":"3d7d59e1.c8a1b6","order":1,"disp":true,"width":"24","collapse":false},{"id":"fabfe973.03c8c8","type":"ui_group","name":"Sensor","tab":"3d7d59e1.c8a1b6","order":5,"disp":true,"width":"24","collapse":false},{"id":"64ca876e.d398d","type":"ui_group","name":"Temperature1","tab":"3d7d59e1.c8a1b6","order":3,"disp":true,"width":"8","collapse":false},{"id":"fdb48cc9.da934","type":"ui_group","name":"Battery1","tab":"3d7d59e1.c8a1b6","order":2,"disp":true,"width":"8","collapse":false},{"id":"660c9234.76adf4","type":"ui_group","name":"Humidity1","tab":"3d7d59e1.c8a1b6","order":4,"disp":true,"width":"8","collapse":false},{"id":"1d57995e.6e59f7","type":"ui_group","name":"Battery2","tab":"3d7d59e1.c8a1b6","order":6,"disp":true,"width":"8","collapse":false},{"id":"5ee1d637.ebe958","type":"ui_group","name":"Humidity2","tab":"3d7d59e1.c8a1b6","order":8,"disp":true,"width":"8","collapse":false},{"id":"b12e57cd.073348","type":"ui_group","name":"Temperature2","tab":"3d7d59e1.c8a1b6","order":7,"disp":true,"width":"8","collapse":false},{"id":"3d7d59e1.c8a1b6","type":"ui_tab","name":"Project","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"2c1bb9a4.50a83e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ad1cf099.28def","type":"influxdb","d":true,"hostname":"127.0.0.1","port":"8086","protocol":"http","database":"PROVA","name":"PROVA","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"b750acbb.e73dc8","type":"mqtt-broker","name":"Broker","broker":"broker.hivemq.com","port":"1883","tls":"c656faed.f9e1","clientid":"","usetls":false,"protocolVersion":"5","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b3b7d5e1.546838","type":"openhab2-controller2","d":true,"name":"openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"9689f8a1.af8ea","type":"openhab2-controller2","d":true,"name":"openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"c710f566.06a22","type":"openhab2-controller2","d":true,"name":"openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"bceeeef.93a889","type":"openhab2-controller2","d":true,"name":"openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"a55bff94.e1293","type":"openhab2-controller2","d":true,"name":"openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"e0d3e3b9.b06108","type":"openhab2-controller2","d":true,"name":"openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"a8c81c6f.42e8f","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"656348db.ce3088","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6eb1f835.b5465","type":"ui_tab","name":"Fabrizio Project","icon":"dashboard","disabled":false,"hidden":false},{"id":"17bb07b8.1fcdc8","type":"ui_group","name":"Room 2","tab":"6eb1f835.b5465","order":2,"disp":true,"width":24,"collapse":false},{"id":"f990419e.8647e8","type":"openhab2-controller2","name":"OpenHab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"25c95450.a03ef4","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"9c7379d4.e349b","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dc443c02.7786c","type":"ui_tab","name":"Fabrizio Project","icon":"dashboard","disabled":false,"hidden":false},{"id":"85190e56.ffb55","type":"ui_group","name":"Room 2","tab":"dc443c02.7786c","order":2,"disp":true,"width":24,"collapse":false},{"id":"54c7ec01.1d1e74","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"63b5dcf7.63216c","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"f3cd2a9e.2c85e","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"PROVA","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"bbc00b36.5dcb3","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"f468cf7.e8c3b3","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"c65975e3.dd7a5","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"c60e9113.2de5e","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"c656faed.f9e1","type":"tls-config","name":"","cert":"","key":"","ca":"/etc/mosquitto/ca_certificates/ca.crt","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"17152e84.ca1949","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"384a8f2.cd230f","type":"openhab2-controller2","name":"Openahab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"8dda9d82.4c2f08","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"30e45d17.1f780a","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"604e5b41.711244","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"bd8ec58b.323038","type":"openhab2-controller2","name":"openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"cf98f55b.1e9668","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"733e0cc1.39346c","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"95304c91.80ff28","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"4626691e.915a08","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"aed2604e.6e6ec","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"cb634289.bcb9a","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"b446d3ca.ff77c","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"fecef82c.f22498","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"c89b6e0c.c22ec","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"eeb221fb.ab27f","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"test","name":"test","usetls":true,"tls":"d50d0c9f.31e858","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"d50d0c9f.31e858","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"94405174.05461","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"b397479b.b29288","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"a099a6cb.7b8b18","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"5946f3d2.fc4e2c","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"c4b81c7f.970d88","type":"mqtt-broker","name":"Locale","broker":"localhost","port":"8883","tls":"c656faed.f9e1","clientid":"10","usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"49288c41.ac3864","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"localhost","port":"8080","path":"","username":"","password":"","ohversion":"v2","token":""},{"id":"3d36de12.e94ef2","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"1c907abe.5cfa75","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"81b67dc0.bcbf7","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"140a3056.1a144","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"5eee0ec2.3d0588","type":"mqtt out","z":"b8afa040.258dc","name":"Temp Observe","topic":"cmd/br/0/3303/0/5700/observe","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c7379d4.e349b","x":400,"y":1020,"wires":[]},{"id":"ec7493e2.2e50f","type":"inject","z":"b8afa040.258dc","name":"On","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"v\":\"ON\"}","payloadType":"json","x":170,"y":1000,"wires":[["5eee0ec2.3d0588"]]},{"id":"4fc37102.0d27f","type":"inject","z":"b8afa040.258dc","name":"Off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"v\":\"OFF\"}","payloadType":"json","x":170,"y":1040,"wires":[["5eee0ec2.3d0588"]]},{"id":"51bd7bcf.169564","type":"mqtt in","z":"b8afa040.258dc","name":"Read responses","topic":"resp/brewIoT/br/0/#","qos":"0","datatype":"json","broker":"9c7379d4.e349b","x":1020,"y":920,"wires":[["84770d2f.7de598"]]},{"id":"84770d2f.7de598","type":"debug","z":"b8afa040.258dc","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":920,"wires":[]},{"id":"6b8f0da7.6e3a64","type":"mqtt out","z":"b8afa040.258dc","name":"Hum Observe","topic":"cmd/st/0/3304/0/5700/observe","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c7379d4.e349b","x":400,"y":1120,"wires":[]},{"id":"801981fd.a8d428","type":"inject","z":"b8afa040.258dc","name":"On","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"v\":\"ON\"}","payloadType":"json","x":170,"y":1100,"wires":[["6b8f0da7.6e3a64"]]},{"id":"c6dd955f.e92dd8","type":"inject","z":"b8afa040.258dc","name":"Off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"v\":\"OFF\"}","payloadType":"json","x":170,"y":1140,"wires":[["6b8f0da7.6e3a64"]]},{"id":"4407ddc9.5611e4","type":"mqtt out","z":"b8afa040.258dc","name":"Fire Observe","topic":"cmd/brewIoT/st/0/503/0/5700/observe","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c7379d4.e349b","x":390,"y":1220,"wires":[]},{"id":"4ca4aec3.8717c","type":"inject","z":"b8afa040.258dc","name":"On","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"v\":\"ON\"}","payloadType":"json","x":170,"y":1200,"wires":[["4407ddc9.5611e4"]]},{"id":"7c58522.37fcdac","type":"inject","z":"b8afa040.258dc","name":"Off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"v\":\"OFF\"}","payloadType":"json","x":170,"y":1240,"wires":[["4407ddc9.5611e4"]]},{"id":"57d13a8b.c40af4","type":"mqtt out","z":"b8afa040.258dc","name":"Light Observe","topic":"cmd/st/0/3301/0/5700/observe","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c7379d4.e349b","x":400,"y":920,"wires":[]},{"id":"df405531.3c13e","type":"inject","z":"b8afa040.258dc","name":"On","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"v\":\"ON\"}","payloadType":"json","x":170,"y":900,"wires":[["57d13a8b.c40af4"]]},{"id":"ec502330.58f9d8","type":"inject","z":"b8afa040.258dc","name":"Off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"v\":\"OFF\"}","payloadType":"json","x":170,"y":940,"wires":[["57d13a8b.c40af4"]]},{"id":"3b4f1967.925016","type":"inject","z":"b8afa040.258dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":615,"y":920,"wires":[["781a453f.af3b9c"]],"l":false},{"id":"24f87367.33ff34","type":"inject","z":"b8afa040.258dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":615,"y":1020,"wires":[["ef286fec.bc528"]],"l":false},{"id":"25b139c5.08acfe","type":"inject","z":"b8afa040.258dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":615,"y":1120,"wires":[["17ab2f5b.a7b3a1"]],"l":false},{"id":"3c264767.476be","type":"inject","z":"b8afa040.258dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":615,"y":1220,"wires":[["2d7b566c.26f02a"]],"l":false},{"id":"781a453f.af3b9c","type":"mqtt out","z":"b8afa040.258dc","name":"Request Light","topic":"cmd/st/0/3301/0/5700","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c7379d4.e349b","x":740,"y":920,"wires":[]},{"id":"ef286fec.bc528","type":"mqtt out","z":"b8afa040.258dc","name":"Request Temp","topic":"cmd/br/0/3303/0/5700","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c7379d4.e349b","x":740,"y":1020,"wires":[]},{"id":"17ab2f5b.a7b3a1","type":"mqtt out","z":"b8afa040.258dc","name":"Request Hum","topic":"cmd/st/0/3304/0/5700","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c7379d4.e349b","x":740,"y":1120,"wires":[]},{"id":"2d7b566c.26f02a","type":"mqtt out","z":"b8afa040.258dc","name":"Request Fire","topic":"cmd/st/0/503/0/5700","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c7379d4.e349b","x":730,"y":1220,"wires":[]},{"id":"293e7019.e58a4","type":"mqtt in","z":"40fe0bb7.fdd5fc","name":"Data from Brewer","topic":"data/br/+/+/+/5700","qos":"1","datatype":"json","broker":"b750acbb.e73dc8","nl":false,"rap":false,"rh":"0","x":120,"y":360,"wires":[["c08465ea.2cce88"]]},{"id":"c08465ea.2cce88","type":"function","z":"40fe0bb7.fdd5fc","name":"","func":"const topic = msg.topic;\nlet array = topic.split('/');\n\nlet device = array[2];\nlet sensor = array[3];\nlet object = array[4];\n\n/* Valutare se togliere il sensorType dall'insieme di\n * valori che vengono inoltrati nei nodi successivi\n */\nlet value1 = {\n            payload: {\n                value: parseFloat(msg.payload.v),\n                devInstance : device,\n                sensorType  : sensor\n            }\n}\nlet value2 = {\n            payload: {\n                time: msg.payload.tstamp,\n                value: parseFloat(msg.payload.v),\n                devInstance: device,\n                sensorType:  sensor,\n                objInstance: object\n            }\n};\n\nreturn [value1, value2];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":255,"y":360,"wires":[["615de156.b4898","bd6aa80f.54cb9"],["f950adbc.c25d48"]],"outputLabels":["temperature","payload"],"icon":"node-red/switch.svg","l":false},{"id":"7ad2b939.254f","type":"comment","z":"40fe0bb7.fdd5fc","name":"DownFlow","info":"Il flow sottostante serve a caricare i file dentro il DB InfluxDB","x":240,"y":400,"wires":[]},{"id":"4fb753c0.829944","type":"comment","z":"40fe0bb7.fdd5fc","name":"UpFlow","info":"Il flow in alto serve a gestire le soglie della sensore e, inoltre, ad inviare il valore su OpenHab","x":250,"y":320,"wires":[]},{"id":"615de156.b4898","type":"function","z":"40fe0bb7.fdd5fc","name":"Temperature Thresholds check","func":"// Qui riprendiamo i valori dal nodo precedente.\nlet device = msg.payload.devInstance;\nlet sensor = msg.payload.sensorType;\nlet value = msg.payload.value;\n\n\n/* Qui andiamo a recuperare le soglie stabilite per il\n * nostro sensore\n */\nlet minValue = global.get(\"brewer_\"+device+\"_minTemp\");\nlet maxValue = global.get(\"brewer_\"+device+\"_maxTemp\");\n\nif(minValue === undefined){\n    minValue = 16;\n}\nif(maxValue === undefined){\n    maxValue = 26;\n}\nlet avg = (minValue + maxValue)/2;\n\n\n/* Recuperiamo i valori della cintura riscaldante e creiamo\n * il msg per il controllo della stessa. L'ID del WiFi relay\n * correlato alla scheda ESP è uguale all'ID della scheda \n * ESP + 1.\n */\nlet beltDevice = device+1;\nlet beltVariable = \"brewer_\"+beltDevice+\"_belt\";\nlet beltStatus = flow.get(beltVariable);\nif(beltStatus === undefined){\n    beltStatus = false;\n    flow.set(beltVariable, beltStatus);\n}\nlet beltControl={\n    topic: \"cmd/br/\"+beltDevice+\"/3306/0/5850\",\n    payload: \"\"\n};\n\n\n/* Qui invece gestiamo i valori del led d'allarme */\nlet ledVariable = \"brewer_\"+device+\"_tempAlarm\";\nlet ledStatus = flow.get(ledVariable);\nif(ledStatus === undefined){\n    ledStatus = false;\n    flow.set(ledVariable, ledStatus);\n}\nlet ledControl={\n    topic: \"cmd/br/\"+device+\"/3311/0/5850\",\n    payload: \"\"\n};\n\nif(value<minValue){\n    /* Abbiamo rilevato una temperatura che è minore di\n     * quella minima accettabile, quindi dobbiamo far partire\n     * la cintura riscaldante (a meno che non sia già partita)\n     */\n    if(!beltStatus){\n        beltControl.payload = {\n            value: \"ON\"\n        };\n    }\n    else{\n        // La cintura è già attiva.\n        beltControl = null;\n    }\n    if(!ledStatus){\n        ledControl.payload = {\n            v: \"ON\"\n        };\n        flow.set(\"brewer_\"+device+\"_tempAlarm\",true);\n    }\n    else ledControl = null;\n    \n}\nelse if(value>maxValue){\n    /* La cisterna è troppo calda. Dobbiamo far \n     * partire l'allarme\n     */\n    beltControl = null;\n    if(!ledStatus){\n        // L'allarme non è attivo\n        ledControl.payload = {\n            v: \"ON\"\n        };\n        flow.set(\"brewer_\"+device+\"_tempAlarm\",true);\n    }\n    else ledControl = null;\n}\nelse if(value>=minValue && value < maxValue){\n    /* Se siamo qui, la temperatura é a posto. */\n    if(value>=avg){\n        /* La temperatura ha superato la media di valori \n         * ammessi. Se c'era una cintura accesa in precedenza\n         * ora è il momento di spegnerla\n         */\n        if(beltStatus){\n            beltControl.payload = {\n                value: \"OFF\"\n            };\n        }\n        else beltControl = null;\n    }\n    if(ledStatus){\n        /* Se c'era un allarme attivo, ora è il momento di\n           spegnerlo */\n        ledControl.payload = {\n            v: \"OFF\",\n        };\n        flow.set(\"brewer_\"+device+\"_tempAlarm\",false)\n    }\n    else ledControl = null;\n}\n\nreturn [beltControl,ledControl];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":240,"wires":[["caaf8bd4.29fcc8"],["75390bbe.5932e4"]],"outputLabels":["BELT_CONTROL","LED_CONTROL"]},{"id":"f31fa9f2.7d189","type":"function","z":"fb62d058.60ae4","name":"Recipy Configuration","func":"// Qui dentro scriveremo i vari dati delle ricette.\n\nglobal.set(\"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Il codice qui dentro viene fatto partire automaticamente,\n// ogni volta che ","finalize":"","libs":[],"x":320,"y":200,"wires":[[]]},{"id":"caaf8bd4.29fcc8","type":"mqtt out","z":"40fe0bb7.fdd5fc","name":"Send to belt","topic":"","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":790,"y":200,"wires":[]},{"id":"a30ae3ef.a010d8","type":"mqtt in","z":"40fe0bb7.fdd5fc","name":"Response from Sonoff","topic":"resp/br/+/3306/+/5850","qos":"1","datatype":"json","broker":"b750acbb.e73dc8","nl":false,"rap":false,"rh":"0","x":240,"y":140,"wires":[["18007380.90009d"]]},{"id":"18007380.90009d","type":"function","z":"40fe0bb7.fdd5fc","name":"Update belt status","func":"const topic = msg.topic;\nlet array = topic.split('/');\n\nlet device = array[2];\n\nlet beltVariable = \"brewer_\"+device+\"_belt\";\nlet result = false;\nif(msg.payload.v == \"ON\")\n    result = true;\n/*\n * Salviamo lo stato della cintura riscaldante in una\n * variabile con visibilità \"flow\", in modo da essere poi\n * leggibile da altri nodi nello stesso flow.\n */\nflow.set(beltVariable, result);","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":140,"wires":[]},{"id":"e6e7b603.baeb2","type":"mqtt in","z":"7624d33f.89afa4","name":"Data from Stocker","topic":"data/st/+/+/+/5700","qos":"1","datatype":"json","broker":"b750acbb.e73dc8","nl":false,"rap":false,"rh":"0","x":170,"y":320,"wires":[["dce9b617.7eded"]]},{"id":"dce9b617.7eded","type":"function","z":"7624d33f.89afa4","name":"MUX","func":"const topic = msg.topic;\nlet array = topic.split('/');\n\nlet device = array[2];\nlet sensor = array[3];\nlet object = array[4];\n\nlet tempVal=null, humVal=null, lightVal=null, fireVal= null;\n\nswitch(sensor){\n    case \"503\": \n        fireVal = {\n            payload: {\n                time: msg.payload.tstamp,\n                value: msg.payload.v,\n                dev: device,\n                objInstance: object\n            }\n        }; break;\n    case \"3301\": \n        lightVal = {\n            payload: {\n                time: msg.payload.tstamp,\n                value: msg.payload.v,\n                dev: device,\n                objInstance: object\n            }\n        };break;\n    case \"3303\":\n        tempVal = {\n            payload: {\n                time: msg.payload.tstamp,\n                value: msg.payload.v,\n                dev: device,\n                objInstance: object\n            }\n        };break;\n    case \"3304\": \n        humVal = {\n            payload: {\n                time: msg.payload.tstamp,\n                value: msg.payload.v,\n                dev: device,\n                objInstance: object\n            }\n        };break;\n    default: break;\n}\n\nreturn [tempVal, humVal, lightVal, fireVal];\n","outputs":4,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":320,"wires":[["52d52577.f35734"],["da61c9c7.f7851"],["3dd5873c.08a068"],["91982746.fe4db8"]],"outputLabels":["Temperature","Humidity","Light","Fire"],"icon":"node-red/switch.svg"},{"id":"f149baae.eefb4","type":"comment","z":"b8afa040.258dc","name":"STOCKER","info":"","x":620,"y":40,"wires":[]},{"id":"52d52577.f35734","type":"function","z":"7624d33f.89afa4","name":"Handle Temperature","func":"let value=msg.payload.value;\nlet dev = msg.payload.dev;\nlet obj = msg.payload.objInstance;\nlet timestamp = msg.payload.timestamp;\n\n\n//Qui recuperiamo il precedente valore d'allarme\nconst tempAlarm=\"stocker_\"+dev+\"_temp_\"+obj;\nlet alarm = flow.get(tempAlarm);\n\n//Questa è la soglia definita nel Recipy MGMT\nlet maxTemp=global.get(\"stocker_max_temp\");\nlet minTemp=global.get(\"stocker_min_temp\");\n/* se non c'è alcuna customizzazione sulla soglia di\n     * umidità, allora impostiamo il valore di default.\n     */\nif(maxTemp === undefined){\n    maxTemp = 26;\n}\nif(minTemp === undefined){\n    minTemp = 4;\n}\n/* Questo if viene eseguito solo la prima volta, per\n * inizializzare la variable */\nif(alarm === undefined){\n    alarm = false;\n    flow.set(tempAlarm, false);\n}\n\nlet mqttMessage = {\n    topic: \"cmd/st/\"+dev+\"/3311/0/5850\",\n    payload: \"\"\n};\n\nif(((value < maxTemp) && (value > minTemp)) && alarm){\n    // temperatura a posto, ma c'è un allarme attivo\n    mqttMessage.payload = {\"v\":\"OFF\"};\n    flow.set(tempAlarm, false);\n}\nelse if((value >= maxTemp) && !alarm){\n    // alta temperatura rilevata, ma nessun allarme attivo\n    mqttMessage.payload = {\"v\":\"ON\"};\n    flow.set(tempAlarm, true);\n}\nelse if((value <= minTemp) && !alarm){\n    // bassa temperatura rilevata, ma nessun allarme attivo\n    mqttMessage.payload = {\"v\":\"ON\"};\n    flow.set(tempAlarm, true);\n}\nelse{\n    // In questo caso non dobbiamo fare nula\n    mqttMessage = null;\n}\n\nreturn [msg, mqttMessage];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":100,"wires":[["62034ee3.646c5"],["12c1cd94.0d72f2"]]},{"id":"da61c9c7.f7851","type":"function","z":"7624d33f.89afa4","name":"Handle Humidity","func":"let value=msg.payload.value;\nlet dev = msg.payload.dev;\nlet obj = msg.payload.objInstance;\nlet timestamp = new Date().getTime();\n\n//Qui recuperiamo il precedente valore d'allarme\nconst humidityAlarm=\"stocker_\"+dev+\"_humidity_\"+obj;\nlet alarm = flow.get(humidityAlarm);\n\n//Questa è la soglia definita nel Recipy MGMT\nlet maxHumidity=global.get(\"stocker_max_humidity\");\nif(maxHumidity === undefined){\n    /* se non c'è alcuna customizzazione sulla soglia di\n     * umidità, allora impostiamo il valore di default.\n     */\n    maxHumidity = 50;\n}\n/* Questo if viene eseguito solo la prima volta, per\n * inizializzare la variable */\nif(alarm === undefined){\n    alarm = false;\n    flow.set(humidityAlarm, false);\n}\nlet mqttMessage = {\n    topic: \"cmd/st/\"+dev+\"/3311/1/5850\",\n    payload: \"\"\n};\n\nif((value < maxHumidity) && alarm){\n    // umidità posto, ma c'è un allarme attivo\n    mqttMessage.payload = {\"v\":\"OFF\"};\n    flow.set(humidityAlarm, false);\n}\nelse if((value >= maxHumidity) && !alarm){\n    // alta umidità rilevata, ma nessun allarme attivo\n    mqttMessage.payload = {\"v\":\"ON\"};\n    flow.set(humidityAlarm, true);\n}\nelse{\n    // In questo caso non dobbiamo fare nula\n    mqttMessage = null;\n}\n\nreturn [msg, mqttMessage];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":300,"wires":[["284dbcda.fb1e54"],["c8bfd0a0.bde4a"]]},{"id":"3dd5873c.08a068","type":"function","z":"7624d33f.89afa4","name":"Handle Light","func":"let value=msg.payload.value;\nlet dev = msg.payload.dev;\nlet obj = msg.payload.objInstance;\nlet timestamp = msg.payload.timestamp;\n\n//Qui recuperiamo il precedente valore d'allarme\nconst lightAlarm=\"stocker_\"+dev+\"_light_\"+obj;\nlet alarm = flow.get(lightAlarm);\n\n//Questa è la soglia definita nel Recipy MGMT\nlet maxLight=global.get(\"stocker_max_light\");\nif(maxLight === undefined){\n    /* se non c'è alcuna customizzazione sulla soglia di luce\n     * allora impostiamo il valore di default.\n     */\n    maxLight = 50;\n}\n/* Questo if viene eseguito solo la prima volta, per\n * inizializzare la variable */\nif(alarm === undefined){\n    alarm = false;\n    flow.set(lightAlarm, false);\n}\nlet mqttMessage = {\n    topic: \"cmd/st/\"+dev+\"/3311/2/5850\",\n    payload: \"\"\n};\n\nif((value < maxLight) && alarm){\n    // la luce è a posto, ma c'è un allarme attivo\n    mqttMessage.payload = {\"v\":\"OFF\"};\n    flow.set(lightAlarm, false);\n}\nelse if((value >= maxLight)&& !alarm){\n    // luce intensa rilevata, ma nessun allarme attivo\n    mqttMessage.payload = {\"v\":\"ON\"};\n    flow.set(lightAlarm, true);\n}\nelse{\n    // In questo caso non dobbiamo fare nula\n    mqttMessage = null;\n}\n\nreturn [msg, mqttMessage];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":440,"wires":[["1854147b.1e0b24"],["bfc5c161.a8e26"]]},{"id":"91982746.fe4db8","type":"function","z":"7624d33f.89afa4","name":"Handle Fire","func":"let result=true;\nlet dev = msg.payload.dev;\nlet obj = msg.payload.objInstance;\nlet fireAlarm=\"stocker_\"+dev+\"_fire_\"+obj;\nlet alarm = flow.get(fireAlarm);\n\n\n/* Questo if viene eseguito solo la prima volta, per\n * inizializzare la variable */\nif(alarm === undefined){\n    alarm = false;\n    flow.set(fireAlarm, false);\n}\n\nif(msg.payload.value == 1){\n    // non è stata rilevata alcuna fiamma.\n    result= false;\n    //flow.set(fireVariable, false);\n}\n\nmsg.payload = {\n    result: result,\n    dev: dev,\n    obj: obj,\n    timestamp : msg.payload.timestamp\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":580,"wires":[["d75ce47c.babd98","ce82d604.94fdd8"]]},{"id":"d75ce47c.babd98","type":"function","z":"7624d33f.89afa4","name":"Fire Alarm Control","func":"let dev=msg.payload.dev;\nlet obj=msg.payload.obj;\n\nconst fireVariable= \"stocker_\"+dev+\"_fire_\"+obj;\nlet alarm = flow.get(fireVariable);\n\n// Qui creiamo il topic\nmsg.topic=\"cmd/st/\"+dev+\"/3311/3/5850\";\n\n\n/* Ora andiamo a verificare se l'allarme va acceso o spento,\n * in base al risultato del sensore e alla variable flow salvata\n * in precedenza. Se entrambi i valori sono negativi, allora l'\n * allarme è spento e rimane spento, quindi non facciamo nulla.\n * Se entrambi i valori sono positivi, allora l'allarme è attivo\n * e rimane attivo, quindi non facciamo nulla. Se i due valori\n * sono contrastanti, allora l'allarme va acceso oppure spento\n */\nlet result=msg.payload.result;\n\nif(result && !alarm){\n    // Fuoco rilevato, ma allarme spento\n    flow.set(fireVariable, true);\n    msg.payload={\"v\":\"ON\"};\n}\nelse if(!result && alarm){\n    // Fuoco non rilevato, ma allarme attivo\n    flow.set(fireVariable, false);\n    msg.payload={\"v\":\"OFF\"};\n}\nelse{\n    //Altrimenti non mandiamo nulla.\n    msg = null;\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":740,"wires":[["dbe623a7.f0abe8"]]},{"id":"dbe623a7.f0abe8","type":"mqtt out","z":"7624d33f.89afa4","name":"Send Fire Alarm","topic":"","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":980,"y":740,"wires":[]},{"id":"ce82d604.94fdd8","type":"change","z":"7624d33f.89afa4","name":"OpenHab format","rules":[{"t":"change","p":"payload.result","pt":"msg","from":"true","fromt":"bool","to":"true","tot":"str"},{"t":"change","p":"payload.result","pt":"msg","from":"false","fromt":"bool","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":680,"wires":[["5e23d683.d6d858"]]},{"id":"bfc5c161.a8e26","type":"mqtt out","z":"7624d33f.89afa4","name":"Send Light Alarm","topic":"","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":930,"y":540,"wires":[]},{"id":"c8bfd0a0.bde4a","type":"mqtt out","z":"7624d33f.89afa4","name":"Send Humidity Alarm","topic":"","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":880,"y":300,"wires":[]},{"id":"12c1cd94.0d72f2","type":"mqtt out","z":"7624d33f.89afa4","name":"Send Temperature Alarm","topic":"","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":910,"y":140,"wires":[]},{"id":"75390bbe.5932e4","type":"mqtt out","z":"40fe0bb7.fdd5fc","name":"Send to led","topic":"","qos":"2","retain":"false","broker":"b750acbb.e73dc8","x":790,"y":260,"wires":[]},{"id":"bd6aa80f.54cb9","type":"switch","z":"40fe0bb7.fdd5fc","name":"Switch Brewer","property":"payload.devInstance","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"10","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":340,"wires":[["81d7a135.2eae78"],["24c7dbfb.10d844"]]},{"id":"3dd9c491.7121b4","type":"openhab2-out2","z":"40fe0bb7.fdd5fc","name":"Temperature Brewer 2","controller":"63b5dcf7.63216c","itemname":"temperatureBewer1","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":1020,"y":420,"wires":[]},{"id":"62034ee3.646c5","type":"change","z":"7624d33f.89afa4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":80,"wires":[["6299bf6e.6293f"]]},{"id":"5e23d683.d6d858","type":"change","z":"7624d33f.89afa4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.result","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":680,"wires":[["a45b2679.0db598"]]},{"id":"284dbcda.fb1e54","type":"change","z":"7624d33f.89afa4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":240,"wires":[["54e1ec86.5db3a4"]]},{"id":"1854147b.1e0b24","type":"change","z":"7624d33f.89afa4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":480,"wires":[["563aad40.c1401c"]]},{"id":"6299bf6e.6293f","type":"openhab2-out2","z":"7624d33f.89afa4","name":"Temperature Stocker","controller":"384a8f2.cd230f","itemname":"temperaturestocker","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":1220,"y":80,"wires":[]},{"id":"54e1ec86.5db3a4","type":"openhab2-out2","z":"7624d33f.89afa4","name":"Humidity Stocker","controller":"8dda9d82.4c2f08","itemname":"humidityStocker","topic":"","payload":"","onlywhenchanged":false,"x":1190,"y":240,"wires":[]},{"id":"563aad40.c1401c","type":"openhab2-out2","z":"7624d33f.89afa4","name":"Light Stocker","controller":"30e45d17.1f780a","itemname":"lightSensor","topic":"","payload":"","onlywhenchanged":false,"x":1180,"y":480,"wires":[]},{"id":"a45b2679.0db598","type":"openhab2-out2","z":"7624d33f.89afa4","name":"Fire Alarm Stocker","controller":"604e5b41.711244","itemname":"fireSensor","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":1190,"y":680,"wires":[]},{"id":"6307a5d8.683d4c","type":"mqtt out","z":"b8afa040.258dc","name":"Request Light","topic":"cmd/st/0/3301/0/5700","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c7379d4.e349b","x":1040,"y":240,"wires":[]},{"id":"4b472e4.38c17d","type":"mqtt out","z":"b8afa040.258dc","name":"Request Temp","topic":"cmd/st/0/3303/0/5700","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c7379d4.e349b","x":1040,"y":120,"wires":[]},{"id":"9693a4db.a150e8","type":"mqtt out","z":"b8afa040.258dc","name":"Request Hum","topic":"cmd/st/0/3304/0/5700","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c7379d4.e349b","x":1040,"y":180,"wires":[]},{"id":"20075277.6f4096","type":"mqtt out","z":"b8afa040.258dc","name":"Request Fire","topic":"cmd/st/0/503/0/5700","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c7379d4.e349b","x":1030,"y":300,"wires":[]},{"id":"ca14b2d7.19999","type":"openhab2-in2","z":"b8afa040.258dc","name":"Light Update Stocker","controller":"733e0cc1.39346c","itemname":"LightUpdateStocker","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":760,"y":240,"wires":[["6307a5d8.683d4c"]]},{"id":"72e772b3.36b8c4","type":"openhab2-in2","z":"b8afa040.258dc","name":"Temperature Update Stocker","controller":"95304c91.80ff28","itemname":"TemperatureUpdateStocker","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":780,"y":120,"wires":[["4b472e4.38c17d"]]},{"id":"f08e6667.fe33f8","type":"openhab2-in2","z":"b8afa040.258dc","name":"Humidity Update Stocker","controller":"4626691e.915a08","itemname":"HumidityUpdateStocker","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":770,"y":180,"wires":[["9693a4db.a150e8"]]},{"id":"45a659cc.226ab8","type":"openhab2-in2","z":"b8afa040.258dc","name":"Fire Update Stocker","controller":"aed2604e.6e6ec","itemname":"FireUpdateStocker","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":750,"y":300,"wires":[["20075277.6f4096"]]},{"id":"f346b9bc.0f7868","type":"openhab2-in2","z":"b8afa040.258dc","name":"Temperature Observe","controller":"cb634289.bcb9a","itemname":"TemperatureObserve","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":160,"y":120,"wires":[["5a3849b2.abf04"]]},{"id":"5a3849b2.abf04","type":"mqtt out","z":"b8afa040.258dc","name":"Temp Observe","topic":"cmd/st/0/3303/0/5700/observe","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c7379d4.e349b","x":460,"y":120,"wires":[]},{"id":"8a3c337f.0b5258","type":"mqtt out","z":"b8afa040.258dc","name":"Hum Observe","topic":"cmd/st/0/3304/0/5700/observe","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c7379d4.e349b","x":460,"y":180,"wires":[]},{"id":"68eba4ec.8783cc","type":"mqtt out","z":"b8afa040.258dc","name":"Light Observe","topic":"cmd/st/0/3301/0/5700/observe","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c7379d4.e349b","x":460,"y":240,"wires":[]},{"id":"fd16f23b.daf2b","type":"mqtt out","z":"b8afa040.258dc","name":"Fire Observe","topic":"cmd/st/0/503/0/5700/observe","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c7379d4.e349b","x":450,"y":300,"wires":[]},{"id":"a343719c.8ea628","type":"openhab2-in2","z":"b8afa040.258dc","name":"Humidity Observe","controller":"b446d3ca.ff77c","itemname":"HumidityObserve","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":150,"y":180,"wires":[["8a3c337f.0b5258"]]},{"id":"f7212b79.344768","type":"openhab2-in2","z":"b8afa040.258dc","name":"Light Observe","controller":"fecef82c.f22498","itemname":"LightObserve","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":130,"y":240,"wires":[["68eba4ec.8783cc"]]},{"id":"d2295995.1fbf88","type":"openhab2-in2","z":"b8afa040.258dc","name":"Fire Observe","controller":"c89b6e0c.c22ec","itemname":"FireObserve","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":130,"y":300,"wires":[["fd16f23b.daf2b"]]},{"id":"875c96b5.296dc8","type":"debug","z":"7624d33f.89afa4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":180,"wires":[]},{"id":"f950adbc.c25d48","type":"debug","z":"40fe0bb7.fdd5fc","d":true,"name":"INFLUENZADB","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":480,"wires":[]},{"id":"34970e93.6e382a","type":"comment","z":"b8afa040.258dc","name":"BREWER 1","info":"","x":630,"y":420,"wires":[]},{"id":"30e73416.e45644","type":"comment","z":"b8afa040.258dc","name":"BREWER 2","info":"","x":730,"y":660,"wires":[]},{"id":"77a6280e.e6d578","type":"openhab2-in2","z":"b8afa040.258dc","name":"Temperature Observer Brewer 1","controller":"94405174.05461","itemname":"TemperatureObserverBrewer0","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":130,"y":500,"wires":[["c7f99f6c.9aa4"]]},{"id":"27449693.6da6ea","type":"mqtt out","z":"b8afa040.258dc","name":"Temp Observe Brewer 1","topic":"cmd/br/0/3303/0/5700/observe","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":590,"y":500,"wires":[]},{"id":"1f684b12.7b7235","type":"openhab2-in2","z":"b8afa040.258dc","name":"Temperature Update Brewer 1","controller":"b397479b.b29288","itemname":"TemperatureUpdateBrewer0","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":860,"y":500,"wires":[[]]},{"id":"31b5fb41.28434c","type":"mqtt out","z":"b8afa040.258dc","name":"Request Temperature Brewer 1","topic":"cmd/br/0/3303/0/5700","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":1230,"y":500,"wires":[]},{"id":"af5ce902.f5f95","type":"openhab2-in2","z":"b8afa040.258dc","name":"Temp Observe Brewer 2","controller":"a099a6cb.7b8b18","itemname":"TemperatureObserverBrewer1","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":170,"y":720,"wires":[["849dd5cb.8f04f"]]},{"id":"5533254.19e2ddc","type":"mqtt out","z":"b8afa040.258dc","name":"Temp Observe Brewer 2","topic":"cmd/br/10/3303/0/5700/observe","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":510,"y":720,"wires":[]},{"id":"9868545.fa1a328","type":"openhab2-in2","z":"b8afa040.258dc","name":"Temperature Update Brewer 2","controller":"5946f3d2.fc4e2c","itemname":"TemperatureUpdateBrewer1","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":800,"y":720,"wires":[["e79dc4cc.eec68"]]},{"id":"e79dc4cc.eec68","type":"mqtt out","z":"b8afa040.258dc","name":"Request Temperature Brewer 2","topic":"cmd/br/10/3303/0/5700","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":1110,"y":720,"wires":[]},{"id":"6e6f88ee.2bf1a8","type":"mqtt in","z":"40fe0bb7.fdd5fc","name":"Response from Brewers","topic":"resp/br/+/3/+/4","qos":"1","datatype":"json","broker":"b750acbb.e73dc8","nl":false,"rap":true,"rh":0,"x":140,"y":640,"wires":[["824e455c.1881c8"]]},{"id":"824e455c.1881c8","type":"function","z":"40fe0bb7.fdd5fc","name":"","func":"let topic = msg.topic;\nlet array = topic.split('/');\nlet device = array[2];\nlet object = array[3];\nlet objInstance = array[4];\nlet resource = array[5];\nlet result = null;\n\nif(object==\"3\" && resource==\"4\") {\n    /* Stiamo ricevendo un responso di reboot da una delle due\n    schede */\n    let value = msg.payload.v;\n    if(value == \"rebooted\" ) {\n        let ledVariable = \"brewer_\"+device+\"_tempAlarm\";\n        flow.set(ledVariable, false);\n        result = {\n            payload : {\n                devInstance: device,\n                value: \"ON\"\n            }\n        };\n    }\n} \n\nreturn result;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":640,"wires":[["50290305.9e0a34"]]},{"id":"97a11eb9.a78b3","type":"debug","z":"40fe0bb7.fdd5fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":740,"wires":[]},{"id":"81d7a135.2eae78","type":"change","z":"40fe0bb7.fdd5fc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":340,"wires":[["1d66d75f.2af881"]]},{"id":"1d66d75f.2af881","type":"openhab2-out2","z":"40fe0bb7.fdd5fc","name":"Temperature Brewer 1","controller":"1c907abe.5cfa75","itemname":"temperatureBewer0","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":1020,"y":340,"wires":[]},{"id":"24c7dbfb.10d844","type":"change","z":"40fe0bb7.fdd5fc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":420,"wires":[["3dd9c491.7121b4"]]},{"id":"42304938.53121","type":"openhab2-out2","z":"40fe0bb7.fdd5fc","name":"Temp Observe 1","controller":"81b67dc0.bcbf7","itemname":"TemperatureObserverBrewer0","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":1060,"y":580,"wires":[]},{"id":"50290305.9e0a34","type":"switch","z":"40fe0bb7.fdd5fc","name":"","property":"payload.devInstance","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"10","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":640,"wires":[["a42ffba3.570488"],["fea5b9eb.1850b"]]},{"id":"1cfeac5a.bf53b4","type":"openhab2-out2","z":"40fe0bb7.fdd5fc","name":"Temp Observe 2","controller":"140a3056.1a144","itemname":"TemperatureObserverBrewer1","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":1080,"y":700,"wires":[]},{"id":"a42ffba3.570488","type":"change","z":"40fe0bb7.fdd5fc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":580,"wires":[["42304938.53121"]]},{"id":"fea5b9eb.1850b","type":"change","z":"40fe0bb7.fdd5fc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":700,"wires":[["1cfeac5a.bf53b4"]]},{"id":"e653da6b.69551","type":"debug","z":"b8afa040.258dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":560,"wires":[]},{"id":"5a9166f8.56e92","type":"debug","z":"b8afa040.258dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":800,"wires":[]},{"id":"c7f99f6c.9aa4","type":"function","z":"b8afa040.258dc","name":"","func":"let value = msg.payload;\n\nmsg.payload = {\n    \"v\" : value\n}\n\n//msg.payload = \"\\\"v\\\":\\\"\"+value+\"\\\"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":325,"y":500,"wires":[["27449693.6da6ea","624f7a1d.fcb0bc"]],"icon":"node-red/swap.svg","l":false},{"id":"849dd5cb.8f04f","type":"function","z":"b8afa040.258dc","name":"","func":"let value = msg.payload;\n\nmsg.payload = {\n    \"v\" : value\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":335,"y":720,"wires":[["5533254.19e2ddc","5a9166f8.56e92"]],"icon":"node-red/swap.svg","l":false},{"id":"9af6c4f8.6918e8","type":"mqtt out","z":"b8afa040.258dc","name":"Temp Observe","topic":"cmd/br/10/3303/0/5700/observe","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9c7379d4.e349b","x":680,"y":1480,"wires":[]},{"id":"754616bc.bd112","type":"inject","z":"b8afa040.258dc","name":"On","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"v\":\"ON\"}","payloadType":"json","x":450,"y":1460,"wires":[["9af6c4f8.6918e8"]]},{"id":"56307b07.c7440c","type":"inject","z":"b8afa040.258dc","name":"Off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"v\":\"OFF\"}","payloadType":"json","x":450,"y":1500,"wires":[["9af6c4f8.6918e8"]]},{"id":"624f7a1d.fcb0bc","type":"debug","z":"b8afa040.258dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":580,"wires":[]}]
