Node-RED/controlPanel.json
[{"id":"2775c3f5.a41fec","type":"tab","label":"Control Panel","disabled":false,"info":""},{"id":"b010fa52.9648a8","type":"comment","z":"2775c3f5.a41fec","name":"STOCKER","info":"","x":620,"y":40,"wires":[]},{"id":"2fbc039.399647c","type":"mqtt out","z":"2775c3f5.a41fec","name":"Request Light","topic":"cmd/st/0/3301/0/5700","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":1040,"y":240,"wires":[]},{"id":"994253da.f6dfa8","type":"mqtt out","z":"2775c3f5.a41fec","name":"Request Temp","topic":"cmd/st/0/3303/0/5700","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":1040,"y":120,"wires":[]},{"id":"d8eeb1e5.f367d","type":"mqtt out","z":"2775c3f5.a41fec","name":"Request Hum","topic":"cmd/st/0/3304/0/5700","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":1040,"y":180,"wires":[]},{"id":"dbe2ba87.f6528","type":"mqtt out","z":"2775c3f5.a41fec","name":"Request Fire","topic":"cmd/st/0/503/0/5700","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":1030,"y":300,"wires":[]},{"id":"fc72d616.4c4cf8","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Light Update Stocker","controller":"dfa31b.5159ece8","itemname":"LightUpdateStocker","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":760,"y":240,"wires":[["2fbc039.399647c"]]},{"id":"6a18b3fe.c15e9c","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Temperature Update Stocker","controller":"dfa31b.5159ece8","itemname":"TemperatureUpdateStocker","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":780,"y":120,"wires":[["994253da.f6dfa8"]]},{"id":"1bfea5a2.92164a","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Humidity Update Stocker","controller":"dfa31b.5159ece8","itemname":"HumidityUpdateStocker","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":770,"y":180,"wires":[["d8eeb1e5.f367d"]]},{"id":"b1bd6ef3.686b2","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Fire Update Stocker","controller":"dfa31b.5159ece8","itemname":"FireUpdateStocker","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":750,"y":300,"wires":[["dbe2ba87.f6528"]]},{"id":"49382c01.7ceaf4","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Temperature Observe","controller":"dfa31b.5159ece8","itemname":"TemperatureObserve","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":160,"y":120,"wires":[["b3e8de1a.3871f8"]]},{"id":"b3e8de1a.3871f8","type":"mqtt out","z":"2775c3f5.a41fec","name":"Temp Observe","topic":"cmd/st/0/3303/0/5700/observe","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":460,"y":120,"wires":[]},{"id":"69ec3a95.4dc964","type":"mqtt out","z":"2775c3f5.a41fec","name":"Hum Observe","topic":"cmd/st/0/3304/0/5700/observe","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":460,"y":180,"wires":[]},{"id":"c3f6a459.dab07","type":"mqtt out","z":"2775c3f5.a41fec","name":"Light Observe","topic":"cmd/st/0/3301/0/5700/observe","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":460,"y":240,"wires":[]},{"id":"b35f718c.2ad96","type":"mqtt out","z":"2775c3f5.a41fec","name":"Fire Observe","topic":"cmd/st/0/503/0/5700/observe","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":450,"y":300,"wires":[]},{"id":"c5e7a235.3d9ee8","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Humidity Observe","controller":"dfa31b.5159ece8","itemname":"HumidityObserve","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":150,"y":180,"wires":[["69ec3a95.4dc964"]]},{"id":"26cc012.de311fe","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Light Observe","controller":"dfa31b.5159ece8","itemname":"LightObserve","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":130,"y":240,"wires":[["c3f6a459.dab07"]]},{"id":"264164d5.859064","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Fire Observe","controller":"dfa31b.5159ece8","itemname":"FireObserve","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":130,"y":300,"wires":[["b35f718c.2ad96"]]},{"id":"794a7221.3c7c7c","type":"comment","z":"2775c3f5.a41fec","name":"BREWER 1","info":"","x":670,"y":520,"wires":[]},{"id":"c09c0930.1cc3f","type":"comment","z":"2775c3f5.a41fec","name":"BREWER 2","info":"","x":730,"y":740,"wires":[]},{"id":"ddc7ddeb.57a808","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Temperature Observer Brewer 1","controller":"dfa31b.5159ece8","itemname":"TemperatureObserverBrewer0","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":170,"y":580,"wires":[["843bbfcc.dc3a4"]]},{"id":"2924cda.c3dceb2","type":"mqtt out","z":"2775c3f5.a41fec","name":"Temp Observe Brewer 1","topic":"cmd/br/0/3303/0/5700/observe","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":590,"y":580,"wires":[]},{"id":"1e14b6cb.bb4949","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Temperature Update Brewer 1","controller":"dfa31b.5159ece8","itemname":"TemperatureUpdateBrewer0","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":900,"y":580,"wires":[["4d521b80.d5d224"]]},{"id":"4d521b80.d5d224","type":"mqtt out","z":"2775c3f5.a41fec","name":"Request Temperature Brewer 1","topic":"cmd/br/0/3303/0/5700","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":1190,"y":580,"wires":[]},{"id":"715cf97.3306408","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Temp Observe Brewer 2","controller":"dfa31b.5159ece8","itemname":"TemperatureObserverBrewer1","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":150,"y":800,"wires":[["fd4960ea.97ace"]]},{"id":"b689e434.62547","type":"mqtt out","z":"2775c3f5.a41fec","name":"Temp Observe Brewer 2","topic":"cmd/br/10/3303/0/5700/observe","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":490,"y":800,"wires":[]},{"id":"85ba0395.1a067","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Temperature Update Brewer 2","controller":"dfa31b.5159ece8","itemname":"TemperatureUpdateBrewer1","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":800,"y":800,"wires":[["a971515e.2933e8"]]},{"id":"a971515e.2933e8","type":"mqtt out","z":"2775c3f5.a41fec","name":"Request Temperature Brewer 2","topic":"cmd/br/10/3303/0/5700","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":1110,"y":800,"wires":[]},{"id":"843bbfcc.dc3a4","type":"function","z":"2775c3f5.a41fec","name":"","func":"let value = msg.payload;\n\nmsg.payload = {\n    \"v\" : value\n}\n\n//msg.payload = \"\\\"v\\\":\\\"\"+value+\"\\\"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":355,"y":580,"wires":[["2924cda.c3dceb2"]],"icon":"node-red/swap.svg","l":false},{"id":"fd4960ea.97ace","type":"function","z":"2775c3f5.a41fec","name":"","func":"let value = msg.payload;\n\nmsg.payload = {\n    \"v\" : value\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":315,"y":800,"wires":[["b689e434.62547"]],"icon":"node-red/swap.svg","l":false},{"id":"793a157d.2c1d8c","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Activate/Deactivate","controller":"dfa31b.5159ece8","itemname":"SwitchStockerControl","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":190,"y":440,"wires":[["5e92fe5d.a055e8"]]},{"id":"ea0d8f79.13b2c8","type":"mqtt out","z":"2775c3f5.a41fec","name":"Send to board","topic":"cmd/st/0/3/0","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":820,"y":440,"wires":[]},{"id":"5e92fe5d.a055e8","type":"function","z":"2775c3f5.a41fec","name":"","func":"msg.payload = {\n    v : msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":440,"wires":[["3c776c00.c0e7ec","ea0d8f79.13b2c8"]]},{"id":"3c776c00.c0e7ec","type":"debug","z":"2775c3f5.a41fec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":400,"wires":[]},{"id":"b750acbb.e73dc8","type":"mqtt-broker","name":"Broker","broker":"broker.hivemq.com","port":"1883","tls":"","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"brm/3/0/11","willQos":"1","willRetain":"true","willPayload":"2","willMsg":{},"sessionExpiry":""},{"id":"dfa31b.5159ece8","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""}]
