Node-RED/controlPanel.json
[{"id":"2775c3f5.a41fec","type":"tab","label":"Control Panel","disabled":false,"info":""},{"id":"885cf68f.8ec58","type":"mqtt out","z":"2775c3f5.a41fec","name":"Temp Observe","topic":"cmd/br/0/3303/0/5700/observe","qos":"1","retain":"false","broker":"5812038d.44df74","x":400,"y":1020,"wires":[]},{"id":"d5d2b258.9b6be","type":"inject","z":"2775c3f5.a41fec","name":"On","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"v\":\"ON\"}","payloadType":"json","x":170,"y":1000,"wires":[["885cf68f.8ec58"]]},{"id":"b067073b.e23af8","type":"inject","z":"2775c3f5.a41fec","name":"Off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"v\":\"OFF\"}","payloadType":"json","x":170,"y":1040,"wires":[["885cf68f.8ec58"]]},{"id":"14d2e7e2.c9fc3","type":"mqtt in","z":"2775c3f5.a41fec","name":"Read responses","topic":"resp/brewIoT/br/0/#","qos":"0","datatype":"json","broker":"5812038d.44df74","x":1020,"y":920,"wires":[["a85e16d7.fc8c4"]]},{"id":"a85e16d7.fc8c4","type":"debug","z":"2775c3f5.a41fec","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":920,"wires":[]},{"id":"3b9a8424.f4689c","type":"mqtt out","z":"2775c3f5.a41fec","name":"Hum Observe","topic":"cmd/st/0/3304/0/5700/observe","qos":"1","retain":"false","broker":"5812038d.44df74","x":400,"y":1120,"wires":[]},{"id":"66320de8.ca8a94","type":"inject","z":"2775c3f5.a41fec","name":"On","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"v\":\"ON\"}","payloadType":"json","x":170,"y":1100,"wires":[["3b9a8424.f4689c"]]},{"id":"fe710b67.75129","type":"inject","z":"2775c3f5.a41fec","name":"Off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"v\":\"OFF\"}","payloadType":"json","x":170,"y":1140,"wires":[["3b9a8424.f4689c"]]},{"id":"9b6d2f04.fde4c","type":"mqtt out","z":"2775c3f5.a41fec","name":"Fire Observe","topic":"cmd/brewIoT/st/0/503/0/5700/observe","qos":"1","retain":"false","broker":"5812038d.44df74","x":390,"y":1220,"wires":[]},{"id":"8eb094ec.b5dd3","type":"inject","z":"2775c3f5.a41fec","name":"On","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"v\":\"ON\"}","payloadType":"json","x":170,"y":1200,"wires":[["9b6d2f04.fde4c"]]},{"id":"5715d48f.9ff324","type":"inject","z":"2775c3f5.a41fec","name":"Off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"v\":\"OFF\"}","payloadType":"json","x":170,"y":1240,"wires":[["9b6d2f04.fde4c"]]},{"id":"b11b4e4a.68d0d","type":"mqtt out","z":"2775c3f5.a41fec","name":"Light Observe","topic":"cmd/st/0/3301/0/5700/observe","qos":"1","retain":"false","broker":"5812038d.44df74","x":400,"y":920,"wires":[]},{"id":"80b2e990.8f1b88","type":"inject","z":"2775c3f5.a41fec","name":"On","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"v\":\"ON\"}","payloadType":"json","x":170,"y":900,"wires":[["b11b4e4a.68d0d"]]},{"id":"2c7eb463.b063c4","type":"inject","z":"2775c3f5.a41fec","name":"Off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"v\":\"OFF\"}","payloadType":"json","x":170,"y":940,"wires":[["b11b4e4a.68d0d"]]},{"id":"d29207e1.19a3e","type":"inject","z":"2775c3f5.a41fec","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":615,"y":920,"wires":[["4f63705a.4f3f3"]],"l":false},{"id":"7dcf2d3b.a14edc","type":"inject","z":"2775c3f5.a41fec","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":615,"y":1020,"wires":[["c5605b96.f9ba78"]],"l":false},{"id":"53b84a7b.0956bc","type":"inject","z":"2775c3f5.a41fec","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":615,"y":1120,"wires":[["49a23c7b.4ab8dc"]],"l":false},{"id":"dd2eeb16.f17738","type":"inject","z":"2775c3f5.a41fec","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":615,"y":1220,"wires":[["c61d8f26.dca708"]],"l":false},{"id":"4f63705a.4f3f3","type":"mqtt out","z":"2775c3f5.a41fec","name":"Request Light","topic":"cmd/st/0/3301/0/5700","qos":"0","retain":"false","broker":"5812038d.44df74","x":740,"y":920,"wires":[]},{"id":"c5605b96.f9ba78","type":"mqtt out","z":"2775c3f5.a41fec","name":"Request Temp","topic":"cmd/br/0/3303/0/5700","qos":"0","retain":"false","broker":"5812038d.44df74","x":740,"y":1020,"wires":[]},{"id":"49a23c7b.4ab8dc","type":"mqtt out","z":"2775c3f5.a41fec","name":"Request Hum","topic":"cmd/st/0/3304/0/5700","qos":"0","retain":"false","broker":"5812038d.44df74","x":740,"y":1120,"wires":[]},{"id":"c61d8f26.dca708","type":"mqtt out","z":"2775c3f5.a41fec","name":"Request Fire","topic":"cmd/st/0/503/0/5700","qos":"0","retain":"false","broker":"5812038d.44df74","x":730,"y":1220,"wires":[]},{"id":"b010fa52.9648a8","type":"comment","z":"2775c3f5.a41fec","name":"STOCKER","info":"","x":620,"y":40,"wires":[]},{"id":"2fbc039.399647c","type":"mqtt out","z":"2775c3f5.a41fec","name":"Request Light","topic":"cmd/st/0/3301/0/5700","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5812038d.44df74","x":1040,"y":240,"wires":[]},{"id":"994253da.f6dfa8","type":"mqtt out","z":"2775c3f5.a41fec","name":"Request Temp","topic":"cmd/st/0/3303/0/5700","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5812038d.44df74","x":1040,"y":120,"wires":[]},{"id":"d8eeb1e5.f367d","type":"mqtt out","z":"2775c3f5.a41fec","name":"Request Hum","topic":"cmd/st/0/3304/0/5700","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5812038d.44df74","x":1040,"y":180,"wires":[]},{"id":"dbe2ba87.f6528","type":"mqtt out","z":"2775c3f5.a41fec","name":"Request Fire","topic":"cmd/st/0/503/0/5700","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5812038d.44df74","x":1030,"y":300,"wires":[]},{"id":"fc72d616.4c4cf8","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Light Update Stocker","controller":"dfa31b.5159ece8","itemname":"LightUpdateStocker","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":760,"y":240,"wires":[["2fbc039.399647c"]]},{"id":"6a18b3fe.c15e9c","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Temperature Update Stocker","controller":"dfa31b.5159ece8","itemname":"TemperatureUpdateStocker","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":780,"y":120,"wires":[["994253da.f6dfa8"]]},{"id":"1bfea5a2.92164a","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Humidity Update Stocker","controller":"dfa31b.5159ece8","itemname":"HumidityUpdateStocker","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":770,"y":180,"wires":[["d8eeb1e5.f367d"]]},{"id":"b1bd6ef3.686b2","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Fire Update Stocker","controller":"dfa31b.5159ece8","itemname":"FireUpdateStocker","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":750,"y":300,"wires":[["dbe2ba87.f6528"]]},{"id":"49382c01.7ceaf4","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Temperature Observe","controller":"dfa31b.5159ece8","itemname":"TemperatureObserve","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":160,"y":120,"wires":[["b3e8de1a.3871f8"]]},{"id":"b3e8de1a.3871f8","type":"mqtt out","z":"2775c3f5.a41fec","name":"Temp Observe","topic":"cmd/st/0/3303/0/5700/observe","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5812038d.44df74","x":460,"y":120,"wires":[]},{"id":"69ec3a95.4dc964","type":"mqtt out","z":"2775c3f5.a41fec","name":"Hum Observe","topic":"cmd/st/0/3304/0/5700/observe","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5812038d.44df74","x":460,"y":180,"wires":[]},{"id":"c3f6a459.dab07","type":"mqtt out","z":"2775c3f5.a41fec","name":"Light Observe","topic":"cmd/st/0/3301/0/5700/observe","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5812038d.44df74","x":460,"y":240,"wires":[]},{"id":"b35f718c.2ad96","type":"mqtt out","z":"2775c3f5.a41fec","name":"Fire Observe","topic":"cmd/st/0/503/0/5700/observe","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5812038d.44df74","x":450,"y":300,"wires":[]},{"id":"c5e7a235.3d9ee8","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Humidity Observe","controller":"dfa31b.5159ece8","itemname":"HumidityObserve","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":150,"y":180,"wires":[["69ec3a95.4dc964"]]},{"id":"26cc012.de311fe","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Light Observe","controller":"dfa31b.5159ece8","itemname":"LightObserve","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":130,"y":240,"wires":[["c3f6a459.dab07"]]},{"id":"264164d5.859064","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Fire Observe","controller":"dfa31b.5159ece8","itemname":"FireObserve","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":130,"y":300,"wires":[["b35f718c.2ad96"]]},{"id":"794a7221.3c7c7c","type":"comment","z":"2775c3f5.a41fec","name":"BREWER 1","info":"","x":630,"y":420,"wires":[]},{"id":"c09c0930.1cc3f","type":"comment","z":"2775c3f5.a41fec","name":"BREWER 2","info":"","x":730,"y":660,"wires":[]},{"id":"ddc7ddeb.57a808","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Temperature Observer Brewer 1","controller":"dfa31b.5159ece8","itemname":"TemperatureObserverBrewer0","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":170,"y":500,"wires":[["843bbfcc.dc3a4"]]},{"id":"2924cda.c3dceb2","type":"mqtt out","z":"2775c3f5.a41fec","name":"Temp Observe Brewer 1","topic":"cmd/br/0/3303/0/5700/observe","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":590,"y":500,"wires":[]},{"id":"1e14b6cb.bb4949","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Temperature Update Brewer 1","controller":"dfa31b.5159ece8","itemname":"TemperatureUpdateBrewer0","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":860,"y":500,"wires":[["4d521b80.d5d224"]]},{"id":"4d521b80.d5d224","type":"mqtt out","z":"2775c3f5.a41fec","name":"Request Temperature Brewer 1","topic":"cmd/br/0/3303/0/5700","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":1130,"y":500,"wires":[]},{"id":"715cf97.3306408","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Temp Observe Brewer 2","controller":"dfa31b.5159ece8","itemname":"TemperatureObserverBrewer1","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":170,"y":720,"wires":[["fd4960ea.97ace"]]},{"id":"b689e434.62547","type":"mqtt out","z":"2775c3f5.a41fec","name":"Temp Observe Brewer 2","topic":"cmd/br/10/3303/0/5700/observe","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":510,"y":720,"wires":[]},{"id":"85ba0395.1a067","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Temperature Update Brewer 2","controller":"dfa31b.5159ece8","itemname":"TemperatureUpdateBrewer1","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":800,"y":720,"wires":[["a971515e.2933e8"]]},{"id":"a971515e.2933e8","type":"mqtt out","z":"2775c3f5.a41fec","name":"Request Temperature Brewer 2","topic":"cmd/br/10/3303/0/5700","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":1110,"y":720,"wires":[]},{"id":"ef18e0d0.78e21","type":"debug","z":"2775c3f5.a41fec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":800,"wires":[]},{"id":"843bbfcc.dc3a4","type":"function","z":"2775c3f5.a41fec","name":"","func":"let value = msg.payload;\n\nmsg.payload = {\n    \"v\" : value\n}\n\n//msg.payload = \"\\\"v\\\":\\\"\"+value+\"\\\"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":355,"y":500,"wires":[["2924cda.c3dceb2","fdb45c2.34be22"]],"icon":"node-red/swap.svg","l":false},{"id":"fd4960ea.97ace","type":"function","z":"2775c3f5.a41fec","name":"","func":"let value = msg.payload;\n\nmsg.payload = {\n    \"v\" : value\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":335,"y":720,"wires":[["b689e434.62547","ef18e0d0.78e21"]],"icon":"node-red/swap.svg","l":false},{"id":"574a9ec4.4df308","type":"mqtt out","z":"2775c3f5.a41fec","name":"Temp Observe","topic":"cmd/br/10/3303/0/5700/observe","qos":"1","retain":"false","broker":"5812038d.44df74","x":680,"y":1480,"wires":[]},{"id":"f7053152.577428","type":"inject","z":"2775c3f5.a41fec","name":"On","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"v\":\"ON\"}","payloadType":"json","x":450,"y":1460,"wires":[["574a9ec4.4df308"]]},{"id":"51337f94.b5586","type":"inject","z":"2775c3f5.a41fec","name":"Off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"v\":\"OFF\"}","payloadType":"json","x":450,"y":1500,"wires":[["574a9ec4.4df308"]]},{"id":"fdb45c2.34be22","type":"debug","z":"2775c3f5.a41fec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":580,"wires":[]},{"id":"5812038d.44df74","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dfa31b.5159ece8","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"b750acbb.e73dc8","type":"mqtt-broker","name":"Broker","broker":"broker.hivemq.com","port":"1883","tls":"c656faed.f9e1","clientid":"","usetls":false,"protocolVersion":"5","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c656faed.f9e1","type":"tls-config","name":"","cert":"","key":"","ca":"/etc/mosquitto/ca_certificates/ca.crt","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false}]
