Node-RED/flowsBeer4.0.json
[{"id":"2775c3f5.a41fec","type":"tab","label":"Control Panel","disabled":false,"info":""},{"id":"1963aa58.852a6e","type":"tab","label":"Brewer MGMT","disabled":false,"info":""},{"id":"1775ac36.40b604","type":"tab","label":"Stocker MGMT","disabled":false,"info":""},{"id":"f50b0220.9a44b","type":"tab","label":"Recipe MGMT","disabled":false,"info":""},{"id":"33b25859.129848","type":"subflow","name":"Query process","info":"","category":"","in":[{"x":320,"y":440,"wires":[{"id":"6833583a.be59a"}]}],"out":[{"x":840,"y":380,"wires":[{"id":"6833583a.be59a","port":0}]},{"x":1100,"y":480,"wires":[{"id":"601035de.a6b304","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"ef0f6751.4543b8","type":"subflow","name":"New Recipe from Openhab","info":"","category":"","in":[],"out":[{"x":700,"y":320,"wires":[{"id":"10cfdc4f.3c0854","port":0},{"id":"b341158b.679de","port":0},{"id":"434f2979.60f7f8","port":0},{"id":"ad83a975.cd60c8","port":0},{"id":"ad6c01e1.f928a8","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"295f000a.61436","type":"subflow","name":"Verification process","info":"","category":"","in":[{"x":140,"y":300,"wires":[{"id":"1cce8e71.de00a2"},{"id":"7a0eeb65.c54d9c"}]}],"out":[{"x":1060,"y":300,"wires":[{"id":"1cce8e71.de00a2","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"142da814.ea1df8","type":"subflow","name":"Clean DB","info":"","category":"","in":[{"x":120,"y":220,"wires":[{"id":"e5746193.9266e"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"b750acbb.e73dc8","type":"mqtt-broker","name":"Broker","broker":"broker.hivemq.com","port":"1883","tls":"","clientid":"","usetls":false,"protocolVersion":"5","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"dfa31b.5159ece8","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"8866ebf.9fd2b18","type":"mqtt-broker","name":"HiveMQ","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ff23f5a5.39302","type":"influxdb","z":"33b25859.129848","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"BrewIoT","name":"BrewIoT","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"a963281b.e9203","type":"influxdb","z":"142da814.ea1df8","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"BrewIoT","name":"BrewIoT","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"bcebe6c8.34832","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"BrewIoT","name":"BrewIoT","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"cc3836fe.795fd8","type":"mqtt in","z":"1963aa58.852a6e","name":"Data from Brewer","topic":"data/br/+/+/+/5700","qos":"0","datatype":"json","broker":"b750acbb.e73dc8","nl":false,"rap":false,"rh":"0","x":120,"y":360,"wires":[["7249a26a.9f0b64"]]},{"id":"7249a26a.9f0b64","type":"function","z":"1963aa58.852a6e","name":"","func":"const topic = msg.topic;\nlet array = topic.split('/');\n\nlet device = array[2];\nlet sensor = array[3];\nlet object = array[4];\n\nif(msg.payload.v == -127 ) return;\n\nlet formattedValue = Math.round(msg.payload.v*100)/100;\n/* Valutare se togliere il sensorType dall'insieme di\n * valori che vengono inoltrati nei nodi successivi\n */\nlet value1 = {\n            payload: {\n                value: formattedValue,\n                devInstance : device,\n                sensorType  : sensor\n            }\n}\nlet value2 = {\n            payload: {\n                time: msg.payload.tstamp,\n                value: formattedValue,\n                devInstance: device,\n                sensorType:  sensor,\n                objInstance: object\n            }\n};\n\nreturn [value1, value2];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":255,"y":360,"wires":[["9c05eca6.48661","fd7af7d7.fb55"],["6863f0c2.a0cdf8"]],"outputLabels":["temperature","payload"],"icon":"node-red/switch.svg","l":false},{"id":"9c05eca6.48661","type":"function","z":"1963aa58.852a6e","name":"Temperature Thresholds check","func":"// Qui riprendiamo i valori dal nodo precedente.\nlet device = msg.payload.devInstance;\nlet sensor = msg.payload.sensorType;\nlet value = msg.payload.value;\n\n\n/* Qui andiamo a recuperare le soglie stabilite per il\n * nostro sensore\n */\nlet minValue = global.get(\"brewer_\"+device+\"_minTemp\");\nlet maxValue = global.get(\"brewer_\"+device+\"_maxTemp\");\n\nif(minValue === undefined){\n    minValue = 16;\n}\nif(maxValue === undefined){\n    maxValue = 26;\n}\nlet avg = (minValue + maxValue)/2;\n\n\n/* Recuperiamo i valori della cintura riscaldante e creiamo\n * il msg per il controllo della stessa. L'ID del WiFi relay\n * correlato alla scheda ESP è uguale all'ID della scheda \n * ESP + 1.\n */\nlet beltDevice = parseInt(device)+1;\nlet beltVariable = \"brewer_\"+beltDevice+\"_belt\";\nlet beltStatus = flow.get(beltVariable);\nif(beltStatus === undefined){\n    beltStatus = false;\n    flow.set(beltVariable, beltStatus);\n}\nlet beltControl={\n    topic: \"br/\"+beltDevice+\"/3306/0/cmnd/POWER\",\n    payload: \"\"\n};\n\n\n/* Qui invece gestiamo i valori del led d'allarme */\nlet ledVariable = \"brewer_\"+device+\"_tempAlarm\";\nlet ledStatus = flow.get(ledVariable);\nif(ledStatus === undefined){\n    ledStatus = false;\n    flow.set(ledVariable, ledStatus);\n}\nlet ledControl={\n    topic: \"cmd/br/\"+device+\"/3311/0/5850\",\n    payload: \"\"\n};\n\nif(value<minValue){\n    /* Abbiamo rilevato una temperatura che è minore di\n     * quella minima accettabile, quindi dobbiamo far partire\n     * la cintura riscaldante (a meno che non sia già partita)\n     */\n    if(!beltStatus){\n        beltControl.payload = \"ON\";\n    }\n    else{\n        // La cintura è già attiva.\n        beltControl = null;\n    }\n    if(!ledStatus){\n        ledControl.payload = {\n            v: \"ON\"\n        };\n        flow.set(ledVariable,true);\n    }\n    else ledControl = null;\n    \n}\nelse if(value>maxValue){\n    /* La cisterna è troppo calda. Dobbiamo far \n     * partire l'allarme\n     */\n    beltControl = null;\n    if(!ledStatus){\n        // L'allarme non è attivo\n        ledControl.payload = {\n            v: \"ON\"\n        };\n        flow.set(ledVariable,true);\n    }\n    else ledControl = null;\n}\nelse if(value>=minValue && value < maxValue){\n    /* Se siamo qui, la temperatura é a posto. */\n    if(value>=avg){\n        /* La temperatura ha superato la media di valori \n         * ammessi. Se c'era una cintura accesa in precedenza\n         * ora è il momento di spegnerla\n         */\n        if(beltStatus){\n            beltControl.payload = \"OFF\";\n        }\n        else beltControl = null;\n    }\n    else beltControl=null;\n    if(ledStatus){\n        /* Se c'era un allarme attivo, ora è il momento di\n           spegnerlo */\n        ledControl.payload = {\n            v: \"OFF\",\n        };\n        flow.set(ledVariable,false)\n    }\n    else ledControl = null;\n}\n\nreturn [beltControl,ledControl];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":180,"wires":[["768c888a.0f0a6"],["81abdccc.ec9048"]],"outputLabels":["BELT_CONTROL","LED_CONTROL"]},{"id":"768c888a.0f0a6","type":"mqtt out","z":"1963aa58.852a6e","name":"Send to belt","topic":"","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":850,"y":160,"wires":[]},{"id":"7df6d183.a15e3","type":"mqtt in","z":"1963aa58.852a6e","name":"Response from Sonoff","topic":"br/+/3306/#","qos":"1","datatype":"auto","broker":"b750acbb.e73dc8","nl":false,"rap":false,"rh":"0","x":140,"y":1380,"wires":[["60272332.966d54"]]},{"id":"d060c561.9d294","type":"function","z":"1963aa58.852a6e","name":"Update belt status","func":"let device = msg.payload.device;\n\nlet beltVariable = \"brewer_\"+device+\"_belt\";\nlet result = false;\nif(msg.payload.POWER == \"ON\")\n    result = true;\n/*\n * Salviamo lo stato della cintura riscaldante in una\n * variabile con visibilità \"flow\", in modo da essere poi\n * leggibile da altri nodi nello stesso flow.\n */\nflow.set(beltVariable, result);\n\nlet statusBelt = \"OFF\";\nif(result) statusBelt = \"ON\";\n\nmsg.payload = {\n    device: device,\n    status: statusBelt \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":1520,"wires":[["31aa26c3.1d82ca"]]},{"id":"1940a1e5.917e9e","type":"mqtt in","z":"1775ac36.40b604","name":"Data from Stocker","topic":"data/st/+/+/+/5700","qos":"0","datatype":"json","broker":"b750acbb.e73dc8","nl":false,"rap":false,"rh":"2","x":130,"y":360,"wires":[["afd20d09.d4a568"]]},{"id":"afd20d09.d4a568","type":"function","z":"1775ac36.40b604","name":"MUX","func":"const topic = msg.topic;\nlet array = topic.split('/');\n\nlet device = array[2];\nlet sensor = array[3];\nlet object = array[4];\n\nlet formattedValue = Math.round(msg.payload.v*100)/100;\nlet tempVal=null, humVal=null, lightVal=null, fireVal= null;\n\nlet time = msg.payload.time;\n\nswitch(sensor){\n    case \"503\": \n        fireVal = {\n            payload: {\n                time: time,\n                value: formattedValue,\n                dev: device,\n                objInstance: object\n            }\n        }; break;\n    case \"3301\": \n        lightVal = {\n            payload: {\n                time: time,\n                value: formattedValue,\n                dev: device,\n                objInstance: object\n            }\n        };break;\n    case \"3303\":\n        tempVal = {\n            payload: {\n                time: time,\n                value: formattedValue,\n                dev: device,\n                objInstance: object\n            }\n        };break;\n    case \"3304\": \n        humVal = {\n            payload: {\n                time: time,\n                value: formattedValue,\n                dev: device,\n                objInstance: object\n            }\n        };break;\n    default: break;\n}\n\nreturn [tempVal, humVal, lightVal, fireVal];\n","outputs":4,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":360,"wires":[["a79e6d5f.27e0f8"],["37e6d11.9ddf62e"],["bb2e63fd.8fc1a8"],["713ba244.fec6f4"]],"outputLabels":["Temperature","Humidity","Light","Fire"],"icon":"node-red/switch.svg"},{"id":"b010fa52.9648a8","type":"comment","z":"2775c3f5.a41fec","name":"STOCKER","info":"","x":620,"y":40,"wires":[]},{"id":"a79e6d5f.27e0f8","type":"function","z":"1775ac36.40b604","name":"Handle Temperature","func":"let value=msg.payload.value;\nlet dev = msg.payload.dev;\nlet obj = msg.payload.objInstance;\n\nif(value==-127 || isNaN(value)) return null;\n\n\n//Qui recuperiamo il precedente valore d'allarme\nconst tempAlarm=\"stocker_\"+dev+\"_temp_\"+obj;\nlet alarm = flow.get(tempAlarm);\n\n//Questa è la soglia definita nel Recipy MGMT\nlet maxTemp=global.get(\"stocker_max_temp\");\nlet minTemp=global.get(\"stocker_min_temp\");\n/* se non c'è alcuna customizzazione sulla soglia di\n     * umidità, allora impostiamo il valore di default.\n     */\nif(maxTemp === undefined){\n    maxTemp = 26;\n}\nif(minTemp === undefined){\n    minTemp = 4;\n}\n/* Questo if viene eseguito solo la prima volta, per\n * inizializzare la variable */\nif(alarm === undefined){\n    alarm = false;\n    flow.set(tempAlarm, false);\n}\n\nlet mqttMessage = {\n    topic: \"cmd/st/\"+dev+\"/3311/0/5850\",\n    payload: \"\"\n};\n\nif(((value < maxTemp) && (value > minTemp)) && alarm){\n    // temperatura a posto, ma c'è un allarme attivo\n    mqttMessage.payload = {\"v\":\"OFF\"};\n    flow.set(tempAlarm, false);\n}\nelse if((value >= maxTemp) && !alarm){\n    // alta temperatura rilevata, ma nessun allarme attivo\n    mqttMessage.payload = {\"v\":\"ON\"};\n    flow.set(tempAlarm, true);\n}\nelse if((value <= minTemp) && !alarm){\n    // bassa temperatura rilevata, ma nessun allarme attivo\n    mqttMessage.payload = {\"v\":\"ON\"};\n    flow.set(tempAlarm, true);\n}\nelse{\n    // In questo caso non dobbiamo fare nula\n    mqttMessage = null;\n}\n\nreturn [msg, mqttMessage];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":100,"wires":[["f725e6b1.5f9c38","b286e8d3.1f76c8"],["e802b4e6.19bc08"]]},{"id":"37e6d11.9ddf62e","type":"function","z":"1775ac36.40b604","name":"Handle Humidity","func":"let value=msg.payload.value;\nlet dev = msg.payload.dev;\nlet obj = msg.payload.objInstance;\n\nif(value==-127 || isNaN(value)) return null;\n\n//Qui recuperiamo il precedente valore d'allarme\nconst humidityAlarm=\"stocker_\"+dev+\"_humidity_\"+obj;\nlet alarm = flow.get(humidityAlarm);\n\n//Questa è la soglia definita nel Recipy MGMT\nlet maxHumidity=global.get(\"stocker_max_humidity\");\nif(maxHumidity === undefined){\n    /* se non c'è alcuna customizzazione sulla soglia di\n     * umidità, allora impostiamo il valore di default.\n     */\n    maxHumidity = 50;\n}\n/* Questo if viene eseguito solo la prima volta, per\n * inizializzare la variable */\nif(alarm === undefined){\n    alarm = false;\n    flow.set(humidityAlarm, false);\n}\nlet mqttMessage = {\n    topic: \"cmd/st/\"+dev+\"/3311/1/5850\",\n    payload: \"\"\n};\n\nif((value < maxHumidity) && alarm){\n    // umidità posto, ma c'è un allarme attivo\n    mqttMessage.payload = {\"v\":\"OFF\"};\n    flow.set(humidityAlarm, false);\n}\nelse if((value >= maxHumidity) && !alarm){\n    // alta umidità rilevata, ma nessun allarme attivo\n    mqttMessage.payload = {\"v\":\"ON\"};\n    flow.set(humidityAlarm, true);\n}\nelse{\n    // In questo caso non dobbiamo fare nula\n    mqttMessage = null;\n}\n\nreturn [msg, mqttMessage];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":260,"wires":[["8d54f65.757e108","8ad7987a.900bf8"],["504f31ba.02cf78"]]},{"id":"bb2e63fd.8fc1a8","type":"function","z":"1775ac36.40b604","name":"Handle Light","func":"let value=msg.payload.value;\nlet dev = msg.payload.dev;\nlet obj = msg.payload.objInstance;\nlet timestamp = msg.payload.timestamp;\n\nif(value==100) return;\n\n//Qui recuperiamo il precedente valore d'allarme\nconst lightAlarm=\"stocker_\"+dev+\"_light_\"+obj;\nlet alarm = flow.get(lightAlarm);\n\n//Questa è la soglia definita nel Recipy MGMT\nlet maxLight=global.get(\"stocker_max_light\");\nif(maxLight === undefined){\n    /* se non c'è alcuna customizzazione sulla soglia di luce\n     * allora impostiamo il valore di default.\n     */\n    maxLight = 50;\n}\n/* Questo if viene eseguito solo la prima volta, per\n * inizializzare la variable */\nif(alarm === undefined){\n    alarm = false;\n    flow.set(lightAlarm, false);\n}\nlet mqttMessage = {\n    topic: \"cmd/st/\"+dev+\"/3311/2/5850\",\n    payload: \"\"\n};\n\nif((value < maxLight) && alarm){\n    // la luce è a posto, ma c'è un allarme attivo\n    mqttMessage.payload = {\"v\":\"OFF\"};\n    flow.set(lightAlarm, false);\n}\nelse if((value >= maxLight)&& !alarm){\n    // luce intensa rilevata, ma nessun allarme attivo\n    mqttMessage.payload = {\"v\":\"ON\"};\n    flow.set(lightAlarm, true);\n}\nelse{\n    // In questo caso non dobbiamo fare nula\n    mqttMessage = null;\n}\n\nreturn [msg, mqttMessage];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":460,"wires":[["4d0a3fa6.f21b4","d40a5fda.a9183"],["b46d8d59.e73e9"]]},{"id":"713ba244.fec6f4","type":"function","z":"1775ac36.40b604","name":"Handle Fire","func":"let result=true;\nlet dev = msg.payload.dev;\nlet obj = msg.payload.objInstance;\nlet fireAlarm=\"stocker_\"+dev+\"_fire_\"+obj;\nlet alarm = flow.get(fireAlarm);\n\n\n/* Questo if viene eseguito solo la prima volta, per\n * inizializzare la variable */\nif(alarm === undefined){\n    alarm = false;\n    flow.set(fireAlarm, false);\n}\n\nif(msg.payload.value == 1){\n    // non è stata rilevata alcuna fiamma.\n    result= false;\n    //flow.set(fireVariable, false);\n}\n\nmsg.payload = {\n    time : msg.payload.time,\n    value: result,\n    dev: dev,\n    objInstance: obj\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":640,"wires":[["9dc94bd3.e6346","72731a5a.fef81c","ea485564.5163f"]]},{"id":"9dc94bd3.e6346","type":"function","z":"1775ac36.40b604","name":"Fire Alarm Control","func":"let dev=msg.payload.dev;\nlet obj=msg.payload.objInstance;\n\nconst fireVariable= \"stocker_\"+dev+\"_fire_\"+obj;\nlet alarm = flow.get(fireVariable);\n\n// Qui creiamo il topic\nmsg.topic=\"cmd/st/\"+dev+\"/3311/3/5850\";\n\n\n/* Ora andiamo a verificare se l'allarme va acceso o spento,\n * in base al risultato del sensore e alla variable flow salvata\n * in precedenza. Se entrambi i valori sono negativi, allora l'\n * allarme è spento e rimane spento, quindi non facciamo nulla.\n * Se entrambi i valori sono positivi, allora l'allarme è attivo\n * e rimane attivo, quindi non facciamo nulla. Se i due valori\n * sono contrastanti, allora l'allarme va acceso oppure spento\n */\nlet result=msg.payload.value;\n\nif(result && !alarm){\n    // Fuoco rilevato, ma allarme spento\n    flow.set(fireVariable, true);\n    msg.payload={\"v\":\"ON\"};\n}\nelse if(!result && alarm){\n    // Fuoco non rilevato, ma allarme attivo\n    flow.set(fireVariable, false);\n    msg.payload={\"v\":\"OFF\"};\n}\nelse{\n    //Altrimenti non mandiamo nulla.\n    msg = null;\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":680,"wires":[["1988b2a8.be70ad"]]},{"id":"1988b2a8.be70ad","type":"mqtt out","z":"1775ac36.40b604","name":"Send Fire Alarm","topic":"","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":1120,"y":680,"wires":[]},{"id":"72731a5a.fef81c","type":"change","z":"1775ac36.40b604","name":"OpenHab format","rules":[{"t":"change","p":"payload.result","pt":"msg","from":"true","fromt":"bool","to":"FIRE ALARM!!!","tot":"str"},{"t":"change","p":"payload.result","pt":"msg","from":"false","fromt":"bool","to":"no fire","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":620,"wires":[["59cf2e2a.19d5d"]]},{"id":"b46d8d59.e73e9","type":"mqtt out","z":"1775ac36.40b604","name":"Send Light Alarm","topic":"","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":950,"y":500,"wires":[]},{"id":"504f31ba.02cf78","type":"mqtt out","z":"1775ac36.40b604","name":"Send Humidity Alarm","topic":"","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":940,"y":320,"wires":[]},{"id":"e802b4e6.19bc08","type":"mqtt out","z":"1775ac36.40b604","name":"Send Temperature Alarm","topic":"","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":1010,"y":140,"wires":[]},{"id":"81abdccc.ec9048","type":"mqtt out","z":"1963aa58.852a6e","name":"Send to led","topic":"","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":850,"y":220,"wires":[]},{"id":"fd7af7d7.fb55","type":"switch","z":"1963aa58.852a6e","name":"Switch Brewer","property":"payload.devInstance","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"10","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":320,"wires":[["d44074b4.983c7"],["ea686a64.1963c8"]]},{"id":"219e031a.1ca1a4","type":"openhab2-out2","z":"1963aa58.852a6e","name":"Temperature Brewer 2","controller":"dfa31b.5159ece8","itemname":"temperatureBewer1","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":780,"y":360,"wires":[]},{"id":"f725e6b1.5f9c38","type":"change","z":"1775ac36.40b604","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":835,"y":80,"wires":[["926d4e80.1a4cf8"]],"l":false},{"id":"59cf2e2a.19d5d","type":"change","z":"1775ac36.40b604","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":995,"y":620,"wires":[["2e1f763a.a56d0a"]],"l":false},{"id":"8d54f65.757e108","type":"change","z":"1775ac36.40b604","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":815,"y":260,"wires":[["19ce6b00.1cdc8d"]],"l":false},{"id":"4d0a3fa6.f21b4","type":"change","z":"1775ac36.40b604","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":795,"y":440,"wires":[["c7d4ce19.c74dc8"]],"l":false},{"id":"926d4e80.1a4cf8","type":"openhab2-out2","z":"1775ac36.40b604","name":"Temperature Stocker","controller":"dfa31b.5159ece8","itemname":"temperaturestocker","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":1040,"y":80,"wires":[]},{"id":"19ce6b00.1cdc8d","type":"openhab2-out2","z":"1775ac36.40b604","name":"Humidity Stocker","controller":"dfa31b.5159ece8","itemname":"humidityStocker","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":950,"y":260,"wires":[]},{"id":"c7d4ce19.c74dc8","type":"openhab2-out2","z":"1775ac36.40b604","name":"Light Stocker","controller":"dfa31b.5159ece8","itemname":"lightSensor","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":940,"y":440,"wires":[]},{"id":"2e1f763a.a56d0a","type":"openhab2-out2","z":"1775ac36.40b604","name":"Fire Alarm Stocker","controller":"dfa31b.5159ece8","itemname":"fireSensor","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":1210,"y":620,"wires":[]},{"id":"2fbc039.399647c","type":"mqtt out","z":"2775c3f5.a41fec","name":"Request Light","topic":"cmd/st/0/3301/0/5700","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":1040,"y":240,"wires":[]},{"id":"994253da.f6dfa8","type":"mqtt out","z":"2775c3f5.a41fec","name":"Request Temp","topic":"cmd/st/0/3303/0/5700","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":1040,"y":120,"wires":[]},{"id":"d8eeb1e5.f367d","type":"mqtt out","z":"2775c3f5.a41fec","name":"Request Hum","topic":"cmd/st/0/3304/0/5700","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":1040,"y":180,"wires":[]},{"id":"dbe2ba87.f6528","type":"mqtt out","z":"2775c3f5.a41fec","name":"Request Fire","topic":"cmd/st/0/503/0/5700","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":1030,"y":300,"wires":[]},{"id":"fc72d616.4c4cf8","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Light Update Stocker","controller":"dfa31b.5159ece8","itemname":"LightUpdateStocker","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":760,"y":240,"wires":[["2fbc039.399647c"]]},{"id":"6a18b3fe.c15e9c","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Temperature Update Stocker","controller":"dfa31b.5159ece8","itemname":"TemperatureUpdateStocker","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":780,"y":120,"wires":[["994253da.f6dfa8"]]},{"id":"1bfea5a2.92164a","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Humidity Update Stocker","controller":"dfa31b.5159ece8","itemname":"HumidityUpdateStocker","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":770,"y":180,"wires":[["d8eeb1e5.f367d"]]},{"id":"b1bd6ef3.686b2","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Fire Update Stocker","controller":"dfa31b.5159ece8","itemname":"FireUpdateStocker","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":750,"y":300,"wires":[["dbe2ba87.f6528"]]},{"id":"49382c01.7ceaf4","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Temperature Observe","controller":"dfa31b.5159ece8","itemname":"TemperatureObserve","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":160,"y":120,"wires":[["b3e8de1a.3871f8"]]},{"id":"b3e8de1a.3871f8","type":"mqtt out","z":"2775c3f5.a41fec","name":"Temp Observe","topic":"cmd/st/0/3303/0/5700/observe","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":460,"y":120,"wires":[]},{"id":"69ec3a95.4dc964","type":"mqtt out","z":"2775c3f5.a41fec","name":"Hum Observe","topic":"cmd/st/0/3304/0/5700/observe","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":460,"y":180,"wires":[]},{"id":"c3f6a459.dab07","type":"mqtt out","z":"2775c3f5.a41fec","name":"Light Observe","topic":"cmd/st/0/3301/0/5700/observe","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":460,"y":240,"wires":[]},{"id":"b35f718c.2ad96","type":"mqtt out","z":"2775c3f5.a41fec","name":"Fire Observe","topic":"cmd/st/0/503/0/5700/observe","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":450,"y":300,"wires":[]},{"id":"c5e7a235.3d9ee8","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Humidity Observe","controller":"dfa31b.5159ece8","itemname":"HumidityObserve","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":150,"y":180,"wires":[["69ec3a95.4dc964"]]},{"id":"26cc012.de311fe","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Light Observe","controller":"dfa31b.5159ece8","itemname":"LightObserve","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":130,"y":240,"wires":[["c3f6a459.dab07"]]},{"id":"264164d5.859064","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Fire Observe","controller":"dfa31b.5159ece8","itemname":"FireObserve","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":130,"y":300,"wires":[["b35f718c.2ad96"]]},{"id":"794a7221.3c7c7c","type":"comment","z":"2775c3f5.a41fec","name":"BREWER 1","info":"","x":670,"y":520,"wires":[]},{"id":"c09c0930.1cc3f","type":"comment","z":"2775c3f5.a41fec","name":"BREWER 2","info":"","x":730,"y":740,"wires":[]},{"id":"ddc7ddeb.57a808","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Temperature Observer Brewer 1","controller":"dfa31b.5159ece8","itemname":"TemperatureObserverBrewer0","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":170,"y":580,"wires":[["843bbfcc.dc3a4"]]},{"id":"2924cda.c3dceb2","type":"mqtt out","z":"2775c3f5.a41fec","name":"Temp Observe Brewer 1","topic":"cmd/br/0/3303/0/5700/observe","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":590,"y":580,"wires":[]},{"id":"1e14b6cb.bb4949","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Temperature Update Brewer 1","controller":"dfa31b.5159ece8","itemname":"TemperatureUpdateBrewer0","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":900,"y":580,"wires":[["4d521b80.d5d224"]]},{"id":"4d521b80.d5d224","type":"mqtt out","z":"2775c3f5.a41fec","name":"Request Temperature Brewer 1","topic":"cmd/br/0/3303/0/5700","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":1190,"y":580,"wires":[]},{"id":"715cf97.3306408","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Temp Observe Brewer 2","controller":"dfa31b.5159ece8","itemname":"TemperatureObserverBrewer1","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":150,"y":800,"wires":[["fd4960ea.97ace"]]},{"id":"b689e434.62547","type":"mqtt out","z":"2775c3f5.a41fec","name":"Temp Observe Brewer 2","topic":"cmd/br/10/3303/0/5700/observe","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":490,"y":800,"wires":[]},{"id":"85ba0395.1a067","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Temperature Update Brewer 2","controller":"dfa31b.5159ece8","itemname":"TemperatureUpdateBrewer1","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":800,"y":800,"wires":[["a971515e.2933e8"]]},{"id":"a971515e.2933e8","type":"mqtt out","z":"2775c3f5.a41fec","name":"Request Temperature Brewer 2","topic":"cmd/br/10/3303/0/5700","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":1110,"y":800,"wires":[]},{"id":"f80b0c00.8d1ea","type":"mqtt in","z":"1963aa58.852a6e","name":"Response from Brewers","topic":"resp/br/#","qos":"1","datatype":"json","broker":"b750acbb.e73dc8","nl":false,"rap":false,"rh":"1","x":100,"y":640,"wires":[["ca8db3cc.56fae","714db072.d3c2e"]]},{"id":"ca8db3cc.56fae","type":"function","z":"1963aa58.852a6e","name":"Alarm status Check","func":"let topic = msg.topic;\nlet array = topic.split('/');\nlet device = array[2];\nlet object = array[3];\nlet objInstance = array[4];\nlet resource = array[5];\n\nlet connectionResult = null;\nlet statusResult = null;\n\nif(object==\"3\") {\n    /*Stiamo ricevendo un responso di attivazione/disattivazione\n    da una delle due schede*/\n    if(resource==undefined) {\n        let value = msg.payload.v;\n        switch(value){\n            case 0 : \n                value = \"OFF\";\n                break;\n            case 1 : \n                value = \"ON\";\n                break;\n            default:\n                value = \"NULL\";\n                break;\n        }\n        statusResult = {\n            payload : {\n                value: value,\n                devInstance : device\n            }\n        }\n    }\n    /* Stiamo ricevendo un responso di reboot da una delle due\n    schede */\n    else if(resource==\"4\"){\n        let value = msg.payload.v;\n        if(value == \"Online\" ) {\n            let ledVariable = \"brewer_\"+device+\"_tempAlarm\";\n            flow.set(ledVariable, false);\n            connectionResult = {\n                payload : {\n                    devInstance: device,\n                    value: \"ON\"\n                }\n            };\n        }\n        else if (value==\"Offline\") {\n            connectionResult = {\n                payload : {\n                    devInstance: device,\n                    value: \"OFF\"\n                }\n            }\n        }\n    }\n} \nreturn [connectionResult, statusResult];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":640,"wires":[["7fdd714d.3f1b58","6359c448.5f3204","c650df9d.b2b208"],["cb1ec1bd.415668"]]},{"id":"d44074b4.983c7","type":"change","z":"1963aa58.852a6e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":635,"y":300,"wires":[["6931b894.6f63"]],"l":false},{"id":"6931b894.6f63","type":"openhab2-out2","z":"1963aa58.852a6e","name":"Temperature Brewer 1","controller":"dfa31b.5159ece8","itemname":"temperatureBewer0","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":780,"y":300,"wires":[]},{"id":"ea686a64.1963c8","type":"change","z":"1963aa58.852a6e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":635,"y":340,"wires":[["219e031a.1ca1a4"]],"l":false},{"id":"5ce9c5e5.678afc","type":"openhab2-out2","z":"1963aa58.852a6e","name":"Temp Observe 1","controller":"dfa31b.5159ece8","itemname":"TemperatureObserverBrewer0","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":920,"y":580,"wires":[]},{"id":"7fdd714d.3f1b58","type":"switch","z":"1963aa58.852a6e","name":"","property":"payload.devInstance","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"10","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":640,"wires":[["71655fc7.b68498"],["7c96a9e4.2e5eb"]]},{"id":"31361c85.4d7724","type":"openhab2-out2","z":"1963aa58.852a6e","name":"Temp Observe 2","controller":"dfa31b.5159ece8","itemname":"TemperatureObserverBrewer1","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":920,"y":660,"wires":[]},{"id":"71655fc7.b68498","type":"change","z":"1963aa58.852a6e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":715,"y":580,"wires":[["5ce9c5e5.678afc"]],"l":false},{"id":"7c96a9e4.2e5eb","type":"change","z":"1963aa58.852a6e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":715,"y":660,"wires":[["31361c85.4d7724"]],"l":false},{"id":"843bbfcc.dc3a4","type":"function","z":"2775c3f5.a41fec","name":"","func":"let value = msg.payload;\n\nmsg.payload = {\n    \"v\" : value\n}\n\n//msg.payload = \"\\\"v\\\":\\\"\"+value+\"\\\"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":355,"y":580,"wires":[["2924cda.c3dceb2"]],"icon":"node-red/swap.svg","l":false},{"id":"fd4960ea.97ace","type":"function","z":"2775c3f5.a41fec","name":"","func":"let value = msg.payload;\n\nmsg.payload = {\n    \"v\" : value\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":315,"y":800,"wires":[["b689e434.62547"]],"icon":"node-red/swap.svg","l":false},{"id":"6863f0c2.a0cdf8","type":"influxdb out","z":"1963aa58.852a6e","influxdb":"bcebe6c8.34832","name":"BrewIoTDB","measurement":"temperatureBrewer","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":730,"y":440,"wires":[]},{"id":"2f8d9298.7b5856","type":"function","z":"1963aa58.852a6e","name":"Handle Leds Br 1","func":"let green = null;\nlet red = null;\nlet value = msg.payload.value;\n\nif(value == \"ON\") {\n    green = {\n        payload : 1\n    }\n    red = {\n        payload : 0\n    }\n    \n}\n\nelse if(value == \"OFF\") {\n     green = {\n        payload : 0\n    }\n    red = {\n        payload : 1\n    }\n}\n\nelse {\n     green = {\n        payload : 0\n    }\n    red = {\n        payload : 0\n    }\n}\n\nreturn [green, red];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":720,"wires":[["747c90da.8bfe8"],["17ec7ec8.c197c9"]]},{"id":"747c90da.8bfe8","type":"rpi-gpio out","z":"1963aa58.852a6e","name":"Green Led Brewer 1","pin":"11","set":true,"level":"0","freq":"","out":"out","x":1160,"y":700,"wires":[]},{"id":"17ec7ec8.c197c9","type":"rpi-gpio out","z":"1963aa58.852a6e","name":"Red Led Brewer 1","pin":"12","set":true,"level":"0","freq":"","out":"out","x":1170,"y":760,"wires":[]},{"id":"f365cf54.9e6e9","type":"rpi-gpio out","z":"1963aa58.852a6e","name":"Green Led Brewer 2","pin":"15","set":true,"level":"0","freq":"","out":"out","x":920,"y":920,"wires":[]},{"id":"246ef210.6dacfe","type":"rpi-gpio out","z":"1963aa58.852a6e","name":"Red Led Brewer 2","pin":"16","set":true,"level":"0","freq":"","out":"out","x":910,"y":980,"wires":[]},{"id":"6359c448.5f3204","type":"switch","z":"1963aa58.852a6e","name":"","property":"payload.devInstance","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"10","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":515,"y":820,"wires":[["2f8d9298.7b5856","3c12120.0e89eee"],["bfaabb67.079608","6f1e952c.25a0c4"]],"outputLabels":["Brewer 1","Brewer 2"],"l":false},{"id":"bfaabb67.079608","type":"function","z":"1963aa58.852a6e","name":"Handle Leds Br 2","func":"let green = null;\nlet red = null;\nlet value = msg.payload.value;\n\nif(value == \"ON\") {\n    green = {\n        payload : 1\n    }\n    red = {\n        payload : 0\n    }\n    \n}\n\nelse if(value == \"OFF\") {\n     green = {\n        payload : 0\n    }\n    red = {\n        payload : 1\n    }\n}\n\nelse {\n     green = {\n        payload : 0\n    }\n    red = {\n        payload : 0\n    }\n}\n\nreturn [green, red];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":960,"wires":[["f365cf54.9e6e9"],["246ef210.6dacfe"]]},{"id":"60272332.966d54","type":"function","z":"1963aa58.852a6e","name":"","func":"const topic = msg.topic;\nlet array = topic.split('/');\n\nlet device = array[1];\nlet objInstance = array[3];\nlet resource = array[4];\n\n\nlet messageLWT = null;\nlet messagePOWER = null;\n\n\nif(resource == \"LWT\") {\n    messageLWT = {\n        payload : {\n            device : device,\n            status : msg.payload\n        }\n    }\n}\n\nelse if(resource == \"RESULT\") {\n    let pld = JSON.parse(msg.payload);\n    messagePOWER = {\n        payload : {\n            device : device,\n            POWER : pld.POWER\n        }\n    }\n}\n\n\nreturn [messageLWT, messagePOWER];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":535,"y":1380,"wires":[["ebd6d3ae.458418"],["d060c561.9d294"]],"icon":"node-red/switch.svg","l":false},{"id":"5782550a.c5c81c","type":"change","z":"1963aa58.852a6e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.status","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":715,"y":1340,"wires":[["8f7cd7f9.cc37b"]],"l":false},{"id":"ebd6d3ae.458418","type":"switch","z":"1963aa58.852a6e","name":"","property":"payload.device","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"11","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":615,"y":1320,"wires":[["72a5a745.064538"],["5782550a.c5c81c"]],"l":false},{"id":"72a5a745.064538","type":"change","z":"1963aa58.852a6e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.status","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":715,"y":1280,"wires":[["2ecd9bfb.2530ec"]],"l":false},{"id":"2ecd9bfb.2530ec","type":"openhab2-out2","z":"1963aa58.852a6e","name":"State Belt Connection Brewer 1","controller":"dfa31b.5159ece8","itemname":"stateConnectionBelt0","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":1010,"y":1280,"wires":[]},{"id":"8f7cd7f9.cc37b","type":"openhab2-out2","z":"1963aa58.852a6e","name":"State Belt Connection Brewer 2","controller":"dfa31b.5159ece8","itemname":"stateConnectionBelt10","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":1010,"y":1340,"wires":[]},{"id":"6f1e952c.25a0c4","type":"change","z":"1963aa58.852a6e","name":"","rules":[{"t":"change","p":"payload.value","pt":"msg","from":"ON","fromt":"str","to":"Online","tot":"str"},{"t":"change","p":"payload.value","pt":"msg","from":"OFF","fromt":"str","to":"Offline","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":615,"y":840,"wires":[["cf3bded8.661fa"]],"l":false},{"id":"dd98a064.bc108","type":"openhab2-out2","z":"1963aa58.852a6e","name":"State Label Brewer 2","controller":"dfa31b.5159ece8","itemname":"stateConnectionBrewer2","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":900,"y":840,"wires":[]},{"id":"3c12120.0e89eee","type":"change","z":"1963aa58.852a6e","name":"","rules":[{"t":"change","p":"payload.value","pt":"msg","from":"ON","fromt":"str","to":"Online","tot":"str"},{"t":"change","p":"payload.value","pt":"msg","from":"OFF","fromt":"str","to":"Offline","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":615,"y":780,"wires":[["e629a708.90d97"]],"l":false},{"id":"cf3bded8.661fa","type":"change","z":"1963aa58.852a6e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":735,"y":840,"wires":[["dd98a064.bc108"]],"l":false},{"id":"e629a708.90d97","type":"change","z":"1963aa58.852a6e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":735,"y":780,"wires":[["a9bbd0f0.515d28"]],"l":false},{"id":"a9bbd0f0.515d28","type":"openhab2-out2","z":"1963aa58.852a6e","name":"State Label Brewer 1","controller":"dfa31b.5159ece8","itemname":"stateConnectionBrewer1","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":900,"y":780,"wires":[]},{"id":"c7b33f64.e85578","type":"mqtt in","z":"1775ac36.40b604","name":"Response from Stocker","topic":"resp/st/#","qos":"1","datatype":"json","broker":"b750acbb.e73dc8","nl":false,"rap":false,"rh":"1","x":140,"y":940,"wires":[["e79446b5.dc21a8"]]},{"id":"e79446b5.dc21a8","type":"function","z":"1775ac36.40b604","name":"Alarm status Check","func":"let topic = msg.topic;\nlet array = topic.split('/');\n\nlet device = array[2];\nlet object = array[3];\nlet resource = array[5];\nlet result = null;\n\nif(object==\"3\") {\n    /* Stiamo ricevendo un responso di reboot da una delle due\n    schede */\n    if(resource==\"4\"){\n        let value = msg.payload.v;\n        if(value == \"Online\" ) {\n            let tempVariable = \"stocker_\"+device+\"_tempAlarm\";\n            let humVariable = \"stocker_\"+device+\"_humAlarm\"\n            let lightVariable = \"stocker_\"+device+\"_lightAlarm\"\n            let fireVariable = \"stocker_\"+device+\"_fireAlarm\"\n            flow.set(tempVariable, false);\n            flow.set(humVariable, false);\n            flow.set(lightVariable, false);\n            flow.set(fireVariable, false);\n            result = {\n                payload : {\n                    devInstance: device,\n                    value: \"ON\"\n                }\n            };\n        }\n        else if (value==\"Offline\"){\n            result = {\n                payload : {\n                    devInstance: device,\n                    value: \"OFF\"\n                }\n            }\n        }\n    }\n} \nreturn result;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":940,"wires":[["c3ec836a.6e61a8","b52545c2.413d1","5d7009ac.952f1","279250a0.12424"]]},{"id":"c3ec836a.6e61a8","type":"change","z":"1775ac36.40b604","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":940,"wires":[["3cc26aba.e3e4ce","724cc795.dd0c5","41986db9.9199cc","82aa51b6.75d678"]]},{"id":"3cc26aba.e3e4ce","type":"openhab2-out2","z":"1775ac36.40b604","name":"Temperature Observe Stocker","controller":"dfa31b.5159ece8","itemname":"TemperatureObserve","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":1010,"y":820,"wires":[]},{"id":"724cc795.dd0c5","type":"openhab2-out2","z":"1775ac36.40b604","name":"Humidity Observe Stocker","controller":"dfa31b.5159ece8","itemname":"HumidityObserve","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":1000,"y":880,"wires":[]},{"id":"41986db9.9199cc","type":"openhab2-out2","z":"1775ac36.40b604","name":"Light Observe Stocker","controller":"dfa31b.5159ece8","itemname":"LightObserve","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":980,"y":940,"wires":[]},{"id":"82aa51b6.75d678","type":"openhab2-out2","z":"1775ac36.40b604","name":"Fire Observe Stocker","controller":"dfa31b.5159ece8","itemname":"FireObserve","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":980,"y":1000,"wires":[]},{"id":"b52545c2.413d1","type":"function","z":"1775ac36.40b604","name":"Handle Leds Stocker ","func":"let green = null;\nlet red = null;\nlet value = msg.payload.value;\n\nif(value == \"ON\") {\n    green = {\n        payload : 1\n    }\n    red = {\n        payload : 0\n    }\n    \n}\n\nelse if(value == \"OFF\") {\n     green = {\n        payload : 0\n    }\n    red = {\n        payload : 1\n    }\n}\n\nelse {\n     green = {\n        payload : 0\n    }\n    red = {\n        payload : 0\n    }\n}\n\nreturn [green, red];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":1080,"wires":[["b449f4cb.53ac"],["2e9be08.f95cc2"]]},{"id":"b449f4cb.53ac","type":"rpi-gpio out","z":"1775ac36.40b604","name":"Green Led Stocker ","pin":"37","set":true,"level":"0","freq":"","out":"out","x":1030,"y":1060,"wires":[]},{"id":"2e9be08.f95cc2","type":"rpi-gpio out","z":"1775ac36.40b604","name":"Red Led Stocker","pin":"38","set":true,"level":"0","freq":"","out":"out","x":1030,"y":1120,"wires":[]},{"id":"5d7009ac.952f1","type":"change","z":"1775ac36.40b604","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":615,"y":1200,"wires":[["a8a59dd0.c14cc8"]],"l":false},{"id":"a8a59dd0.c14cc8","type":"change","z":"1775ac36.40b604","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"ONLINE","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"OFFLINE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":735,"y":1200,"wires":[["bb84a214.42122"]],"l":false},{"id":"bb84a214.42122","type":"openhab2-out2","z":"1775ac36.40b604","name":"State Stocker Label","controller":"dfa31b.5159ece8","itemname":"stateLabelStocker","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":970,"y":1200,"wires":[]},{"id":"c650df9d.b2b208","type":"function","z":"1963aa58.852a6e","name":"Turn off the belt? ","func":"\nif(msg.payload.value != \"OFF\") return null;\n\nlet beltDevice = parseInt(msg.payload.devInstance)+1;\nlet beltControl={\n    topic: \"br/\"+beltDevice+\"/3306/0/cmnd/POWER\",\n    payload: \"OFF\"\n};\n\nreturn beltControl;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":520,"wires":[["2e94aab8.4ffbbe"]]},{"id":"2e94aab8.4ffbbe","type":"mqtt out","z":"1963aa58.852a6e","name":"Send to belt","topic":"","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":950,"y":520,"wires":[]},{"id":"31aa26c3.1d82ca","type":"switch","z":"1963aa58.852a6e","name":"","property":"payload.device","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"11","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":885,"y":1520,"wires":[["19fadf84.acead8"],["b025de13.b74a48"]],"l":false},{"id":"19fadf84.acead8","type":"change","z":"1963aa58.852a6e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.status","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":975,"y":1480,"wires":[["3f6a0e2d.a1660a"]],"l":false},{"id":"b025de13.b74a48","type":"change","z":"1963aa58.852a6e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.status","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":975,"y":1560,"wires":[["bcb668b.73f2198"]],"l":false},{"id":"3f6a0e2d.a1660a","type":"openhab2-out2","z":"1963aa58.852a6e","name":"Status of Belt 1","controller":"dfa31b.5159ece8","itemname":"stateLabelBeltBrewer0","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":1160,"y":1480,"wires":[]},{"id":"bcb668b.73f2198","type":"openhab2-out2","z":"1963aa58.852a6e","name":"Status of Belt 2","controller":"dfa31b.5159ece8","itemname":"stateLabelBeltBrewer10","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":1160,"y":1560,"wires":[]},{"id":"74dcb5d1.6359b4","type":"debug","z":"1775ac36.40b604","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":880,"wires":[]},{"id":"279250a0.12424","type":"debug","z":"1775ac36.40b604","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":880,"wires":[]},{"id":"32689434.bfeaa4","type":"influxdb in","z":"33b25859.129848","influxdb":"ff23f5a5.39302","name":"Query","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":670,"y":480,"wires":[["601035de.a6b304"]]},{"id":"601035de.a6b304","type":"function","z":"33b25859.129848","name":"Check Result","func":"let array = msg.payload;\n\nlet result = \"\";\nif(array.length>0) {\n    result = \"BUSY\";\n}\n\nelse {\n    \n    result = \"OK\";\n}\n\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":480,"wires":[[]]},{"id":"10cfdc4f.3c0854","type":"openhab2-in2","z":"ef0f6751.4543b8","name":"Recipe name","controller":"dfa31b.5159ece8","itemname":"nameRecipe","topic":"name","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":350,"y":160,"wires":[["ce3262e9.6a284"]]},{"id":"b341158b.679de","type":"openhab2-in2","z":"ef0f6751.4543b8","name":"Recipe duration (days)","controller":"dfa31b.5159ece8","itemname":"durationFermentation","topic":"duration","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":380,"y":220,"wires":[["2d8aaad0.5a9136"]]},{"id":"ad83a975.cd60c8","type":"openhab2-in2","z":"ef0f6751.4543b8","name":"Recipe max temperature","controller":"dfa31b.5159ece8","itemname":"maxTempRecipe","topic":"max","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":390,"y":360,"wires":[["c0230283.ea069"]]},{"id":"ad6c01e1.f928a8","type":"openhab2-in2","z":"ef0f6751.4543b8","name":"Brewer number ","controller":"dfa31b.5159ece8","itemname":"brewerID","topic":"devInstance","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":360,"y":440,"wires":[["ed9418c.aa3ba68"]]},{"id":"434f2979.60f7f8","type":"openhab2-in2","z":"ef0f6751.4543b8","name":"Recipe min temperature","controller":"dfa31b.5159ece8","itemname":"minTempRecipe","topic":"min","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":380,"y":280,"wires":[["7552c100.cd2fe8"]]},{"id":"d827fb2f.46794","type":"openhab2-out2","z":"ef0f6751.4543b8","name":"Recipe name","controller":"dfa31b.5159ece8","itemname":"nameRecipe","topic":"ItemUpdate","payload":"","onlywhenchanged":false,"x":1090,"y":160,"wires":[]},{"id":"e35770cd.1c8f28","type":"openhab2-out2","z":"ef0f6751.4543b8","name":"Recipe duration","controller":"dfa31b.5159ece8","itemname":"durationFermentation","topic":"ItemUpdate","payload":"","onlywhenchanged":false,"x":1100,"y":220,"wires":[]},{"id":"b00eaabe.f5347","type":"openhab2-out2","z":"ef0f6751.4543b8","name":"Recipe min temperature","controller":"dfa31b.5159ece8","itemname":"minTempRecipe","topic":"ItemUpdate","payload":"","onlywhenchanged":false,"x":1130,"y":280,"wires":[]},{"id":"46d66ba7.910fe4","type":"openhab2-out2","z":"ef0f6751.4543b8","name":"Recipe max temperature","controller":"dfa31b.5159ece8","itemname":"maxTempRecipe","topic":"ItemUpdate","payload":"","onlywhenchanged":false,"x":1130,"y":360,"wires":[]},{"id":"e5b59540.86cb","type":"openhab2-out2","z":"ef0f6751.4543b8","name":"Brewer number","controller":"dfa31b.5159ece8","itemname":"brewerID","topic":"ItemUpdate","payload":"","onlywhenchanged":false,"x":1100,"y":440,"wires":[]},{"id":"ce3262e9.6a284","type":"change","z":"ef0f6751.4543b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":160,"wires":[["d827fb2f.46794"]]},{"id":"2d8aaad0.5a9136","type":"change","z":"ef0f6751.4543b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":220,"wires":[["e35770cd.1c8f28"]]},{"id":"7552c100.cd2fe8","type":"change","z":"ef0f6751.4543b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":280,"wires":[["b00eaabe.f5347"]]},{"id":"c0230283.ea069","type":"change","z":"ef0f6751.4543b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":360,"wires":[["46d66ba7.910fe4"]]},{"id":"ed9418c.aa3ba68","type":"change","z":"ef0f6751.4543b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":440,"wires":[["e5b59540.86cb"]]},{"id":"6833583a.be59a","type":"function","z":"33b25859.129848","name":"Create Query","func":"let device = parseInt(msg.payload);\nlet result=null;\nlet query = \"select * from activeRecipe\" + device;\nif(device==0 || device>2) {\n    result = {\n        payload: \"UNAVAILABLE\"\n    }\n    msg = null;\n}\nelse {\n    msg = {\n        query : query\n    }\n}\nreturn [result, msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":440,"wires":[[],["32689434.bfeaa4"]]},{"id":"69ced897.538c78","type":"change","z":"295f000a.61436","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"OK","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"BUSY","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":595,"y":240,"wires":[["91c0efc9.ef466"]],"l":false},{"id":"1cce8e71.de00a2","type":"function","z":"295f000a.61436","name":"Acceptance","func":"if(msg.complete === undefined){\n    context.set('recipe', msg.payload);\n    node.done();\n} \nelse{\n    let recipe = context.get('recipe');\n    node.send({\n        payload : recipe\n    });\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":300,"wires":[[]]},{"id":"91c0efc9.ef466","type":"switch","z":"295f000a.61436","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":695,"y":160,"wires":[["a4f49854.5089f8"]],"l":false},{"id":"a4f49854.5089f8","type":"change","z":"295f000a.61436","name":"","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":775,"y":160,"wires":[["1cce8e71.de00a2"]],"l":false},{"id":"c64c66f7.424968","type":"switch","z":"f50b0220.9a44b","name":"","property":"payload.devInstance","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":935,"y":380,"wires":[["ccf3950f.92fe38","6c65c242.bb44ec"],["827ad312.07d03","55d0d28d.1f0b0c"]],"l":false},{"id":"ccf3950f.92fe38","type":"function","z":"f50b0220.9a44b","name":"Activate Brewer 1","func":"let days = parseInt(msg.payload.duration);\nlet name = {\n    payload: msg.payload.name\n}\nlet minutes = (days*24)*60;\nlet countdown = {\n    payload: \"started\",\n    delay : parseInt(minutes)\n}\n\n\nreturn [countdown, name];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":300,"wires":[["d13d86c7.ce7ee","f8f6c8ce.2418d8"],["f8c09bcf.c2783"]]},{"id":"827ad312.07d03","type":"function","z":"f50b0220.9a44b","name":"Activate Brewer 2","func":"let days = parseInt(msg.payload.duration);\nlet name = {\n    payload: msg.payload.name\n}\nlet minutes = (days*24)*60;\nlet countdown = {\n    payload : \"started\",\n    delay : parseInt(minutes)\n}\n\n\nreturn [name, countdown];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":440,"wires":[["5396bcd2.155f24"],["74394321.4e0c9c","53e7122f.cd787c"]]},{"id":"294ef8d0.65e468","type":"mqtt out","z":"f50b0220.9a44b","name":"Enable Brewer 2","topic":"cmd/br/10/3/0","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8866ebf.9fd2b18","x":1520,"y":460,"wires":[]},{"id":"d5cb5f42.786ba","type":"join","z":"f50b0220.9a44b","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":570,"y":380,"wires":[["d44b65b0.32d118"]]},{"id":"6d968380.55bcbc","type":"openhab2-in2","z":"f50b0220.9a44b","name":"Check Request","controller":"dfa31b.5159ece8","itemname":"checkBrewerID","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":320,"y":1200,"wires":[["fd04aa1a.a56f4"]]},{"id":"68d60da.4906af4","type":"openhab2-out2","z":"f50b0220.9a44b","name":"Brewer Availability","controller":"dfa31b.5159ece8","itemname":"checkBrewerAvailable","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":990,"y":1180,"wires":[]},{"id":"2de45536.93497a","type":"change","z":"f50b0220.9a44b","name":"Change payload","rules":[{"t":"change","p":"payload","pt":"msg","from":"OK","fromt":"str","to":"OK. You can insert the recipe.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1240,"wires":[["68d60da.4906af4"]]},{"id":"51816140.89f45","type":"comment","z":"f50b0220.9a44b","name":"VERIFY AVAILABILITY","info":"","x":340,"y":1120,"wires":[]},{"id":"25e6aa2e.ae6676","type":"comment","z":"f50b0220.9a44b","name":"CREATE THE RECIPY","info":"","x":280,"y":260,"wires":[]},{"id":"53e7122f.cd787c","type":"change","z":"f50b0220.9a44b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"v\":\"ON\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1315,"y":460,"wires":[["294ef8d0.65e468"]],"l":false},{"id":"f1c1f1c9.8737e","type":"inject","z":"f50b0220.9a44b","name":"Stop Br 2 Request","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":640,"wires":[[]]},{"id":"a474ee73.be237","type":"comment","z":"f50b0220.9a44b","name":"STOP BREWER 1","info":"","x":670,"y":60,"wires":[]},{"id":"7b4bb0ed.09cb2","type":"comment","z":"f50b0220.9a44b","name":"STOP BREWER 2","info":"","x":670,"y":580,"wires":[]},{"id":"c3ef481d.f84718","type":"change","z":"f50b0220.9a44b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":895,"y":740,"wires":[["a0a9c575.34e078"]],"l":false},{"id":"a0a9c575.34e078","type":"subflow:142da814.ea1df8","z":"f50b0220.9a44b","name":"","env":[],"x":1040,"y":740,"wires":[]},{"id":"4516be0a.bc7c9","type":"change","z":"f50b0220.9a44b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":895,"y":60,"wires":[["331fdd4.e958d22"]],"l":false},{"id":"331fdd4.e958d22","type":"subflow:142da814.ea1df8","z":"f50b0220.9a44b","name":"","x":1040,"y":60,"wires":[]},{"id":"580b7355.303d0c","type":"mqtt out","z":"f50b0220.9a44b","name":"Disable Brewer 2","topic":"cmd/br/10/3/0","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8866ebf.9fd2b18","x":1070,"y":660,"wires":[]},{"id":"c9373f83.3533e","type":"change","z":"f50b0220.9a44b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"v\":\"OFF\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":895,"y":680,"wires":[["580b7355.303d0c"]],"l":false},{"id":"887fbe6c.a1cea","type":"mqtt out","z":"f50b0220.9a44b","name":"Disable Brewer 1","topic":"cmd/br/0/3/0","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8866ebf.9fd2b18","x":1050,"y":120,"wires":[]},{"id":"3f38498d.167f26","type":"change","z":"f50b0220.9a44b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"v\":\"OFF\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":895,"y":120,"wires":[["887fbe6c.a1cea"]],"l":false},{"id":"fb48a372.28143","type":"change","z":"f50b0220.9a44b","name":"Stop counter","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":180,"wires":[["f8f6c8ce.2418d8"]]},{"id":"69ff8a1f.d6bb44","type":"change","z":"f50b0220.9a44b","name":"Stop counter","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":580,"wires":[["74394321.4e0c9c"]]},{"id":"d44b65b0.32d118","type":"subflow:295f000a.61436","z":"f50b0220.9a44b","name":"","env":[],"x":760,"y":380,"wires":[["c64c66f7.424968"]]},{"id":"dca8fe2b.7c38a","type":"subflow:33b25859.129848","z":"295f000a.61436","name":"","env":[],"x":360,"y":220,"wires":[["91c0efc9.ef466"],["69ced897.538c78"]]},{"id":"9fb64563.c92c1","type":"subflow:ef0f6751.4543b8","z":"f50b0220.9a44b","name":"","x":310,"y":380,"wires":[["d5cb5f42.786ba"]]},{"id":"f8c09bcf.c2783","type":"openhab2-out2","z":"f50b0220.9a44b","name":"Recipe name br 1","controller":"dfa31b.5159ece8","itemname":"nameRecipeBrewer1","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":1400,"y":340,"wires":[]},{"id":"5396bcd2.155f24","type":"openhab2-out2","z":"f50b0220.9a44b","name":"Recipe name br 2","controller":"dfa31b.5159ece8","itemname":"nameRecipeBrewer2","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":1410,"y":400,"wires":[]},{"id":"500e012d.ebc318","type":"openhab2-out2","z":"f50b0220.9a44b","name":"Timer Brewer 2","controller":"dfa31b.5159ece8","itemname":"timerBrewer2","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":1800,"y":620,"wires":[]},{"id":"cd16b4b9.6fe928","type":"openhab2-in2","z":"f50b0220.9a44b","name":"Stop request brewer 1","controller":"dfa31b.5159ece8","itemname":"StopBrewer1_StopBrewer1","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":500,"y":120,"wires":[["3f38498d.167f26","4516be0a.bc7c9","fb48a372.28143","737b299c.45ea4","e2fa390e.fe9bf8"]]},{"id":"67557261.0efb14","type":"openhab2-in2","z":"f50b0220.9a44b","name":"Stop request brewer 2","controller":"dfa31b.5159ece8","itemname":"StopBrewer2_StopBrewer2","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":680,"y":640,"wires":[["69ff8a1f.d6bb44","c9373f83.3533e","c3ef481d.f84718","2f1cd15b.54e73e","718d2a44.a47884"]]},{"id":"fd04aa1a.a56f4","type":"subflow:33b25859.129848","z":"f50b0220.9a44b","name":"","x":540,"y":1200,"wires":[["68d60da.4906af4"],["2de45536.93497a"]]},{"id":"11f2812d.18be37","type":"openhab2-out2","z":"f50b0220.9a44b","name":"Timer Brewer 1","controller":"dfa31b.5159ece8","itemname":"timerBrewer1","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":1760,"y":200,"wires":[]},{"id":"d13d86c7.ce7ee","type":"change","z":"f50b0220.9a44b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"v\":\"ON\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1275,"y":260,"wires":[["d86e7df9.b5383"]],"l":false},{"id":"d86e7df9.b5383","type":"mqtt out","z":"f50b0220.9a44b","name":"Enable Brewer 1","topic":"cmd/br/0/3/0","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8866ebf.9fd2b18","x":1420,"y":260,"wires":[]},{"id":"f8f6c8ce.2418d8","type":"stoptimer-varidelay","z":"f50b0220.9a44b","duration":"0","durationType":"num","units":"Minute","payloadtype":"str","payloadval":"Countdown expired!","name":"Timer Brewer 1","reporting":"every_second","persist":true,"ignoretimerpass":false,"x":1240,"y":180,"wires":[[],[],["f81c0fd9.ad7ff"]]},{"id":"74394321.4e0c9c","type":"stoptimer-varidelay","z":"f50b0220.9a44b","duration":"0","durationType":"num","units":"Minute","payloadtype":"str","payloadval":"Countdown expired!","name":"Timer Brewer 2","reporting":"every_second","persist":true,"ignoretimerpass":false,"x":1400,"y":580,"wires":[[],[],["9a0087da.9dcf3"]]},{"id":"f81c0fd9.ad7ff","type":"function","z":"f50b0220.9a44b","name":"Time conversion","func":"let payload = msg.payload;\nif(payload==\"stopped\") {\n    msg.payload = \"Countdown expired!\"\n    return msg;\n}\nlet array = payload.split(':');\nlet totalHours = array[0];\nlet minutes = array[1];\nlet seconds = array[2];\n\nlet days = Math.floor(totalHours/24);\n\nlet hours = totalHours%24;\n\nmsg.payload =  days + \"d \" + hours + \"h \" + minutes + \"m \" + seconds + \"s\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":200,"wires":[["11f2812d.18be37"]]},{"id":"9a0087da.9dcf3","type":"function","z":"f50b0220.9a44b","name":"Time conversion","func":"let payload = msg.payload;\nif(payload==\"stopped\") {\n    msg.payload = \"Countdown expired!\"\n    return msg;\n}\nlet array = payload.split(':');\nlet totalHours = array[0];\nlet minutes = array[1];\nlet seconds = array[2];\n\nlet days = Math.floor(totalHours/24);\n\nlet hours = totalHours%24;\n\nmsg.payload =  days + \"d \" + hours + \"h \" + minutes + \"m \" + seconds + \"s\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":620,"wires":[["500e012d.ebc318"]]},{"id":"737b299c.45ea4","type":"change","z":"f50b0220.9a44b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":675,"y":240,"wires":[["ca48ac65.7197d"]],"l":false},{"id":"ca48ac65.7197d","type":"openhab2-out2","z":"f50b0220.9a44b","name":"Recipe name br 1","controller":"dfa31b.5159ece8","itemname":"nameRecipeBrewer1","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":830,"y":240,"wires":[]},{"id":"df91b4d.5050d48","type":"openhab2-out2","z":"f50b0220.9a44b","name":"Recipe name br 2","controller":"dfa31b.5159ece8","itemname":"nameRecipeBrewer2","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":1070,"y":800,"wires":[]},{"id":"2f1cd15b.54e73e","type":"change","z":"f50b0220.9a44b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":895,"y":800,"wires":[["df91b4d.5050d48"]],"l":false},{"id":"7a0eeb65.c54d9c","type":"change","z":"295f000a.61436","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.devInstance","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":75,"y":220,"wires":[["dca8fe2b.7c38a"]],"l":false},{"id":"e5746193.9266e","type":"function","z":"142da814.ea1df8","name":"Create drop measurement","func":"let device = msg.payload;\nlet query = \"drop measurement activeRecipe\" + device ; \nmsg.query = query;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":220,"wires":[["db473254.74117"]]},{"id":"db473254.74117","type":"influxdb in","z":"142da814.ea1df8","influxdb":"bcebe6c8.34832","name":"Delete measurement","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":640,"y":220,"wires":[[]]},{"id":"6c65c242.bb44ec","type":"influxdb out","z":"f50b0220.9a44b","influxdb":"bcebe6c8.34832","name":"Store in DB1","measurement":"activeRecipe1","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1090,"y":340,"wires":[]},{"id":"55d0d28d.1f0b0c","type":"influxdb out","z":"f50b0220.9a44b","influxdb":"bcebe6c8.34832","name":"Store in DB2","measurement":"activeRecipe2","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1090,"y":400,"wires":[]},{"id":"5f90f4da.e3d30c","type":"influxdb out","z":"1775ac36.40b604","influxdb":"bcebe6c8.34832","name":"Store in DB","measurement":"stockerFire","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":950,"y":560,"wires":[]},{"id":"d40a5fda.a9183","type":"influxdb out","z":"1775ac36.40b604","influxdb":"bcebe6c8.34832","name":"Store in DB","measurement":"stockerLight","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":890,"y":380,"wires":[]},{"id":"8ad7987a.900bf8","type":"influxdb out","z":"1775ac36.40b604","influxdb":"bcebe6c8.34832","name":"Store in DB","measurement":"stockerHumidity","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":870,"y":200,"wires":[]},{"id":"b286e8d3.1f76c8","type":"influxdb out","z":"1775ac36.40b604","influxdb":"bcebe6c8.34832","name":"Store in DB","measurement":"stockerTemperature","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":910,"y":20,"wires":[]},{"id":"ea485564.5163f","type":"change","z":"1775ac36.40b604","name":"","rules":[{"t":"change","p":"payload.value","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload.value","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":755,"y":560,"wires":[["5f90f4da.e3d30c"]],"l":false},{"id":"777ca3f0.89bf24","type":"debug","z":"1775ac36.40b604","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1390,"y":400,"wires":[]},{"id":"7b94086.d92a9f8","type":"debug","z":"1775ac36.40b604","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1390,"y":440,"wires":[]},{"id":"65bbea5c.964bec","type":"debug","z":"1775ac36.40b604","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1410,"y":300,"wires":[]},{"id":"bbcfb4d.abebbc8","type":"debug","z":"1775ac36.40b604","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1390,"y":360,"wires":[]},{"id":"7e6cf113.2e6398","type":"function","z":"1775ac36.40b604","name":"","func":"const tempAlarm=\"stocker_\"+0+\"_temp_\"+0;\nflow.set(tempAlarm, undefined);\nconst uno=\"stocker_\"+0+\"_hum_\"+0;\nflow.set(uno, undefined);\nconst due=\"stocker_\"+0+\"_light_\"+0;\nflow.set(due, undefined);\nconst tre=\"stocker_\"+0+\"_flame_\"+0;\nflow.set(tre, undefined);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":160,"wires":[[]]},{"id":"5fc2c0ec.28d3d8","type":"inject","z":"1775ac36.40b604","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1240,"y":220,"wires":[["7e6cf113.2e6398"]]},{"id":"355985c6.2add72","type":"debug","z":"1775ac36.40b604","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1490,"y":140,"wires":[]},{"id":"793a157d.2c1d8c","type":"openhab2-in2","z":"2775c3f5.a41fec","name":"Activate/Deactivate","controller":"dfa31b.5159ece8","itemname":"SwitchStockerControl","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":190,"y":440,"wires":[["5e92fe5d.a055e8"]]},{"id":"ea0d8f79.13b2c8","type":"mqtt out","z":"2775c3f5.a41fec","name":"Send to board","topic":"cmd/st/0/3/0","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b750acbb.e73dc8","x":820,"y":440,"wires":[]},{"id":"5e92fe5d.a055e8","type":"function","z":"2775c3f5.a41fec","name":"","func":"msg.payload = {\n    v : msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":440,"wires":[["3c776c00.c0e7ec","ea0d8f79.13b2c8"]]},{"id":"3c776c00.c0e7ec","type":"debug","z":"2775c3f5.a41fec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":400,"wires":[]},{"id":"cb1ec1bd.415668","type":"switch","z":"1963aa58.852a6e","name":"","property":"payload.devInstance","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"10","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":455,"y":1080,"wires":[["5185b21e.998c6c"],["95f2cf26.56e12"]],"outputLabels":["Brewer 1","Brewer 2"],"l":false},{"id":"95f2cf26.56e12","type":"change","z":"1963aa58.852a6e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":575,"y":1120,"wires":[["5c8e8885.1df5f"]],"l":false},{"id":"5185b21e.998c6c","type":"change","z":"1963aa58.852a6e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":575,"y":1060,"wires":[["3485fec1.fc5fea"]],"l":false},{"id":"3485fec1.fc5fea","type":"openhab2-out2","z":"1963aa58.852a6e","name":"Status Brewer 1","controller":"dfa31b.5159ece8","itemname":"stateLabelBrewer0","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":1020,"y":1060,"wires":[]},{"id":"5c8e8885.1df5f","type":"openhab2-out2","z":"1963aa58.852a6e","name":"Status Brewer 2","controller":"dfa31b.5159ece8","itemname":"stateLabelBrewer10","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":1020,"y":1120,"wires":[]},{"id":"8e0d4f8c.b974d","type":"debug","z":"33b25859.129848","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":580,"wires":[]},{"id":"fec63100.5dc7b","type":"debug","z":"33b25859.129848","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":280,"wires":[]},{"id":"2a8366c7.89ccaa","type":"debug","z":"f50b0220.9a44b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":1300,"wires":[]},{"id":"714db072.d3c2e","type":"debug","z":"1963aa58.852a6e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":940,"wires":[]},{"id":"b8ad5eb.a2ec1a","type":"function","z":"1963aa58.852a6e","name":"","func":"let minValue = global.get(\"brewer_\"+device+\"_minTemp\");\nlet maxValue = global.get(\"brewer_\"+device+\"_maxTemp\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1360,"y":200,"wires":[[]]},{"id":"e1211f58.2cb858","type":"function","z":"1963aa58.852a6e","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1280,"y":480,"wires":[[]]},{"id":"e2fa390e.fe9bf8","type":"function","z":"f50b0220.9a44b","name":"","func":"let device = 0;\n\nglobal.set(\"brewer_\"+device+\"_minTemp\", null);\nglobal.set(\"brewer_\"+device+\"_maxTemp\", null);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":280,"wires":[[]]},{"id":"718d2a44.a47884","type":"function","z":"f50b0220.9a44b","name":"","func":"let device = 10;\n\nglobal.set(\"brewer_\"+device+\"_minTemp\", null);\nglobal.set(\"brewer_\"+device+\"_maxTemp\", null);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":800,"wires":[[]]}]
