Node-RED/recipeMGMT.json
[{"id":"f3598cd5.09b59","type":"subflow","name":"Reset Brewer ","info":"","category":"","in":[{"x":180,"y":400,"wires":[{"id":"e8f2ea74.9cce6"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"3523f79d.25cb6","type":"change","z":"f3598cd5.09b59","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":635,"y":180,"wires":[["c2b8def9.8d8198"]],"l":false},{"id":"c2b8def9.8d8198","type":"openhab2-out2","z":"f3598cd5.09b59","name":"Recipe name br 1","controller":"dfa31b.5159ece8","itemname":"nameRecipeBrewer1","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":810,"y":180,"wires":[]},{"id":"cb096400.ba0ae","type":"change","z":"f3598cd5.09b59","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":635,"y":260,"wires":[["aa4654e2.d043d8"]],"l":false},{"id":"facbeb34.7d78f","type":"change","z":"f3598cd5.09b59","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":635,"y":340,"wires":[["5067a083.f712e"]],"l":false},{"id":"aa4654e2.d043d8","type":"openhab2-out2","z":"f3598cd5.09b59","name":"MinTempRecipeBr1","controller":"dfa31b.5159ece8","itemname":"minTempRecipeBrewer1","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":810,"y":260,"wires":[]},{"id":"5067a083.f712e","type":"openhab2-out2","z":"f3598cd5.09b59","name":"MaxTempRecipeBr1","controller":"dfa31b.5159ece8","itemname":"maxTempRecipeBrewer1","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":820,"y":340,"wires":[]},{"id":"af733d54.d131a","type":"change","z":"f3598cd5.09b59","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":635,"y":420,"wires":[["127153bc.5037ec"]],"l":false},{"id":"127153bc.5037ec","type":"openhab2-out2","z":"f3598cd5.09b59","name":"Recipe name br 2","controller":"dfa31b.5159ece8","itemname":"nameRecipeBrewer2","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":830,"y":420,"wires":[]},{"id":"964490.c396ab7","type":"change","z":"f3598cd5.09b59","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":635,"y":500,"wires":[["7c709520.0d664c"]],"l":false},{"id":"c4ade666.ab56b8","type":"change","z":"f3598cd5.09b59","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":635,"y":580,"wires":[["62bce933.789908"]],"l":false},{"id":"7c709520.0d664c","type":"openhab2-out2","z":"f3598cd5.09b59","name":"MinTempRecipeBr2","controller":"dfa31b.5159ece8","itemname":"minTempRecipeBrewer2","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":830,"y":500,"wires":[]},{"id":"62bce933.789908","type":"openhab2-out2","z":"f3598cd5.09b59","name":"MaxTempRecipeBr2","controller":"dfa31b.5159ece8","itemname":"maxTempRecipeBrewer2","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":840,"y":580,"wires":[]},{"id":"e8f2ea74.9cce6","type":"switch","z":"f3598cd5.09b59","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":395,"y":400,"wires":[["3523f79d.25cb6","cb096400.ba0ae","facbeb34.7d78f"],["af733d54.d131a","964490.c396ab7","c4ade666.ab56b8"]],"l":false},{"id":"70cc3139.1d081","type":"subflow","name":"Update openHAB","info":"","category":"","in":[{"x":80,"y":460,"wires":[{"id":"62eef282.e1afec"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"b8217b23.348058","type":"split","z":"70cc3139.1d081","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":330,"y":640,"wires":[["caab2a45.65943","cf0b16af.c24e","6647098a.d4bf78"]]},{"id":"caab2a45.65943","type":"switch","z":"70cc3139.1d081","name":"minTemp","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"minTemp","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":600,"y":580,"wires":[["7fa1427f.a058dc"]]},{"id":"cf0b16af.c24e","type":"switch","z":"70cc3139.1d081","name":"maxTemp","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"maxTemp","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":600,"y":640,"wires":[["711adbc.15ab824"]]},{"id":"6647098a.d4bf78","type":"switch","z":"70cc3139.1d081","name":"name","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"name","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":720,"wires":[["c79d0478.553438"]]},{"id":"c79d0478.553438","type":"openhab2-out2","z":"70cc3139.1d081","name":"Recipe name br 2","controller":"dfa31b.5159ece8","itemname":"nameRecipeBrewer2","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":890,"y":720,"wires":[]},{"id":"62eef282.e1afec","type":"switch","z":"70cc3139.1d081","name":"","property":"payload.devInstance","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":195,"y":460,"wires":[["c0734b6c.5a5b2"],["b8217b23.348058"]],"l":false},{"id":"c0734b6c.5a5b2","type":"split","z":"70cc3139.1d081","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":350,"y":340,"wires":[["8748298.1b1fc58","879fdc34.210078","5a7162b6.a4db0c"]]},{"id":"8748298.1b1fc58","type":"switch","z":"70cc3139.1d081","name":"minTemp","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"minTemp","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":280,"wires":[["fcd58f89.5eb67"]]},{"id":"879fdc34.210078","type":"switch","z":"70cc3139.1d081","name":"maxTemp","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"maxTemp","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":340,"wires":[["c0f76b70.c07968"]]},{"id":"5a7162b6.a4db0c","type":"switch","z":"70cc3139.1d081","name":"name","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"name","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":420,"wires":[["eaecc9f4.8265d"]]},{"id":"eaecc9f4.8265d","type":"openhab2-out2","z":"70cc3139.1d081","name":"Recipe name br 1","controller":"dfa31b.5159ece8","itemname":"nameRecipeBrewer1","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":910,"y":420,"wires":[]},{"id":"fcd58f89.5eb67","type":"openhab2-out2","z":"70cc3139.1d081","name":"MinTempRecipeBr1","controller":"dfa31b.5159ece8","itemname":"minTempRecipeBrewer1","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":900,"y":280,"wires":[]},{"id":"c0f76b70.c07968","type":"openhab2-out2","z":"70cc3139.1d081","name":"MaxTempRecipeBr1","controller":"dfa31b.5159ece8","itemname":"maxTempRecipeBrewer1","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":910,"y":340,"wires":[]},{"id":"7fa1427f.a058dc","type":"openhab2-out2","z":"70cc3139.1d081","name":"MinTempRecipeBr2","controller":"dfa31b.5159ece8","itemname":"minTempRecipeBrewer2","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":910,"y":580,"wires":[]},{"id":"711adbc.15ab824","type":"openhab2-out2","z":"70cc3139.1d081","name":"MaxTempRecipeBr2","controller":"dfa31b.5159ece8","itemname":"maxTempRecipeBrewer2","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":920,"y":640,"wires":[]},{"id":"ef0f6751.4543b8","type":"subflow","name":"New Recipe from Openhab","info":"","category":"","in":[],"out":[{"x":700,"y":320,"wires":[{"id":"10cfdc4f.3c0854","port":0},{"id":"b341158b.679de","port":0},{"id":"434f2979.60f7f8","port":0},{"id":"ad83a975.cd60c8","port":0},{"id":"ad6c01e1.f928a8","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"10cfdc4f.3c0854","type":"openhab2-in2","z":"ef0f6751.4543b8","name":"Recipe name","controller":"dfa31b.5159ece8","itemname":"nameRecipe","topic":"name","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":350,"y":160,"wires":[["ce3262e9.6a284"]]},{"id":"b341158b.679de","type":"openhab2-in2","z":"ef0f6751.4543b8","name":"Recipe duration (days)","controller":"dfa31b.5159ece8","itemname":"durationFermentation","topic":"duration","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":380,"y":220,"wires":[["2d8aaad0.5a9136"]]},{"id":"ad83a975.cd60c8","type":"openhab2-in2","z":"ef0f6751.4543b8","name":"Recipe max temperature","controller":"dfa31b.5159ece8","itemname":"maxTempRecipe","topic":"max","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":390,"y":360,"wires":[["c0230283.ea069"]]},{"id":"ad6c01e1.f928a8","type":"openhab2-in2","z":"ef0f6751.4543b8","name":"Brewer number ","controller":"dfa31b.5159ece8","itemname":"brewerID","topic":"devInstance","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":360,"y":440,"wires":[["ed9418c.aa3ba68"]]},{"id":"434f2979.60f7f8","type":"openhab2-in2","z":"ef0f6751.4543b8","name":"Recipe min temperature","controller":"dfa31b.5159ece8","itemname":"minTempRecipe","topic":"min","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":380,"y":280,"wires":[["7552c100.cd2fe8"]]},{"id":"d827fb2f.46794","type":"openhab2-out2","z":"ef0f6751.4543b8","name":"Recipe name","controller":"dfa31b.5159ece8","itemname":"nameRecipe","topic":"ItemUpdate","payload":"","onlywhenchanged":false,"x":1090,"y":160,"wires":[]},{"id":"e35770cd.1c8f28","type":"openhab2-out2","z":"ef0f6751.4543b8","name":"Recipe duration","controller":"dfa31b.5159ece8","itemname":"durationFermentation","topic":"ItemUpdate","payload":"","onlywhenchanged":false,"x":1100,"y":220,"wires":[]},{"id":"b00eaabe.f5347","type":"openhab2-out2","z":"ef0f6751.4543b8","name":"Recipe min temperature","controller":"dfa31b.5159ece8","itemname":"minTempRecipe","topic":"ItemUpdate","payload":"","onlywhenchanged":false,"x":1130,"y":280,"wires":[]},{"id":"46d66ba7.910fe4","type":"openhab2-out2","z":"ef0f6751.4543b8","name":"Recipe max temperature","controller":"dfa31b.5159ece8","itemname":"maxTempRecipe","topic":"ItemUpdate","payload":"","onlywhenchanged":false,"x":1130,"y":360,"wires":[]},{"id":"e5b59540.86cb","type":"openhab2-out2","z":"ef0f6751.4543b8","name":"Brewer number","controller":"dfa31b.5159ece8","itemname":"brewerID","topic":"ItemUpdate","payload":"","onlywhenchanged":false,"x":1100,"y":440,"wires":[]},{"id":"ce3262e9.6a284","type":"change","z":"ef0f6751.4543b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":160,"wires":[["d827fb2f.46794"]]},{"id":"2d8aaad0.5a9136","type":"change","z":"ef0f6751.4543b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":220,"wires":[["e35770cd.1c8f28"]]},{"id":"7552c100.cd2fe8","type":"change","z":"ef0f6751.4543b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":280,"wires":[["b00eaabe.f5347"]]},{"id":"c0230283.ea069","type":"change","z":"ef0f6751.4543b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":360,"wires":[["46d66ba7.910fe4"]]},{"id":"ed9418c.aa3ba68","type":"change","z":"ef0f6751.4543b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":440,"wires":[["e5b59540.86cb"]]},{"id":"33b25859.129848","type":"subflow","name":"Query process","info":"","category":"","in":[{"x":320,"y":440,"wires":[{"id":"6833583a.be59a"}]}],"out":[{"x":840,"y":380,"wires":[{"id":"6833583a.be59a","port":0}]},{"x":1100,"y":480,"wires":[{"id":"601035de.a6b304","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"32689434.bfeaa4","type":"influxdb in","z":"33b25859.129848","influxdb":"ff23f5a5.39302","name":"Query","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":670,"y":480,"wires":[["601035de.a6b304"]]},{"id":"601035de.a6b304","type":"function","z":"33b25859.129848","name":"Check Result","func":"let array = msg.payload;\n\nlet result = \"\";\nif(array.length>0) {\n    result = \"BUSY\";\n}\n\nelse {\n    \n    result = \"OK\";\n}\n\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":480,"wires":[[]]},{"id":"6833583a.be59a","type":"function","z":"33b25859.129848","name":"Create Query","func":"let device = parseInt(msg.payload);\nlet result=null;\nlet query = \"select * from activeRecipe\" + device;\nif(device==0 || device>2) {\n    result = {\n        payload: \"UNAVAILABLE\"\n    }\n    msg = null;\n}\nelse {\n    msg = {\n        query : query\n    }\n}\nreturn [result, msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":440,"wires":[[],["32689434.bfeaa4"]]},{"id":"8e0d4f8c.b974d","type":"debug","z":"33b25859.129848","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":580,"wires":[]},{"id":"fec63100.5dc7b","type":"debug","z":"33b25859.129848","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":280,"wires":[]},{"id":"ff23f5a5.39302","type":"influxdb","z":"33b25859.129848","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"BrewIoT","name":"BrewIoT","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"295f000a.61436","type":"subflow","name":"Verification process","info":"","category":"","in":[{"x":140,"y":300,"wires":[{"id":"1cce8e71.de00a2"},{"id":"7a0eeb65.c54d9c"}]}],"out":[{"x":1060,"y":300,"wires":[{"id":"1cce8e71.de00a2","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"69ced897.538c78","type":"change","z":"295f000a.61436","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"OK","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"BUSY","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":595,"y":240,"wires":[["91c0efc9.ef466"]],"l":false},{"id":"1cce8e71.de00a2","type":"function","z":"295f000a.61436","name":"Acceptance","func":"if(msg.complete === undefined){\n    context.set('recipe', msg.payload);\n    node.done();\n} \nelse{\n    let recipe = context.get('recipe');\n    node.send({\n        payload : recipe\n    });\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":300,"wires":[[]]},{"id":"91c0efc9.ef466","type":"switch","z":"295f000a.61436","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":695,"y":160,"wires":[["a4f49854.5089f8"]],"l":false},{"id":"a4f49854.5089f8","type":"change","z":"295f000a.61436","name":"","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":775,"y":160,"wires":[["1cce8e71.de00a2"]],"l":false},{"id":"dca8fe2b.7c38a","type":"subflow:33b25859.129848","z":"295f000a.61436","name":"","env":[],"x":360,"y":220,"wires":[["91c0efc9.ef466"],["69ced897.538c78"]]},{"id":"7a0eeb65.c54d9c","type":"change","z":"295f000a.61436","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.devInstance","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":75,"y":220,"wires":[["dca8fe2b.7c38a"]],"l":false},{"id":"142da814.ea1df8","type":"subflow","name":"Clean DB","info":"","category":"","in":[{"x":120,"y":220,"wires":[{"id":"e5746193.9266e"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"e5746193.9266e","type":"function","z":"142da814.ea1df8","name":"Create drop measurement","func":"let device = msg.payload;\nlet query = \"drop measurement activeRecipe\" + device ; \nmsg.query = query;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":220,"wires":[["db473254.74117"]]},{"id":"db473254.74117","type":"influxdb in","z":"142da814.ea1df8","influxdb":"bcebe6c8.34832","name":"Delete measurement","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":640,"y":220,"wires":[[]]},{"id":"a963281b.e9203","type":"influxdb","z":"142da814.ea1df8","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"BrewIoT","name":"BrewIoT","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"bcebe6c8.34832","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"BrewIoT","name":"BrewIoT","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"f50b0220.9a44b","type":"tab","label":"Recipe MGMT","disabled":false,"info":""},{"id":"c64c66f7.424968","type":"switch","z":"f50b0220.9a44b","name":"","property":"payload.devInstance","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":935,"y":380,"wires":[["ccf3950f.92fe38","6c65c242.bb44ec"],["827ad312.07d03","55d0d28d.1f0b0c"]],"l":false},{"id":"ccf3950f.92fe38","type":"function","z":"f50b0220.9a44b","name":"Activate Brewer 1","func":"let days = parseInt(msg.payload.duration);\nlet data = {\n    payload : {\n    name: msg.payload.name,\n    minTemp : parseInt(msg.payload.min),\n    maxTemp : parseInt(msg.payload.max),\n    devInstance : msg.payload.devInstance\n    }\n}\nlet minutes = (days*24)*60;\nlet countdown = {\n    payload: \"started\",\n    delay : parseInt(minutes)\n}\n\n\nreturn [countdown, data];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":300,"wires":[["d13d86c7.ce7ee","f8f6c8ce.2418d8"],["c4f8f7a0.1f9298"]]},{"id":"827ad312.07d03","type":"function","z":"f50b0220.9a44b","name":"Activate Brewer 2","func":"let days = parseInt(msg.payload.duration);\nlet data = {\n    payload : {\n    name: msg.payload.name,\n    minTemp : parseInt(msg.payload.min),\n    maxTemp : parseInt(msg.payload.max),\n    devInstance : msg.payload.devInstance\n    }\n}\nlet minutes = (days*24)*60;\nlet countdown = {\n    payload : \"started\",\n    delay : parseInt(minutes)\n}\n\n\nreturn [data, countdown];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":440,"wires":[["c4f8f7a0.1f9298"],["74394321.4e0c9c","53e7122f.cd787c"]]},{"id":"294ef8d0.65e468","type":"mqtt out","z":"f50b0220.9a44b","name":"Enable Brewer 2","topic":"cmd/br/10/3/0","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8866ebf.9fd2b18","x":1520,"y":460,"wires":[]},{"id":"d5cb5f42.786ba","type":"join","z":"f50b0220.9a44b","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":570,"y":380,"wires":[["d44b65b0.32d118"]]},{"id":"6d968380.55bcbc","type":"openhab2-in2","z":"f50b0220.9a44b","name":"Check Request","controller":"dfa31b.5159ece8","itemname":"checkBrewerID","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":360,"y":1060,"wires":[["fd04aa1a.a56f4"]]},{"id":"68d60da.4906af4","type":"openhab2-out2","z":"f50b0220.9a44b","name":"Brewer Availability","controller":"dfa31b.5159ece8","itemname":"checkBrewerAvailable","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":1030,"y":1040,"wires":[]},{"id":"2de45536.93497a","type":"change","z":"f50b0220.9a44b","name":"Change payload","rules":[{"t":"change","p":"payload","pt":"msg","from":"OK","fromt":"str","to":"OK. You can insert the recipe.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":1100,"wires":[["68d60da.4906af4"]]},{"id":"51816140.89f45","type":"comment","z":"f50b0220.9a44b","name":"VERIFY AVAILABILITY","info":"","x":380,"y":980,"wires":[]},{"id":"25e6aa2e.ae6676","type":"comment","z":"f50b0220.9a44b","name":"CREATE THE RECIPY","info":"","x":280,"y":260,"wires":[]},{"id":"53e7122f.cd787c","type":"change","z":"f50b0220.9a44b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"v\":\"ON\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1315,"y":460,"wires":[["294ef8d0.65e468"]],"l":false},{"id":"f1c1f1c9.8737e","type":"inject","z":"f50b0220.9a44b","name":"Stop Br 2 Request","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":640,"wires":[[]]},{"id":"a474ee73.be237","type":"comment","z":"f50b0220.9a44b","name":"STOP BREWER 1","info":"","x":670,"y":60,"wires":[]},{"id":"7b4bb0ed.09cb2","type":"comment","z":"f50b0220.9a44b","name":"STOP BREWER 2","info":"","x":670,"y":580,"wires":[]},{"id":"c3ef481d.f84718","type":"change","z":"f50b0220.9a44b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":895,"y":740,"wires":[["a0a9c575.34e078"]],"l":false},{"id":"a0a9c575.34e078","type":"subflow:142da814.ea1df8","z":"f50b0220.9a44b","name":"","env":[],"x":1040,"y":740,"wires":[]},{"id":"4516be0a.bc7c9","type":"change","z":"f50b0220.9a44b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":895,"y":60,"wires":[["331fdd4.e958d22"]],"l":false},{"id":"331fdd4.e958d22","type":"subflow:142da814.ea1df8","z":"f50b0220.9a44b","name":"","x":1040,"y":60,"wires":[]},{"id":"580b7355.303d0c","type":"mqtt out","z":"f50b0220.9a44b","name":"Disable Brewer 2","topic":"cmd/br/10/3/0","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8866ebf.9fd2b18","x":1070,"y":680,"wires":[]},{"id":"c9373f83.3533e","type":"change","z":"f50b0220.9a44b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"v\":\"OFF\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":895,"y":680,"wires":[["580b7355.303d0c"]],"l":false},{"id":"887fbe6c.a1cea","type":"mqtt out","z":"f50b0220.9a44b","name":"Disable Brewer 1","topic":"cmd/br/0/3/0","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8866ebf.9fd2b18","x":1050,"y":120,"wires":[]},{"id":"3f38498d.167f26","type":"change","z":"f50b0220.9a44b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"v\":\"OFF\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":895,"y":120,"wires":[["887fbe6c.a1cea"]],"l":false},{"id":"fb48a372.28143","type":"change","z":"f50b0220.9a44b","name":"Stop counter","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":180,"wires":[["f8f6c8ce.2418d8"]]},{"id":"69ff8a1f.d6bb44","type":"change","z":"f50b0220.9a44b","name":"Stop counter","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":580,"wires":[["74394321.4e0c9c"]]},{"id":"d44b65b0.32d118","type":"subflow:295f000a.61436","z":"f50b0220.9a44b","name":"","env":[],"x":760,"y":380,"wires":[["c64c66f7.424968"]]},{"id":"9fb64563.c92c1","type":"subflow:ef0f6751.4543b8","z":"f50b0220.9a44b","name":"","env":[],"x":310,"y":380,"wires":[["d5cb5f42.786ba"]]},{"id":"500e012d.ebc318","type":"openhab2-out2","z":"f50b0220.9a44b","name":"Timer Brewer 2","controller":"dfa31b.5159ece8","itemname":"timerBrewer2","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":1800,"y":620,"wires":[]},{"id":"cd16b4b9.6fe928","type":"openhab2-in2","z":"f50b0220.9a44b","name":"Stop request brewer 1","controller":"dfa31b.5159ece8","itemname":"StopBrewer1_StopBrewer1","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":500,"y":120,"wires":[["3f38498d.167f26","4516be0a.bc7c9","fb48a372.28143","e2fa390e.fe9bf8","16dab1a8.b464b6"]]},{"id":"67557261.0efb14","type":"openhab2-in2","z":"f50b0220.9a44b","name":"Stop request brewer 2","controller":"dfa31b.5159ece8","itemname":"StopBrewer2_StopBrewer2","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":680,"y":640,"wires":[["69ff8a1f.d6bb44","c9373f83.3533e","c3ef481d.f84718","718d2a44.a47884","86beda4e.086f68"]]},{"id":"fd04aa1a.a56f4","type":"subflow:33b25859.129848","z":"f50b0220.9a44b","name":"","x":580,"y":1060,"wires":[["68d60da.4906af4"],["2de45536.93497a"]]},{"id":"11f2812d.18be37","type":"openhab2-out2","z":"f50b0220.9a44b","name":"Timer Brewer 1","controller":"dfa31b.5159ece8","itemname":"timerBrewer1","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":1760,"y":200,"wires":[]},{"id":"d13d86c7.ce7ee","type":"change","z":"f50b0220.9a44b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"v\":\"ON\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1275,"y":260,"wires":[["d86e7df9.b5383"]],"l":false},{"id":"d86e7df9.b5383","type":"mqtt out","z":"f50b0220.9a44b","name":"Enable Brewer 1","topic":"cmd/br/0/3/0","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8866ebf.9fd2b18","x":1420,"y":260,"wires":[]},{"id":"f8f6c8ce.2418d8","type":"stoptimer-varidelay","z":"f50b0220.9a44b","duration":"0","durationType":"num","units":"Minute","payloadtype":"str","payloadval":"Countdown expired!","name":"Timer Brewer 1","reporting":"every_second","persist":true,"ignoretimerpass":false,"x":1240,"y":180,"wires":[[],[],["f81c0fd9.ad7ff"]]},{"id":"74394321.4e0c9c","type":"stoptimer-varidelay","z":"f50b0220.9a44b","duration":"0","durationType":"num","units":"Minute","payloadtype":"str","payloadval":"Countdown expired!","name":"Timer Brewer 2","reporting":"every_second","persist":true,"ignoretimerpass":false,"x":1400,"y":580,"wires":[[],[],["9a0087da.9dcf3"]]},{"id":"f81c0fd9.ad7ff","type":"function","z":"f50b0220.9a44b","name":"Time conversion","func":"let payload = msg.payload;\nif(payload==\"stopped\") {\n    msg.payload = \"Countdown expired!\"\n    return msg;\n}\nlet array = payload.split(':');\nlet totalHours = array[0];\nlet minutes = array[1];\nlet seconds = array[2];\n\nlet days = Math.floor(totalHours/24);\n\nlet hours = totalHours%24;\n\nmsg.payload =  days + \"d \" + hours + \"h \" + minutes + \"m \" + seconds + \"s\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":200,"wires":[["11f2812d.18be37"]]},{"id":"9a0087da.9dcf3","type":"function","z":"f50b0220.9a44b","name":"Time conversion","func":"let payload = msg.payload;\nif(payload==\"stopped\") {\n    msg.payload = \"Countdown expired!\"\n    return msg;\n}\nlet array = payload.split(':');\nlet totalHours = array[0];\nlet minutes = array[1];\nlet seconds = array[2];\n\nlet days = Math.floor(totalHours/24);\n\nlet hours = totalHours%24;\n\nmsg.payload =  days + \"d \" + hours + \"h \" + minutes + \"m \" + seconds + \"s\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":620,"wires":[["500e012d.ebc318"]]},{"id":"6c65c242.bb44ec","type":"influxdb out","z":"f50b0220.9a44b","influxdb":"bcebe6c8.34832","name":"Store in DB1","measurement":"activeRecipe1","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1090,"y":340,"wires":[]},{"id":"55d0d28d.1f0b0c","type":"influxdb out","z":"f50b0220.9a44b","influxdb":"bcebe6c8.34832","name":"Store in DB2","measurement":"activeRecipe2","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1090,"y":400,"wires":[]},{"id":"e2fa390e.fe9bf8","type":"function","z":"f50b0220.9a44b","name":"Reset variables","func":"let device = 0;\n\nglobal.set(\"brewer_\"+device+\"_minTemp\", null);\nglobal.set(\"brewer_\"+device+\"_maxTemp\", null);\n\nglobal.set(\"brewer_\"+device+\"_tempAlarm\", null);\n","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":320,"wires":[]},{"id":"718d2a44.a47884","type":"function","z":"f50b0220.9a44b","name":"Reset variables","func":"let device = 10;\n\nglobal.set(\"brewer_\"+device+\"_minTemp\", null);\nglobal.set(\"brewer_\"+device+\"_maxTemp\", null);\n\nglobal.set(\"brewer_\"+device+\"_tempAlarm\", null);\n","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":900,"wires":[]},{"id":"c4f8f7a0.1f9298","type":"subflow:70cc3139.1d081","z":"f50b0220.9a44b","name":"","env":[],"x":1320,"y":360,"wires":[]},{"id":"1ab29f63.615ce9","type":"subflow:f3598cd5.09b59","z":"f50b0220.9a44b","name":"","env":[],"x":950,"y":240,"wires":[]},{"id":"16dab1a8.b464b6","type":"change","z":"f50b0220.9a44b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":695,"y":240,"wires":[["1ab29f63.615ce9"]],"l":false},{"id":"86beda4e.086f68","type":"change","z":"f50b0220.9a44b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":895,"y":800,"wires":[["bbf8116f.89b31"]],"l":false},{"id":"bbf8116f.89b31","type":"subflow:f3598cd5.09b59","z":"f50b0220.9a44b","name":"","x":1050,"y":800,"wires":[]},{"id":"8866ebf.9fd2b18","type":"mqtt-broker","name":"HiveMQ","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"dfa31b.5159ece8","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""}]
