Node-RED/recipeMGMT.json
[{"id":"295f000a.61436","type":"subflow","name":"Verification process","info":"","category":"","in":[{"x":340,"y":300,"wires":[{"id":"4d7d233c.73d80c"},{"id":"1cce8e71.de00a2"}]}],"out":[{"x":1020,"y":300,"wires":[{"id":"1cce8e71.de00a2","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"4d7d233c.73d80c","type":"subflow:82e5cc40.907c3","z":"295f000a.61436","name":"","env":[],"x":520,"y":220,"wires":[["91c0efc9.ef466"],["69ced897.538c78"]]},{"id":"69ced897.538c78","type":"change","z":"295f000a.61436","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"OK","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"BUSY","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":635,"y":260,"wires":[["91c0efc9.ef466"]],"l":false},{"id":"1cce8e71.de00a2","type":"function","z":"295f000a.61436","name":"Acceptance","func":"if(msg.complete === undefined){\n    context.set('recipe', msg.payload);\n    node.done();\n} \nelse{\n    let recipe = context.get('recipe');\n    node.send({\n        payload : recipe\n    });\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":300,"wires":[[]]},{"id":"91c0efc9.ef466","type":"switch","z":"295f000a.61436","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":695,"y":220,"wires":[["a4f49854.5089f8"]],"l":false},{"id":"a4f49854.5089f8","type":"change","z":"295f000a.61436","name":"","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":755,"y":220,"wires":[["1cce8e71.de00a2"]],"l":false},{"id":"142da814.ea1df8","type":"subflow","name":"Clean DB","info":"","category":"","in":[{"x":120,"y":340,"wires":[{"id":"195606a1.5ff7c9"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"5f78d4df.03900c","type":"influxdb in","z":"142da814.ea1df8","influxdb":"e3e40628.13b788","name":"Get the key","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":510,"y":340,"wires":[["711d5c3d.e36a44"]]},{"id":"94395db9.fe98e","type":"influxdb out","z":"142da814.ea1df8","influxdb":"e3e40628.13b788","name":"Delete the record","measurement":"","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1050,"y":340,"wires":[]},{"id":"711d5c3d.e36a44","type":"function","z":"142da814.ea1df8","name":"Create deletion query","func":"let time = msg.payload;\n\nmsg.query = \"DELETE FROM activeQuery WHERE time = '\"+time+\"'\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":340,"wires":[["94395db9.fe98e"]]},{"id":"195606a1.5ff7c9","type":"function","z":"142da814.ea1df8","name":"Create selection query","func":"let device = msg.payload.devInstance;\nmsg.query = \"SELECT time FROM activeRecipe WHERE \\\"devInstance\\\" = '\"+device+\"'\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":340,"wires":[["5f78d4df.03900c"]]},{"id":"749a179f.5732f8","type":"subflow","name":"New Recipe from Openhab","info":"","category":"","in":[],"out":[{"x":700,"y":320,"wires":[{"id":"68887c7e.06f834","port":0},{"id":"114b31b5.fa8bae","port":0},{"id":"8ef9d45b.ca51d8","port":0},{"id":"d2b8b757.24d438","port":0},{"id":"71ed9764.caf2f8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"68887c7e.06f834","type":"openhab2-in2","z":"749a179f.5732f8","name":"Recipe name","controller":"a346c346.c5e3a","itemname":"nameRecipe","topic":"name","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":350,"y":160,"wires":[["7931d8c5.963ca8"]]},{"id":"114b31b5.fa8bae","type":"openhab2-in2","z":"749a179f.5732f8","name":"Recipe duration (days)","controller":"a346c346.c5e3a","itemname":"durationFermentation","topic":"duration","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":380,"y":220,"wires":[["e6290594.cd14a8"]]},{"id":"d2b8b757.24d438","type":"openhab2-in2","z":"749a179f.5732f8","name":"Recipe max temperature","controller":"a346c346.c5e3a","itemname":"maxTempRecipe","topic":"max","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":390,"y":360,"wires":[["4dd6e0bf.47463"]]},{"id":"71ed9764.caf2f8","type":"openhab2-in2","z":"749a179f.5732f8","name":"Brewer number ","controller":"a346c346.c5e3a","itemname":"brewerID","topic":"devInstance","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":360,"y":440,"wires":[["e3050eb4.ea9be"]]},{"id":"8ef9d45b.ca51d8","type":"openhab2-in2","z":"749a179f.5732f8","name":"Recipe min temperature","controller":"a346c346.c5e3a","itemname":"minTempRecipe","topic":"min","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":380,"y":280,"wires":[["f4b562d7.672b"]]},{"id":"e397b639.237d98","type":"openhab2-out2","z":"749a179f.5732f8","name":"Recipe name","controller":"a346c346.c5e3a","itemname":"nameRecipe","topic":"ItemUpdate","payload":"","onlywhenchanged":false,"x":1090,"y":160,"wires":[]},{"id":"7247f63e.e0fda8","type":"openhab2-out2","z":"749a179f.5732f8","name":"Recipe duration","controller":"a346c346.c5e3a","itemname":"durationFermentation","topic":"ItemUpdate","payload":"","onlywhenchanged":false,"x":1100,"y":220,"wires":[]},{"id":"cdef62b8.b0e53","type":"openhab2-out2","z":"749a179f.5732f8","name":"Recipe min temperature","controller":"a346c346.c5e3a","itemname":"minTempRecipe","topic":"ItemUpdate","payload":"","onlywhenchanged":false,"x":1130,"y":280,"wires":[]},{"id":"4ef737e3.7101c8","type":"openhab2-out2","z":"749a179f.5732f8","name":"Recipe max temperature","controller":"a346c346.c5e3a","itemname":"maxTempRecipe","topic":"ItemUpdate","payload":"","onlywhenchanged":false,"x":1130,"y":360,"wires":[]},{"id":"554155ad.5d417c","type":"openhab2-out2","z":"749a179f.5732f8","name":"Brewer number","controller":"a346c346.c5e3a","itemname":"brewerID","topic":"ItemUpdate","payload":"","onlywhenchanged":false,"x":1100,"y":440,"wires":[]},{"id":"7931d8c5.963ca8","type":"change","z":"749a179f.5732f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":160,"wires":[["e397b639.237d98"]]},{"id":"e6290594.cd14a8","type":"change","z":"749a179f.5732f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":220,"wires":[["7247f63e.e0fda8"]]},{"id":"f4b562d7.672b","type":"change","z":"749a179f.5732f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":280,"wires":[["cdef62b8.b0e53"]]},{"id":"4dd6e0bf.47463","type":"change","z":"749a179f.5732f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":360,"wires":[["4ef737e3.7101c8"]]},{"id":"e3050eb4.ea9be","type":"change","z":"749a179f.5732f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":440,"wires":[["554155ad.5d417c"]]},{"id":"82e5cc40.907c3","type":"subflow","name":"Query process","info":"","category":"","in":[{"x":320,"y":340,"wires":[{"id":"8d102e8b.b3fc1"}]}],"out":[{"x":860,"y":300,"wires":[{"id":"8d102e8b.b3fc1","port":0}]},{"x":1100,"y":480,"wires":[{"id":"30d85c58.3ac724","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"f86890ad.7deb5","type":"influxdb in","z":"82e5cc40.907c3","influxdb":"e3e40628.13b788","name":"Query","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":670,"y":480,"wires":[["30d85c58.3ac724"]]},{"id":"30d85c58.3ac724","type":"function","z":"82e5cc40.907c3","name":"Check Result","func":"let array = msg.payload;\n\nlet result = \"\";\nif(array.length>0) {\n    result = \"BUSY\";\n}\n\nelse {\n    \n    result = \"OK\";\n}\n\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":480,"wires":[[]]},{"id":"8d102e8b.b3fc1","type":"function","z":"82e5cc40.907c3","name":"Create Query","func":"let device = parseInt(msg.payload);\nlet result=null;\nlet query = \"select * from activeRecipe where \\\"devInstance\\\" =  '\" + device + \"'\";\nif(device==0 || device>2) {\n    result = {\n        payload: \"UNAVAILABLE\"\n    }\n    msg = null;\n}\nelse {\n    msg = {\n        query : query\n    }\n}\nreturn [result, msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":490,"y":440,"wires":[[],["f86890ad.7deb5"]]},{"id":"f50b0220.9a44b","type":"tab","label":"Recipe MGMT","disabled":false,"info":""},{"id":"c64c66f7.424968","type":"switch","z":"f50b0220.9a44b","name":"","property":"payload.devInstance","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":935,"y":380,"wires":[["ccf3950f.92fe38"],["827ad312.07d03"]],"l":false},{"id":"ccf3950f.92fe38","type":"function","z":"f50b0220.9a44b","name":"Activate Brewer 1","func":"let days = parseInt(msg.payload.duration);\nlet name = {\n    payload: msg.payload.name\n}\nlet minutes = (days*24)*60;\nlet countdown = {\n    payload : parseInt(minutes),\n    topic : \"control\"\n}\n\n\nreturn [countdown, name];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1090,"y":340,"wires":[["504fa5d5.9c553c"],["25e1539e.7a747c"]]},{"id":"827ad312.07d03","type":"function","z":"f50b0220.9a44b","name":"Activate Brewer 2","func":"let days = parseInt(msg.payload.duration);\nlet name = {\n    payload: msg.payload.name\n}\nlet minutes = (days*24)*60;\nlet countdown = {\n    payload : parseInt(minutes),\n    topic : \"control\"\n}\n\n\nreturn [name, countdown];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1090,"y":420,"wires":[["e1d639e.87788c8"],["bdf55e3c.1f54a"]]},{"id":"294ef8d0.65e468","type":"mqtt out","z":"f50b0220.9a44b","name":"Enable Brewer 2","topic":"cmd/br/10/3/0","qos":"1","retain":"true","broker":"8866ebf.9fd2b18","x":1750,"y":460,"wires":[]},{"id":"d5f34efd.b86e1","type":"mqtt out","z":"f50b0220.9a44b","name":"Enable Brewer 1","topic":"cmd/br/0/3/0","qos":"1","retain":"true","broker":"8866ebf.9fd2b18","x":1750,"y":140,"wires":[]},{"id":"8164efb3.bf407","type":"inject","z":"f50b0220.9a44b","name":"Stop Br 1 Request","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":770,"y":120,"wires":[["4516be0a.bc7c9","3f38498d.167f26","fb48a372.28143"]]},{"id":"d5cb5f42.786ba","type":"join","z":"f50b0220.9a44b","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":570,"y":380,"wires":[["d44b65b0.32d118"]]},{"id":"7bc1ca7.1f50434","type":"influxdb out","z":"f50b0220.9a44b","influxdb":"e3e40628.13b788","name":"Store in DB","measurement":"provaPazzaFabri","precision":"ms","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1010,"y":480,"wires":[]},{"id":"6d968380.55bcbc","type":"openhab2-in2","z":"f50b0220.9a44b","d":true,"name":"Check Request","controller":"a346c346.c5e3a","itemname":"checkBrewerID","topic":"","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":false,"changedfrom":"","changedto":"","x":340,"y":860,"wires":[["fcd9932f.87b07"]]},{"id":"68d60da.4906af4","type":"openhab2-out2","z":"f50b0220.9a44b","d":true,"name":"Brewer Availability","controller":"a346c346.c5e3a","itemname":"checkBrewerAvailable","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":930,"y":860,"wires":[]},{"id":"fcd9932f.87b07","type":"subflow:82e5cc40.907c3","z":"f50b0220.9a44b","name":"","env":[],"x":540,"y":860,"wires":[["68d60da.4906af4"],["2de45536.93497a"]]},{"id":"2de45536.93497a","type":"change","z":"f50b0220.9a44b","name":"Change payload","rules":[{"t":"change","p":"payload","pt":"msg","from":"OK","fromt":"str","to":"OK. You can insert the recipe.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":920,"wires":[["68d60da.4906af4"]]},{"id":"bb7ea92b.56a338","type":"subflow:749a179f.5732f8","z":"f50b0220.9a44b","name":"","env":[],"x":370,"y":380,"wires":[["d5cb5f42.786ba"]]},{"id":"25e1539e.7a747c","type":"debug","z":"f50b0220.9a44b","d":true,"name":"OPENHAB(ITEM ACTIVE RECIPE NAME) BREWER1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1480,"y":360,"wires":[]},{"id":"f2f2fee9.84b8a","type":"function","z":"f50b0220.9a44b","name":"Time conversion","func":"let totalMinutes = msg.payload;\nlet totalHours = totalMinutes/60;\nlet days = Math.floor(totalHours/24);\n\nlet minutes = totalMinutes%60;\nlet hours = Math.floor(totalHours)%24;\n\nmsg.payload = days + \"d, \" + hours + \"h, \" + minutes + \"mins\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1500,"y":260,"wires":[["b515a75.548cc58"]]},{"id":"504fa5d5.9c553c","type":"countdown","z":"f50b0220.9a44b","name":"","topic":"","payloadTimerStart":"true","payloadTimerStartType":"bool","payloadTimerStop":"false","payloadTimerStopType":"bool","timer":"10","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":true,"minuteCounter":true,"x":1330,"y":220,"wires":[["3dbf32cf.ba686e"],["f2f2fee9.84b8a"]]},{"id":"b515a75.548cc58","type":"debug","z":"f50b0220.9a44b","name":"OPENHAB ( TIMER) BREWER 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1820,"y":240,"wires":[]},{"id":"e1d639e.87788c8","type":"debug","z":"f50b0220.9a44b","d":true,"name":"OPENHAB(ITEM ACTIVE RECIPE NAME) BREWER1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1480,"y":400,"wires":[]},{"id":"bdf55e3c.1f54a","type":"countdown","z":"f50b0220.9a44b","name":"","topic":"","payloadTimerStart":"true","payloadTimerStartType":"bool","payloadTimerStop":"false","payloadTimerStopType":"bool","timer":"10","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":true,"minuteCounter":true,"x":1330,"y":540,"wires":[["6de0cdad.0a1264"],["6ec1b960.926a08"]]},{"id":"6ec1b960.926a08","type":"function","z":"f50b0220.9a44b","name":"Time conversion","func":"let totalMinutes = msg.payload;\nlet totalHours = totalMinutes/60;\nlet days = Math.floor(totalHours/24);\n\nlet minutes = totalMinutes%60;\nlet hours = Math.floor(totalHours)%24;\n\nmsg.payload = days + \"d, \" + hours + \"h, \" + minutes + \"mins\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1500,"y":580,"wires":[["82c3dbf3.9c3a88"]]},{"id":"82c3dbf3.9c3a88","type":"debug","z":"f50b0220.9a44b","name":"OPENHAB ( TIMER) BREWER 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1820,"y":560,"wires":[]},{"id":"51816140.89f45","type":"comment","z":"f50b0220.9a44b","name":"VERIFY AVAILABILITY","info":"","x":340,"y":820,"wires":[]},{"id":"25e6aa2e.ae6676","type":"comment","z":"f50b0220.9a44b","name":"CREATE THE RECIPY","info":"","x":340,"y":340,"wires":[]},{"id":"3dbf32cf.ba686e","type":"switch","z":"f50b0220.9a44b","name":"Start/End","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1480,"y":180,"wires":[["7651f9ba.54c808"],["cb879507.fd5698"]],"outputLabels":["STARTED","EXPIRED"]},{"id":"6de0cdad.0a1264","type":"switch","z":"f50b0220.9a44b","name":"Start/End","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1480,"y":500,"wires":[["53e7122f.cd787c"],["a7457e3f.795e4"]],"outputLabels":["STARTED","EXPIRED"]},{"id":"cb879507.fd5698","type":"change","z":"f50b0220.9a44b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Countdown expired!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1575,"y":200,"wires":[["79addfd9.d7743"]],"l":false},{"id":"a7457e3f.795e4","type":"change","z":"f50b0220.9a44b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Countdown expired!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1575,"y":520,"wires":[["900e0c14.05cf6"]],"l":false},{"id":"7651f9ba.54c808","type":"change","z":"f50b0220.9a44b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"v\":\"ON\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1595,"y":140,"wires":[["d5f34efd.b86e1"]],"l":false},{"id":"53e7122f.cd787c","type":"change","z":"f50b0220.9a44b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"v\":\"ON\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1595,"y":460,"wires":[["294ef8d0.65e468"]],"l":false},{"id":"79addfd9.d7743","type":"delay","z":"f50b0220.9a44b","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1635,"y":200,"wires":[["b515a75.548cc58"]],"l":false},{"id":"f1c1f1c9.8737e","type":"inject","z":"f50b0220.9a44b","name":"Stop Br 2 Request","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":770,"y":640,"wires":[["c3ef481d.f84718","580b7355.303d0c","69ff8a1f.d6bb44"]]},{"id":"a474ee73.be237","type":"comment","z":"f50b0220.9a44b","name":"STOP BREWER 1","info":"","x":730,"y":80,"wires":[]},{"id":"7b4bb0ed.09cb2","type":"comment","z":"f50b0220.9a44b","name":"STOP BREWER 2","info":"","x":730,"y":600,"wires":[]},{"id":"c3ef481d.f84718","type":"change","z":"f50b0220.9a44b","name":"","rules":[{"t":"set","p":"payload.devInstance","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":935,"y":700,"wires":[["a0a9c575.34e078"]],"l":false},{"id":"a0a9c575.34e078","type":"subflow:142da814.ea1df8","z":"f50b0220.9a44b","name":"","x":1040,"y":700,"wires":[]},{"id":"4516be0a.bc7c9","type":"change","z":"f50b0220.9a44b","name":"","rules":[{"t":"set","p":"payload.devInstance","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":935,"y":60,"wires":[["331fdd4.e958d22"]],"l":false},{"id":"331fdd4.e958d22","type":"subflow:142da814.ea1df8","z":"f50b0220.9a44b","name":"","x":1040,"y":60,"wires":[]},{"id":"580b7355.303d0c","type":"mqtt out","z":"f50b0220.9a44b","name":"Disable Brewer 2","topic":"cmd/br/10/3/0","qos":"","retain":"","broker":"8866ebf.9fd2b18","x":1050,"y":640,"wires":[]},{"id":"c9373f83.3533e","type":"change","z":"f50b0220.9a44b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"v\":\"OFF\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":915,"y":640,"wires":[[]],"l":false},{"id":"887fbe6c.a1cea","type":"mqtt out","z":"f50b0220.9a44b","name":"Disable Brewer 1","topic":"cmd/br/10/3/0","qos":"","retain":"","broker":"8866ebf.9fd2b18","x":1050,"y":120,"wires":[]},{"id":"3f38498d.167f26","type":"change","z":"f50b0220.9a44b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"v\":\"OFF\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":915,"y":120,"wires":[["887fbe6c.a1cea"]],"l":false},{"id":"fb48a372.28143","type":"change","z":"f50b0220.9a44b","name":"Stop counter","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":180,"wires":[["504fa5d5.9c553c"]]},{"id":"69ff8a1f.d6bb44","type":"change","z":"f50b0220.9a44b","name":"Stop counter","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":580,"wires":[["bdf55e3c.1f54a"]]},{"id":"900e0c14.05cf6","type":"delay","z":"f50b0220.9a44b","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1635,"y":520,"wires":[["82c3dbf3.9c3a88"]],"l":false},{"id":"d44b65b0.32d118","type":"subflow:295f000a.61436","z":"f50b0220.9a44b","name":"","x":760,"y":380,"wires":[["c64c66f7.424968","7bc1ca7.1f50434"]]},{"id":"8866ebf.9fd2b18","type":"mqtt-broker","name":"HiveMQ","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e3e40628.13b788","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"BrewIoT","name":"BrewIoT","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"a346c346.c5e3a","type":"openhab2-controller2","name":"Openhab","protocol":"http","host":"192.168.1.165","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""}]
